<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="robots" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta property="og:title" content="">
    <meta property="og:description" content="">
    <meta property="og:image" content="">
    <meta name="format-detection" content="">

    <title>LOGIN</title>

    <link href="/static/css/bootstrap-select.min.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">

</head>

<body class="vh-100">
<div class="page-wraper">

    <div class="browse-job login-style3">
        <div class="bg-img-fix overflow-hidden" style="background:#fff url(/static/images/bg6.jpg); height: 100vh;">
            <div class="row gx-0">
                <div class="col-xl-4 col-lg-5 col-md-6 col-sm-12 vh-100 bg-white ">
                    <div id="mCSB_1" class="mCustomScrollBox mCS-light mCSB_vertical mCSB_inside"
                         style="max-height: 653px;" tabindex="0">
                        <div id="mCSB_1_container" class="mCSB_container" style="position:relative; top:0; left:0;"
                             dir="ltr">
                            <div class="login-form style-2">
                                <div class="card-body">
                                    <nav>
                                        <div class="nav nav-tabs border-bottom-0" id="nav-tab" role="tablist">

                                            <div class="tab-content w-100" id="nav-tabContent">
                                                <div class="tab-pane fade show active" id="nav-personal" role="tabpanel"
                                                     aria-labelledby="nav-personal-tab">
                                                    <div class="_data dz-form pb-3">
                                                        <div class="dz-separator-outer m-b5">
                                                            <div class="dz-separator bg-primary style-liner"></div>
                                                        </div>
                                                        <div class="form-group mb-3">
                                                            <input type="text" class="form-control" name="username"
                                                                   placeholder="username">
                                                        </div>
                                                        <div class="form-group mb-3">
                                                            <input type="password" class="form-control" name="password"
                                                                   placeholder="password">
                                                        </div>
                                                        <div class="form-group text-left mb-5 forget-main">
                                                            <button type="submit" class="btn btn-primary js-check-user">
                                                                Войти
                                                            </button>

                                                        </div>
                                                    </div>
                                                    <div class="text-center bottom">
                                                        <a class="nav-link m-auto btn tp-btn-light btn-primary forget-tab "
                                                               href="https://t.me/edu_tests_bot" target="_blank">Забыл
                                                                пароль ?
                                                            </a>
                                                        <a href="https://t.me/edu_tests_bot" target="_blank"
                                                           class="btn btn-primary button-md btn-block">Создать
                                                            новый аккаунт
                                                        </a>

                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </nav>
                                </div>
                            </div>
                        </div>
                        <div id="mCSB_1_scrollbar_vertical"
                             class="mCSB_scrollTools mCSB_1_scrollbar mCS-light mCSB_scrollTools_vertical"
                             style="display: block;">
                            <div class="mCSB_draggerContainer">
                                <div id="mCSB_1_dragger_vertical" class="mCSB_dragger"
                                     style="position: absolute; min-height: 0px; display: block; height: 652px; max-height: 643px; top: 0px;">
                                    <div class="mCSB_dragger_bar" style="line-height: 0px;"></div>
                                    <div class="mCSB_draggerRail"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/static/js/global.min.js"></script>
<script src="/static/js/bootstrap-select.min.js"></script>
<script src="/static/js/deznav-init.js"></script>
<script src="/static/js/custom.js"></script>
<script src="/static/js/demo.js"></script>

<script src="/static/js/jquery-3.6.0.min.js"></script>
<script src="/static/js/manage.js"></script>

<script>
    function login() {
        var new_data = getValues('._data')
        console.log(new_data)
        $.ajax({
            type: 'POST',
            dataType: 'json',
            url: '/admin/login/',
            data: JSON.stringify(new_data),
            success: function (d) {
                if (d['_success'] === true) {
                    location.href = d['url']
                } else {
                    alert(d['message'])
                }
            },
            error: function (d) {
                alert("errors")
            }
        });
        return false;
    }

    $('.js-check-user').click(function () {
        login()
    });

    $(document).on("keypress", function (e) {
        if (e.which === 13) {
            $('.js-check-user').click();
        }
    });

</script>

</body>
</html>