{% extends 'admin/base.html' %}
{% block container %}
<div class="nk-content-body">
    <div class="nk-block nk-block-lg">
        <div class="card">
            <div class="card-aside-wrap">
                <div class="card-content">
                    <div class="card-inner">
                        <div class="tab-content">
                            <div class="tab-pane show active" id="tabItem2" role="tabpanel">
                                <div class="nk-block">
                                    <div class="row g-3">
                                        <div class="col-6">
                                            <div class="form-group">
                                                <div class="form-control-wrap">
                                                    <div class="form-icon form-icon-right"><em
                                                            class="icon ni ni-calendar"></em>
                                                    </div>
                                                    <input type="text" class="form-control date-picker"
                                                           value="{{start_date}}" id="filter-start-date"
                                                           data-date-format="yyyy-mm-dd">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-group">
                                                <div class="form-control-wrap">
                                                    <div class="form-icon form-icon-right"><em
                                                            class="icon ni ni-calendar"></em>
                                                    </div>
                                                    <input type="text" class="form-control date-picker"
                                                           value="{{stop_date}}" id="filter-stop-date"
                                                           data-date-format="yyyy-mm-dd"></div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="form-control-wrap" id="VisitUsers">

                                                </div>
                                            </div>
                                        </div>
                                        <div class="search-content">
                                            <button class="btn btn-icon" onclick="searchFilter()"><em
                                                    class="icon ni ni-search"></em></button>
                                        </div>
                                    </div>
                                </div>


                                <div class="nk-block">
                                    <div class="card">
                                        <div class="nk-tb-list nk-tb-ulist is-compact">
                                            <div class="nk-tb-item nk-tb-head">
                                                <div class="nk-tb-col"><span>ФИ</span></div>
                                                <div class="nk-tb-col"><span>Количество</span></div>
                                                <div class="nk-tb-col"><span>Сумма</span></div>
                                            </div>
                                            {% for user in users %}
                                            <div class="nk-tb-item">
                                                <div class="nk-tb-col">
                                                    <div class="user-card">
                                                        <div class="user-avatar bg-primary-dim">
                                                            <span>
                                                                {{user.last_name[:1]|upper}}{{user.first_name[:1]|upper}}
                                                            </span>
                                                        </div>
                                                        <div class="user-info">
                                                            <span class="tb-lead">
                                                                {{user.last_name}} {{user.first_name[:1]|upper}}
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="nk-tb-col">
                                                    <div>
                                                        <span>Завершено: {{user.finish_count}}</span>
                                                    </div>
                                                    <div>
                                                        <span>Отменено: {{user.cancel_count}}</span>
                                                    </div>
                                                    <div>
                                                        <span>Оплачено : {{user.paid_count}}</span>
                                                    </div>
                                                    <div>
                                                        <span>Общий: {{user.all_count}}</span>
                                                    </div>
                                                </div>
                                                <div class="nk-tb-col">
                                                    <div>
                                                        <span>Оплачено: {{user.sum_paid}}</span>
                                                    </div>
                                                    <div>
                                                        <span>Общий: {{user.all_sum}}</span>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endfor %}
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script>
    $('li[data-li="analytics"]').addClass('active')
    $('li[data-li="analytics-visits-reasons"]').addClass('active')

    let urlParams = new URLSearchParams(window.location.search);

    function searchFilter() {
        if (urlParams.has('start_date')) {
            urlParams.delete('start_date')
        }

        if (urlParams.has('stop_date')) {
            urlParams.delete('stop_date')
        }

        urlParams.append('start_date', $('#filter-start-date').val())
        urlParams.append('stop_date', $('#filter-stop-date').val())
        console.log(urlParams.toString())
        window.location.href = window.location.protocol + '//' + window.location.host + window.location.pathname + '?' + urlParams.toString()
    }

    async function actionLesson(lessonId, action) {
        try {
            let response = await fetch('/api/lessons/', {
                method: 'POST',
                body: JSON.stringify({
                    'action': action,
                    'lesson_id': lessonId
                })
            });

            response = await response.json();
            if (response._success === true) {
                location.reload();
            } else {
                alert(response.message);
            }

        } catch (error) {
            alertShow('waring', `${error.message}`);
        }
    }

</script>

{% endblock %}