{% extends 'admin/base.html' %}
{% block namePage %}
<button type="button" onclick="backUrl()" class="btn btn-page"><span class="btn-icon-start text-info"><i
        class="fa fa-left-long color-info"></i></span>Назад
</button>
Ответы
{% endblock %}
{% block container %}
<div class="element-area">
    <div class="demo-view">
        <div class="container-fluid pt-0 ps-0 pe-lg-4 pe-0">
            <div class="col-xl-12">
                <div class="card dz-card" id="basic-list">
                    <div class="card-header d-flex justify-content-between ">
                        <ul class="nav nav-tabs dzm-tabs" id="myTab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <a class="nav-link" id="add_question">Создать
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="BasicList" role="tabpanel"
                             aria-labelledby="home-tab">
                            <div class="card-body">
                                <div class="basic-list-group">
                                    <ul class="list-group" id="list_items">

                                    </ul>
                                    <ul class="list-group" id="list_answers">

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script>
    let curl_url = location.pathname.split('/');
    let lesson_id = null;
    let question_id = curl_url[curl_url.length - 1] || curl_url[curl_url.length - 2];

    function backUrl() {
        if (lesson_id) {
            location.href = '/api/testings/questions/' + lesson_id.toString() + '/template/'
        } else {
            window.history.back();
        }
    }

    function addEditAnswersDeleteButtons(Element, item) {
        let newSpan = $('<span>');

        let newButtonEdit = $('<a>').addClass('btn btn-primary shadow btn-xs sharp me-1');
        newButtonEdit.append($('<i>').addClass('fa fa-pencil'));
        newSpan.append(newButtonEdit);

        let newButtonDelete = $('<a>').addClass('btn btn-danger shadow btn-xs sharp me-1');
        newButtonDelete.append($('<i>').addClass('fa fa-trash'));
        newSpan.append(newButtonDelete);

        let newCheckBox = $('<input>').addClass('form-check-input').css({
            'background-color': '#3A9B94',
            'border-color': '#3A9B94',
            'font-size': '14px',
            'font-weight': 600
        });

        if (item.is_currect === 1) {
            newCheckBox.attr({
                type: 'checkbox',
                disabled: 'disabled',
                checked: 'checked'
            })
        } else {
            newCheckBox.attr({
                type: 'checkbox',
                disabled: 'disabled',
            })
        }
        newSpan.append(newCheckBox);

        Element.append(newSpan);

        $(newButtonEdit).on("click", function () {
            showEditInput(Element, item)
        });

        $(newButtonDelete).on("click", function () {
            deleteQuestion(item)
        });
    }

    function showDataItem(item) {
        let newElement = $('<li>')
            .text(item.title)
            .addClass('list-group-item d-flex justify-content-between align-items-center js-question-item')
            .attr("data-id", item.id)
        ;

        addEditAnswersDeleteButtons(newElement, item);

        $("#list_items").append(newElement);
    }

    function showEditInput(element, item) {
        element.text('')

        let newInput = $('<input>').attr('name', 'title').addClass('form-control').css('margin-right', '1%').val(item.title)
        element.append(newInput);

        let newButtonSave = $('<a>').addClass('btn btn-success shadow btn-xs sharp me-1');
        newButtonSave.append($('<i>').addClass('fa fa-check'));
        element.append(newButtonSave);

        let newButtonCancel = $('<a>').addClass('btn btn-warning shadow btn-xs sharp me-1');
        newButtonCancel.append($('<i>').addClass('fa fa-cancel'));
        element.append(newButtonCancel);

        let newCheckBox = $('<input>').addClass('form-check-input')
        if (item.is_currect === 1) {
            newCheckBox.attr({
                type: 'checkbox',
                checked: 'checked'
            })
        } else {
            newCheckBox.attr({
                type: 'checkbox',
            })
        }
        let item_is_currect = item.is_currect
        newCheckBox.on('change', function () {
            if (item_is_currect === 1) {
                item_is_currect = 0
            } else {
                item_is_currect = 1
            }
        });
        element.append(newCheckBox);

        newButtonSave.on('click', function () {
            updateQuestion(item, {
                title: newInput.val(),
                is_currect: item_is_currect
            })
        });

        newButtonCancel.on('click', function () {
            element.text(item.title);
            addEditAnswersDeleteButtons(element, item)
        });
    }

    getDataItems();

    function getDataItems() {
        $.ajax({
            type: 'GET',
            dataType: 'json',
            url: '/api/testings/answers/' + question_id.toString() + '/list/',
            success: function (d) {
                if (d['_success'] === true) {
                    $('#list_items').empty();

                    if (!lesson_id) {
                        lesson_id = d.lesson_id
                    }

                    $.each(d['answers'], function (index, item) {
                        showDataItem(item)
                    });
                } else {
                    alertShow(d['message'], 'error');
                }
            },
            error: function (d) {
                alertShow('waring');
            }
        })
    }


    $('#add_question').click(function () {
        var newElementLi = $('<li>')
            .addClass('list-group-item d-flex justify-content-between align-items-center new-column-question js-question-item')
        ;
        let title = $('<input>').attr('name', 'title').addClass('form-control').css('margin-right', '1%')
        newElementLi.append(title);

        var newButtonCheck = $('<a>').addClass('btn btn-success shadow btn-xs sharp me-1');
        newButtonCheck.append($('<i>').addClass('fa fa-check'));
        newElementLi.append(newButtonCheck);

        var newButtonCancel = $('<a>').addClass('btn btn-warning shadow btn-xs sharp me-1');
        newButtonCancel.append($('<i>').addClass('fa fa-cancel'));
        newElementLi.append(newButtonCancel);

        newButtonCancel.on('click', function () {
            $('.new-column-question').remove();
        });

        let newCheckBox = $('<input>').addClass('form-check-input').attr({
            type: 'checkbox',
        })

        let item_is_currect = 0
        newCheckBox.on('change', function () {
            if (item_is_currect === 1) {
                item_is_currect = 0
            } else {
                item_is_currect = 1
            }
        });
        newElementLi.append(newCheckBox);

        newButtonCheck.on('click', function () {
            insertQuestion({
                'title': title.val(),
                'is_currect': item_is_currect
            })

        });

        $("#list_items").prepend(newElementLi);
    });

    function deleteQuestion(item) {
        $.ajax({
            type: 'DELETE',
            dataType: 'json',
            url: '/api/testings/answers/' + item.id.toString(),
            success: function (d) {
                if (d['_success'] === true) {
                    alertShow('success');
                    getDataItems();
                } else {
                    alertShow('error', d['message'])
                }
            },
            error: function (d) {
                alertShow('waring')
            }
        });
    }

    function insertQuestion(item) {
        $.ajax({
            type: 'POST',
            dataType: 'json',
            url: '/api/testings/answers/' + question_id.toString() + '/list/',
            data: JSON.stringify(item),
            success: function (d) {
                if (d['_success'] === true) {
                    alertShow('success')
                    getDataItems();
                } else {
                    alertShow('error', d['message']);
                }
            },
            error: function (d) {
                alertShow('waring');
            }
        });
    }

    function updateQuestion(item, body) {
        $.ajax({
            type: 'POST',
            dataType: 'json',
            url: '/api/testings/answers/' + item.id.toString(),
            data: JSON.stringify(body),
            success: function (d) {
                if (d['_success'] === true) {
                    alertShow('success');
                    getDataItems();
                } else {
                    alertShow('error', d['message'])
                }
            },
            error: function (d) {
                alertShow('waring')
            }
        });
    }


</script>
{% endblock %}