{% extends 'admin/base.html' %}
{% block namePage %}
Чат
{% endblock %}
{% block container %}
<input type="hidden" id="currentUser" value="{{_user.id}}">
<div class="row gx-0">
    <div class="col-xl-12">
        <div class="card overflow-hidden">
            <div class="card-body p-0">
                <div class="row gx-0">
                    <div class="col-xl-3 col-lg-6 col-sm-5 chat-border mobile-chat chat-left-area">
                        <div class="chat-p shaprate">
                            <span>
                                <a class="btn btn-primary shadow sharp me-1" onclick="getUsers()">
                                    <i class="fa fa-user"></i>
                                </a>
                                <a class="btn btn-primary shadow sharp me-1" onclick="getChats()">
                                    <i class="fa fa-list"></i>
                                </a>
                            </span>
                        </div>

                        <div class="c-list">
                            <div class="input-group search-area">
                                <input type="text" class="form-control" placeholder="Поиск " id="userSearch">
                                <span class="input-group-text"><a href="javascript:void(0)">
                                    <svg width="18" height="19" viewBox="0 0 18 19" fill="none"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <circle cx="8.82495" cy="9.32491" r="6.74142" stroke="#0D99FF"
                                                stroke-linecap="round" stroke-linejoin="round"></circle>
													<path d="M13.5137 14.3638L16.1568 16.9999" stroke="#0D99FF"
                                                          stroke-linecap="round" stroke-linejoin="round"></path>
                                    </svg></a></span>
                            </div>
                        </div>
                        <div class="people-list dz-scroll" id="list_users">

                        </div>
                    </div>
                    <div class="col-xl-9 col-lg-6 col-sm-7 chat-border">
                        <div class="chat-p shaprate" id="activeChatHeader">

                        </div>
                        <div class="chat-box-area style-2 dz-scroll" id="activeChatBody">

                        </div>
                        <div class="message-send style-2" id="activeChatFooter">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
<script src="/static/js/apexchart.js"></script>
<script src="/static/js/Chart.bundle.min.js"></script>
<script>
    $('.container-fluid').css({
        'padding': '0 1.875rem'
    })

    let paramUser = {}

    getChats(paramUser);

    clearChat();

    setInterval(function () {
        getChats(paramUser);
    }, 20000);

    let activeChatUserId = null
    const activeUserId = parseInt($('#currentUser').val())

    let socketUrl = 'ws://' + location.hostname + ':8129/ws/chats/'
    if (location.hostname === 'edu.tests.kz') {
        socketUrl = 'ws://' + location.hostname + '/ws/chats/'
    }

    const conn = new WebSocket(socketUrl);
    conn.onopen = function () {
        console.log('open')
        var e = JSON.stringify({
            action: 'open',
            user_id: activeUserId
        })
        conn.send(e)
    };

    conn.onmessage = function (event) {
        console.log('onmessage')
        let data = $.parseJSON(event.data);
        console.log(data)
        console.log(activeChatUserId)
        if (activeChatUserId === data.userId) {
            console.log('show')
            showMessage(data);
        }
    }

    function clearChat() {
        $('#activeChatFooter').hide();
        $('#activeChatHeader').hide();
        $('#activeChatBody').hide();
    }

    function clearUsers() {
        $('#list_users').empty()
    }

    function showUser(user) {
        let elementMainDiv = $('<div>').addClass('chat-p style-1');
        let elementInfoDiv = $('<div>').addClass('d-flex');

        let elementInfoDivImg = $('<img>').addClass('avatar avatar-lg  rounded-circle')
        let photoUrl = '/static/images/no-image.avif/'
        if (user.photo) {
            photoUrl = '/static/uploads/' + user.photo + '/'
        }
        elementInfoDivImg.attr({
            src: photoUrl
        })
        elementInfoDiv.append(elementInfoDivImg)

        let elementInfoMS = $('<div>').addClass('ms-2')

        elementInfoMS.append(
            $('<h6>').addClass('mb-0').text(user.last_name + ' ' + user.first_name)
        )

        if (user.last_message) {
            elementInfoMS.append($('<span>').text(user.last_message))
        }

        elementInfoDiv.append(elementInfoMS)
        elementMainDiv.append(elementInfoDiv)

        $('#list_users').append(elementMainDiv)

        $(elementMainDiv).on('click', function () {
            addActiveChatHeader(user);
            addActiveChatFooter(user);
            addActiveChatBody(user);
        })
    }

    function getUsers(paramUser) {
        let paramsString = $.param(paramUser);
        let apiUrl = '/api/users/list/?';
        if (paramsString) {
            apiUrl += paramsString
        }

        $.ajax({
            type: 'GET',
            dataType: 'json',
            url: apiUrl,
            success: function (d) {
                if (d['_success'] === true) {
                    clearUsers();
                    $.each(d['users'], function (index, user) {
                        if (d['user'] && d['user']['id'] === user.id) {

                        } else {
                            showUser(user);
                        }
                    });

                } else {
                    alertShow('error', d['message']);
                }
            },
            error: function (d) {
                alertShow('waring');
            }
        })
    }

    function getChats(paramUser) {
        clearUsers();

        let paramsString = $.param(paramUser);
        let apiUrl = '/api/chats/?';
        if (paramsString) {
            apiUrl += paramsString
        }

        $.ajax({
            type: 'GET',
            dataType: 'json',
            url: apiUrl,
            success: function (d) {
                if (d['_success'] === true) {
                    $.each(d['chats'], function (index, user) {
                        if (d['user'] && d['user']['id'] === user.id) {

                        } else {
                            showUser(user);

                        }

                    });

                } else {
                    alertShow('error', d['message']);
                }
            },
            error: function (d) {
                alertShow('waring');
            }
        })
    }

    $('#userSearch').on('change', function () {
        paramUser.query = $('#userSearch').val()
        getUsers(paramUser)
    })

    function addActiveChatHeader(user) {
        $('#activeChatHeader').show();
        $('#activeChatHeader').empty();

        let elementMainDiv = $('<div>').addClass('d-flex');

        let photoUrl = '/static/images/no-image.avif/'
        if (user.photo) {
            photoUrl = '/static/uploads/' + user.photo + '/'
        }
        elementMainDiv.append(
            $('<img>').addClass('avatar avatar-lg  rounded-circle').attr({
                src: photoUrl
            })
        )

        elementMainDiv.append(
            $('<div>').addClass('ms-2').append(
                $('<h6>').addClass('mb-0').text(user.last_name + ' ' + user.first_name)
            )
        )

        $('#activeChatHeader').append(elementMainDiv)
    }

    function sendMessage(data, element) {
        $.ajax({
            type: 'POST',
            dataType: 'json',
            url: '/api/chats/messages/',
            data: JSON.stringify(data),
            success: function (d) {
                if (d['_success'] === true) {
                    element.val('')
                    showMessage(d)

                    console.log('click')
                    var e = JSON.stringify({
                        action: 'message',
                        recipient_id: data.recipient_id,
                        body: d.body,
                        userId: d.user_id,
                    })
                    console.log('press')
                    conn.send(e)


                } else {
                    alertShow('error', d['message']);
                }
            },
            error: function (d) {
                alertShow('waring');
            }
        })
    }

    function showMessage(message) {
        if (message.is_me === true) {
            let elementDivMessage = $('<div>').addClass('media justify-content-end align-items-end ms-auto')

            let elementDivMessageMedia = $('<div>').addClass('message-sent').css('max-width', '40%').append(
                $('<p>').text(message.body).css('width', '100%')
            )

            let elementTimeSpan = $('<span>').addClass('fs-12')
            $(elementDivMessageMedia).append(elementTimeSpan)

            elementDivMessage.append(elementDivMessageMedia)

            $('#activeChatBody').append(elementDivMessage)
        } else {
            let elementDivMessage = $('<div>').addClass('media').append(
                $('<div>').addClass('message-received w-auto').css('max-width', '40%').append(
                    $('<div>').addClass('d-flex').append(
                        $('<div>').addClass('ms-1 text').append(
                            $('<p>').addClass('mb-1').text(message.body)
                        )
                    )
                )
            )

            let elementTimeSpan = $('<span>').addClass('fs-12')
            $(elementDivMessage).append(elementTimeSpan)

            $('#activeChatBody').append(elementDivMessage)
        }

        scrollTopFunc();
    }

    function addActiveChatBody(user) {
        $('#activeChatBody').show();
        $('#activeChatBody').empty();

        let paramsString = $.param({
            chat_id: user.chat_id,
            recipient_id: user.id,
        });

        activeChatUserId = user.id;

        let apiUrl = '/api/chats/messages/?';
        if (paramsString) {
            apiUrl += paramsString
        }

        $.ajax({
            type: 'GET',
            dataType: 'json',
            url: apiUrl,
            success: function (d) {
                if (d['_success'] === true) {
                    $.each(d['messages'], function (index, message) {
                        showMessage(message);
                    });

                } else {
                    alertShow('error', d['message']);
                }
            },
            error: function (d) {
                alertShow('waring');
            }
        })
    }

    function scrollTopFunc() {
        console.log()
        let h = $('#activeChatBody').scrollTop()
        if (h) {
            $('#activeChatBody').scrollTop(h * 1000);

        } else {
            $('#activeChatBody').scrollTop(10000000000000000000);
        }
    }

    function addActiveChatFooter(user) {
        $('#activeChatFooter').show();
        $('#activeChatFooter').empty();

        let elementMainDiv = $('<div>').addClass('input-group')

        let elementArea = $('<textarea>').attr({
            rows: 1,
            class: 'form-control',
        })
        elementMainDiv.append(elementArea)
        $('#activeChatFooter').append(
            $('<div>').addClass('type-massage style-1').append(elementMainDiv)
        )


        let buttonSend = $('<button>').attr({
            class: 'btn btn-primary p-2',
            type: 'button'
        }).text('Send ')

        buttonSend.append(
            $('<i>').attr({
                class: 'fa fa-paper-plane'
            })
        )
        $('#activeChatFooter').append(buttonSend)

        $(elementArea).keyup(function (event) {
            if (event.key === 'Enter') {
                if (elementArea.val().trim()) {
                    sendMessage({
                        recipient_id: user.id,
                        body: elementArea.val(),
                        action: 'create_chat_and_send',
                    }, elementArea);
                }
            }
        });

        $(buttonSend).on('click', function () {
            if (elementArea.val()) {
                sendMessage({
                    recipient_id: user.id,
                    body: elementArea.val(),
                    action: 'create_chat_and_send',
                }, elementArea);
            }
        })
    }


</script>
{% endblock %}