{% extends 'admin/base.html' %}
{% block namePage %}
<button type="button" id="back_url" class="btn btn-page"><span class="btn-icon-start text-info"><i
        class="fa fa-left-long color-info"></i></span>Назад
</button>Тестирование
{% endblock %}
{% block container %}

<div class="row">
    <div class="col-md-8">
        <div class="card">
            <div class="card-body" id="questionBlog" style="display: none">
                <div class="profile-blog" id="questionBlogDetails">
                </div>
            </div>
            <div class="card" id="main"></div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script>
    let curl_url = location.pathname.split('/');
    let lesson_id = curl_url[curl_url.length - 3];

    function hideQuestionBlog() {
        $('#questionBlog').hide()
    }

    function showStartButton() {
        let newElementDivCartBody = $('<div>').addClass('card-body');
        newElementDivCartBody.append(
            $('<h4>').addClass('card-title').text('ЧТОБ НАЧАТЬ ТЕСТИРОВАНИЕ НАЖМИТЕ НА КНОПКУ')
        )
        newElementDivCartBody.append(
            $('<div>').addClass('card-content').append(
                $('<div>').addClass('sweetalert').append(
                    $('<button>').addClass('btn btn-info btn sweet-auto').text('Начать')
                )
            )
        )
        $(newElementDivCartBody).on('click', function () {
            newElementDivCartBody.remove()
            startSurvey();
        })
        $('#main').append(newElementDivCartBody);
    }

    function showContinueButton() {
        let newElementDivCartBody = $('<div>').addClass('card-body');
        newElementDivCartBody.append(
            $('<h4>').addClass('card-title').text('ЧТОБ ПРОДОЛЖЕНИЕ ТЕСТИРОВАНИЕ НАЖМИТЕ НА КНОПКУ')
        )
        newElementDivCartBody.append(
            $('<div>').addClass('card-content').append(
                $('<div>').addClass('sweetalert').append(
                    $('<button>').addClass('btn btn-info btn sweet-auto').text('продолжить')
                )
            )
        )
        $(newElementDivCartBody).on('click', function () {
            newElementDivCartBody.remove()
            continueSurvey();
        })

        $('#main').append(newElementDivCartBody);
    }

    function addQuestionDetails(question) {
        let self = $('#questionBlogDetails')
        self.empty();
        $('#questionBlog').show()

        self.append(
            $('<h5>').addClass('text-primary d-inline').text(question.title)
        )

        if (question.photo) {
            self.append(
                $('<img>').attr({
                    class: 'img-fluid mt-4 mb-4 w-100 rounded',
                    src: '/static/uploads/' + question.photo
                })
            )
        }

        if (question.audio) {
            self.append(
                $('<audio>').attr({
                    class: 'img-fluid mt-4 mb-4 w-100 rounded',
                    src: '/static/uploads/' + question.audio
                })
            )
        }

        if (question.video_link) {
            self.append(
                $('<h4>').append(
                    $('<a>').attr({
                        class: 'text-black',
                        href: question.video_link
                    }).text('Перейдите по ссылке для просмотра видео')
                )
            )
        }

        if (question.description) {
            self.append(
                $('<p>').attr({
                    class: 'mb-0',
                }).text(question.description)
            )
        }

    }

    function showQuestion(question, isLast) {
        $('#back_url').hide()

        $('#main').empty()

        addQuestionDetails(question);

        let newElementDivCartBody = $('<div>').addClass('card-body');
        let newElementBasicForm = $('<div>').addClass('basic-form');
        let newElementForms = $('<form>')
        let newElementForm = $('<div>').addClass('mb-3 mb-0');

        let retort_id = null

        $.each(question.answers, function (index, answer) {
            let newElementFormDiv = $('<div>').addClass('form-check custom-checkbox mb-2');
            let newElementFormDivInput = $('<input>').addClass('form-check-input').attr({
                id: 'customRadioBox' + answer.id.toString(),
                type: 'radio',
                name: 'answer_id',
                value: answer.id
            });
            let newElementFormDivLabel = $('<label>').addClass('form-check-label').attr({
                for: 'customRadioBox' + answer.id.toString()
            }).text(answer.title);
            $(newElementFormDivInput).on('click', function () {
                retort_id = newElementFormDivInput.val()
            })
            newElementFormDiv.append(newElementFormDivInput)
            newElementFormDiv.append(newElementFormDivLabel)

            newElementForm.append(newElementFormDiv);
        });

        newElementForms.append(newElementForm)
        newElementBasicForm.append(newElementForms)
        newElementDivCartBody.append(newElementBasicForm)

        $('#main').append(newElementDivCartBody);
        let colorButtonNext = 'btn light btn-secondary'
        let TextNext = 'Следущий'

        if (isLast === true) {
            colorButtonNext = 'btn light btn-success'
            TextNext = 'Завершить'
        }
        let newElementNextButton = $('<button>').addClass(colorButtonNext).text(TextNext);
        $('#main').append(newElementNextButton);

        $(newElementNextButton).on('click', function () {
            if (retort_id) {
                checkQuestion(question.id, retort_id)

            } else {
                alertShow('waring', 'Выберите ответ')
            }
        })
        let newElementNextEnd = $('<button>').addClass('btn light btn-danger').text('Выйти');
        $(newElementNextEnd).on('click', function () {
            if (confirm('Вы действительно хотите завершить')) {
                $.ajax({
                    type: 'POST',
                    dataType: 'json',
                    url: '/api/testings/complete/' + lesson_id.toString(),
                    data: JSON.stringify({
                        action: 'end'
                    }),
                    success: function (d) {
                        if (d['_success'] === true) {
                            endSurvey();
                        } else {
                            if (d['is_error'] === true) {
                                alertShow('error', d['message']);
                            } else if (d['is_info'] === true) {
                                alertShow('info', d['message']);
                            }
                        }
                    },
                    error: function (d) {
                        alertShow('waring');
                    }
                })
            }

        })
        $('#main').append(newElementNextEnd);

    }

    function checkQuestion(questionId, answerId) {
        if (questionId && answerId) {
            let apiUrl = '/api/testings/complete/' + lesson_id.toString()

            $.ajax({
                type: 'POST',
                dataType: 'json',
                url: apiUrl,
                data: JSON.stringify({
                    action: 'check_question',
                    question_id: questionId,
                    answer_id: answerId,
                }),
                success: function (d) {
                    console.log(d)
                    if (d['_success'] === true) {
                        getNextQuestion();
                    } else {
                        if (d['is_error'] === true) {
                            alertShow('error', d['message']);
                        } else if (d['is_info'] === true) {
                            alertShow('info', d['message']);
                        }
                    }
                },
                error: function (d) {
                    alertShow('waring');
                }
            })
        }

        return false;
    }

    function endSurvey(result) {
        $('#main').empty();
        $('#questionBlog').hide();
        alertShow('success');
        location.href = '/api/'
    }

    function startSurvey() {
        let apiUrl = '/api/testings/complete/' + lesson_id.toString()

        $.ajax({
            type: 'POST',
            dataType: 'json',
            url: apiUrl,
            data: JSON.stringify({
                action: 'start'
            }),
            success: function (d) {
                console.log(d)
                if (d['_success'] === true) {
                    showQuestion(d['question'], d['last'])
                } else {
                    if (d['is_error'] === true) {
                        alertShow('error', d['message']);
                    } else if (d['is_info'] === true) {
                        alertShow('info', d['message']);
                    }
                }
            },
            error: function (d) {
                alertShow('waring');
            }
        })
    }

    function getNextQuestion() {
        let apiUrl = '/api/testings/complete/' + lesson_id.toString() + '?action=check_to_start'

        $.ajax({
            type: 'POST',
            dataType: 'json',
            url: apiUrl,
            data: JSON.stringify({
                action: 'get_next'
            }),
            success: function (d) {
                if (d['_success'] === true) {
                    showQuestion(d['question'], d['last'])
                } else {
                    if (d['end'] === true) {
                        endSurvey(d.result);
                    } else if (d['is_error'] === true) {
                        alertShow('error', d['message']);
                    } else if (d['is_info'] === true) {
                        alertShow('info', d['message']);
                    }
                }
            },
            error: function (d) {
                alertShow('waring');
            }
        })
    }

    function continueSurvey() {
        let apiUrl = '/api/testings/complete/' + lesson_id.toString()

        $.ajax({
            type: 'POST',
            dataType: 'json',
            url: apiUrl,
            data: JSON.stringify({
                action: 'continue'
            }),
            success: function (d) {
                console.log(d)
                if (d['_success'] === true) {
                    showQuestion(d['question'], d['last'])
                } else {
                    if (d['is_error'] === true) {
                        alertShow('error', d['message']);
                    } else if (d['is_info'] === true) {
                        alertShow('info', d['message']);
                    }
                }
            },
            error: function (d) {
                alertShow('waring');
            }
        })
    }

    function checkUserToStart() {
        let apiUrl = '/api/testings/complete/' + lesson_id.toString() + '?action=check_to_start'
        // let apiUrl = '/api/testings/complete/12'

        $.ajax({
            type: 'POST',
            dataType: 'json',
            url: apiUrl,
            data: JSON.stringify({
                action: 'check_to_start'
            }),
            success: function (d) {
                console.log(d)
                if (d['_success'] === true) {
                    if (d['continue']) {
                        showContinueButton()
                    } else {
                        showStartButton();

                    }
                } else {
                    if (d['is_error'] === true) {
                        alertShow('error', d['message']);
                    } else if (d['is_info'] === true) {
                        alertShow('info', d['message']);
                    }
                }
            },
            error: function (d) {
                alertShow('waring');
            }
        })
    }

    checkUserToStart();

</script>
{% endblock %}