{% extends 'admin/base.html' %}
{% block container %}
<div class="element-area">
    <div class="demo-view">
        <div class="container-fluid pt-0 ps-0 pe-lg-4 pe-0">
            <div class="col-xl-12">
                <div class="card dz-card" id="bootstrap-table2">
                    <div class="card-header flex-wrap d-flex justify-content-between  border-0">
                        <div>
                            <h4 class="card-title">Теги</h4>
                        </div>
                        <ul class="nav nav-tabs dzm-tabs" id="myTab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <a class="nav-link js-add">Создать
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content" id="myTabContent-1">
                        <div class="tab-pane fade show active" id="bordered" role="tabpanel"
                             aria-labelledby="home-tab-1">
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-responsive-md">
                                        <thead>
                                        <tr>
                                            <th><strong>Название</strong></th>
                                            <th><strong>Описание</strong></th>
                                            <th><strong>Категория</strong></th>
                                            <th><strong></strong></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr data-id="new" class="js-cont odd" id="new" style="display: none">
                                            <td><input class="form-control" type="text" name="title"></td>
                                            <td><input class="form-control" type="text" name="description"></td>
                                            <td><select name="parent_id">
                                                <option value="">Выбрать</option>
                                                {% for x in categories %}
                                                <option value="{{x.id}}">{{x.title}}</option>
                                                {% endfor %}
                                            </select></td>
                                            <td>
                                                <a class="btn btn-pill btn-success btn-air-success btn-air-success js-add-new">
                                                    Сохранить
                                                </a>
                                            </td>
                                        </tr>
                                        {% for item in tags %}
                                        <tr class="js-cont" data-id="{{ item.id }}">
                                            <td>
                                                <span>{{ item.title }}</span>
                                                <input style="display: none" type="text" class="form-control"
                                                       name="title"
                                                       value="{{ item.title }}">
                                            </td>
                                            <td>
                                                <span>{{ item.description }}</span>
                                                <input style="display: none" type="text" class="form-control"
                                                       name="description"
                                                       value="{{ item.description }}">
                                            </td>

                                            <td>
                                                <span>{{ item.category_title }}</span>
                                                <div id="select-in-div" style="display: none"><select
                                                        name="category_id">
                                                    <option value="">Выбрать</option>
                                                    {% for x in categories %}
                                                    <option {% if item.category_id and item.category_id== x.id
                                                            %}selected{% endif %} value="{{x.id}}">{{x.title}}
                                                    </option>
                                                    {% endfor %}
                                                </select></div>
                                            </td>

                                            <td>
                                                <div class="d-flex">
                                                    <a class="btn btn-primary shadow btn-xs sharp me-1 js-change"><i
                                                            class="fa fa-pencil"></i></a>
                                                    <a class="btn btn-success shadow btn-xs sharp me-1 js-update"
                                                       style="display: none"><i
                                                            class="fa fa-check"></i></a>
                                                    <a class="btn btn-warning shadow btn-xs sharp me-1 js-cancel"
                                                       style="display: none"><i
                                                            class="fa fa-cancel"></i></a>
                                                    <a class="btn btn-danger shadow btn-xs sharp js-remove"><i
                                                            class="fa fa-trash"></i></a>
                                                </div>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script>
    $('.js-add').click(function () {
        $('#new').show(1000);
        return false;
    });
    $('.js-add-new').click(function () {
        var new_id = $(this).parents('tr').data('id');
        var new_data = getValues('.js-cont[data-id="' + new_id + '"]')
        $.ajax({
            type: 'POST',
            dataType: 'json',
            url: '/api/lessons/tags/' + new_id,
            data: JSON.stringify(new_data),
            success: function (d) {
                if (d['_success'] === true) {
                    alertShow('success', '', true)
                } else {
                    alertShow('error', d['message'])
                }
            },
            error: function (d) {
                alertShow('waring')
            }
        });
        return false;
    });
    $('.js-update').click(function () {
        var new_id = $(this).parents('tr').data('id');
        var new_data = getValues('.js-cont[data-id="' + new_id + '"]')
        $.ajax({
            type: 'POST',
            dataType: 'json',
            url: '/api/lessons/tags/' + new_id,
            data: JSON.stringify(new_data),
            success: function (d) {
                if (d['_success'] === true) {
                    alertShow('success', '', true)
                } else {
                    alertShow('error', d['message'])
                }
            },
            error: function (d) {
                alertShow('waring')
            }
        });
        return false;
    });
    $('.js-remove').click(function () {
        var new_id = $(this).parents('tr').data('id');
        var new_data = getValues('.js-cont[data-id="' + new_id + '"]')
        $.ajax({
            type: 'DELETE',
            dataType: 'json',
            url: '/api/lessons/tags/' + new_id,
            data: JSON.stringify(new_data),
            success: function (d) {
                if (d['_success'] === true) {
                    alertShow('success', '', true)
                } else {
                    alertShow('error', d['message'])
                }
            },
            error: function (d) {
                alertShow('waring')
            }
        });
        return false;
    });
    $('.js-change').click(function () {
        $(this).hide();
        $(this).parents('tr').find('span').hide();
        $(this).parents('tr').find('input').show();
        $(this).parents('tr').find('select').show();
        $(this).parents('tr').find('#select-in-div').show();
        $(this).parents('tr').find('.js-update').show();
        $(this).parents('tr').find('.js-cancel').show();
        $(this).parents('tr').find('.js-remove').hide();
        return false;
    });
    $('.js-cancel').click(function () {
        location.reload()
    })
</script>
{% endblock %}