{% extends 'admin/base.html' %}
{% block namePage %}
Уроки
{% endblock %}
{% block container %}
<div class="row">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <div class="d-flex align-items-center" id="button_add">
        </div>
    </div>
    <div class="col-xl-10 active-p">
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-colm" role="tabpanel" aria-labelledby="pills-colm-tab">
                <div class="card">
                    <div class="card-body px-0">
                        <div class="table-responsive active-projects user-tbl  dt-filter">
                            <div id="user-tbl_wrapper" class="dataTables_wrapper no-footer">
                                <div id="user-tbl_filter" class="dataTables_filter">
                                    <label> <i class="fa-solid fa-magnifying-glass" id="searchButton"></i>
                                        <input type="search"
                                               placeholder="Поиск..."
                                               id="searchInput"
                                               aria-controls="user-tbl"></label>
                                </div>
                                <table class="table table-responsive-md">
                                    <thead>
                                    <tr>
                                        <th><strong>Название</strong></th>
                                        <th><strong>Описания</strong></th>
                                        <th><strong>Категория</strong></th>
                                        <th><strong></strong></th>
                                    </tr>
                                    </thead>
                                    <tbody id="list_items">

                                    </tbody>
                                </table>
                                <div class="row ">
                                    <div class="col-12 ps-3">
                                        <div class="table-pagenation">
                                            <nav>
                                                <ul class="pagination pagination-sm" id="list_pagination">

                                                </ul>
                                            </nav>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script>
    let urlParams = {}
    let currentUser = {}

    getListItems(urlParams);

    function clearTable() {
        $('#list_items tr').remove()
        $('#list_pagination li').remove()
        $('#button_add').empty()
        currentUser = {}
    }

    function showButtonAdd(user) {
        currentUser = user
        console.log(user)
        if (user && user.role_key === 'admin') {
            let newButton = $('<a>').addClass('btn btn-primary btn-sm ms-2').text('+ Создать');
            $(newButton).on('click', function () {
                location.href = '/api/lessons/create/'
            })
            $('#button_add').append(newButton)
        }
    }

    function getListItems(params) {
        let paramsString = $.param(params);
        let apiUrl = '/api/lessons/?';
        if (paramsString) {
            apiUrl += paramsString
        }

        $.ajax({
            type: 'GET',
            dataType: 'json',
            url: apiUrl,
            success: function (d) {
                if (d['_success'] === true) {
                    clearTable();
                    showButtonAdd(d['user']);

                    $.each(d['lessons'], function (index, item) {
                        showDataItem(item);
                    });

                    showPagination(d['pager']);

                } else {
                    alertShow('error', d['message']);
                }
            },
            error: function (d) {
                alertShow('waring');
            }
        })
    }

    function showDataItem(item) {
        let newElementTr = $('<tr>');

        let newElementTdTitle = $('<td>').text(item.title);
        newElementTr.append(newElementTdTitle);

        let newElementTdDescription = $('<td>').text(item.description);
        newElementTr.append(newElementTdDescription);

        let newElementTdCategory = $('<td>').text(item.category_title);
        newElementTr.append(newElementTdCategory);

        let newElementTdActions = $('<td>');
        let newElementTdActionsDiv = $('<div>').addClass('d-flex');

        let newElementTdActionsDivAInfo = $('<a>').addClass('btn btn-info shadow btn-xs sharp me-1');
        let newElementTdActionsDivAInfoI = $('<i>').addClass('fa fa-info');
        newElementTdActionsDivAInfo.append(newElementTdActionsDivAInfoI)


        if (item.is_subscribe === true) {
            let newElementShowResultSubscribe = $('<a>').addClass('btn btn-page shadow btn-xs sharp me-1');
            let newElementShowResultSubscribeI = $('<i>').addClass('fa fa-check');
            newElementShowResultSubscribe.append(newElementShowResultSubscribeI);
            newElementTdActionsDiv.append(newElementShowResultSubscribe);

            $(newElementShowResultSubscribe).on('click', function () {
                unsubscribeLesson(item.id, newElementShowResultSubscribeI);
            })
        } else {
            let newElementShowResultSubscribe = $('<a>').addClass('btn btn-page shadow btn-xs sharp me-1');
            let newElementShowResultSubscribeI = $('<i>').addClass('fa fa-plus');
            newElementShowResultSubscribe.append(newElementShowResultSubscribeI);
            newElementTdActionsDiv.append(newElementShowResultSubscribe);

            $(newElementShowResultSubscribe).on('click', function () {
                subscribeLesson(item.id, newElementShowResultSubscribeI);
            })
        }


        newElementTdActionsDiv.append(newElementTdActionsDivAInfo)

        newElementTdActions.append(newElementTdActionsDiv)
        newElementTdActions.append(newElementTdActions)

        newElementTr.append(newElementTdActions);

        if (currentUser && currentUser.role_key === 'admin') {
            $(newElementTdActionsDivAInfo).on('click', function () {
                location.href = '/api/lessons/' + item.id.toString()
            })

        } else {
            $(newElementTdActionsDivAInfo).on('click', function () {
                location.href = '/api/lessons/info/' + item.id.toString() + '/template/'
            })
        }

        if (currentUser && currentUser.role_key === 'admin') {
            let newElementTdActionsDivAQuestions = $('<a>').addClass('btn btn-page shadow btn-xs sharp me-1');
            let newElementTdActionsDivAQuestionsI = $('<i>').addClass('fa fa-list');
            newElementTdActionsDivAQuestions.append(newElementTdActionsDivAQuestionsI)

            newElementTdActionsDiv.append(newElementTdActionsDivAQuestions)

            $(newElementTdActionsDivAQuestions).on('click', function () {
                location.href = '/api/testings/questions/' + item.id.toString() + '/template/'
            })
        }

        if (currentUser && currentUser.role_key === 'admin') {
            let newElementShowResultTest = $('<a>').addClass('btn btn-page shadow btn-xs sharp me-1');
            let newElementShowResultTestI = $('<i>').addClass('fa fa-eye');
            newElementShowResultTest.append(newElementShowResultTestI)
            newElementTdActionsDiv.append(newElementShowResultTest)

            $(newElementShowResultTest).on('click', function () {
                location.href = '/api/testings/results/' + item.id.toString() + '/template/'
            })
        }

        if (currentUser && currentUser.role_key === 'admin') {
            let newElementShowResultTesting = $('<a>').addClass('btn btn-page shadow btn-xs sharp me-1');
            let newElementShowResultTestingI = $('<i>').addClass('fa fa-align-justify');
            newElementShowResultTesting.append(newElementShowResultTestingI)
            newElementTdActionsDiv.append(newElementShowResultTesting)

            $(newElementShowResultTesting).on('click', function () {
                location.href = '/api/testings/complete/' + item.id.toString() + '/template/'
            })
        }
        $("#list_items").append(newElementTr);
    }

    function subscribeLesson(lesson_id, element) {
        $.ajax({
            type: 'POST',
            dataType: 'json',
            url: '/api/lessons/' + lesson_id.toString(),
            data: JSON.stringify({
                action: 'subscribe'
            }),
            success: function (d) {
                if (d['_success'] === true) {
                    getListItems()

                } else {
                    alertShow('error', d['message']);
                }
            },
            error: function (d) {
                alertShow('waring');
            }
        })
    }

    function unsubscribeLesson(lesson_id, element) {
        $.ajax({
            type: 'POST',
            dataType: 'json',
            url: '/api/lessons/' + lesson_id.toString(),
            data: JSON.stringify({
                action: 'unsubscribe'
            }),
            success: function (d) {
                if (d['_success'] === true) {
                    getListItems()

                } else {
                    alertShow('error', d['message']);
                }
            },
            error: function (d) {
                alertShow('waring');
            }
        })
    }

    function showPagination(pager) {

        // ADD LEFT BUTTON PAGINATION
        let newElementLiLeft = $('<li>').addClass('page-item page-indicator');
        let newElementALeft = $('<a>').addClass('page-link')
        if (pager.prev_page) {
            $(newElementLiLeft).on("click", function () {
                urlParams.limit = pager.limit.toString()
                urlParams.page = pager.prev_page.toString()
                getListItems(urlParams);
            });
            newElementALeft.append($('<i>').addClass('fa-solid fa-angle-left'))
            newElementLiLeft.append(newElementALeft)
        }

        $("#list_pagination").append(newElementLiLeft);

        // ADD CURRENT
        let newElementLiCurrent = $('<li>').addClass('page-item');
        newElementLiCurrent.append($('<a>').addClass('page-link').text(pager.page))
        $("#list_pagination").append(newElementLiCurrent);

        // ADD RIGHT BUTTON PAGINATION
        let newElementLiRight = $('<li>').addClass('page-item page-indicator');
        let newElementARight = $('<a>').addClass('page-link')
        if (pager.next_page) {
            $(newElementLiRight).on("click", function () {
                urlParams.limit = pager.limit.toString()
                urlParams.page = pager.next_page.toString()
                getListItems(urlParams);
            });
            newElementARight.append($('<i>').addClass('fa-solid fa-angle-right'));
            newElementLiRight.append(newElementARight);
        }
        $("#list_pagination").append(newElementLiRight);
    }

    $('#searchButton').on('click', function () {
        urlParams.query = $('#searchInput').val();
        getListItems(urlParams);
    })

    $('#searchInput').on('change', function () {
        urlParams.query = $('#searchInput').val();
        getListItems(urlParams);
    })

</script>
{% endblock %}