{% extends 'admin/base.html' %}
{% block namePage %}
Power BI
{% endblock %}
{% block container %}
<div class="row">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h4>Уроки</h4>
        <div class="d-flex align-items-center" id="button_add">
        </div>
    </div>
    <div class="col-xl-10 active-p">
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-colm" role="tabpanel" aria-labelledby="pills-colm-tab">
                <div class="card">
                    <div class="card-body px-0">
                        <div class="table-responsive active-projects user-tbl  dt-filter">
                            <div id="user-tbl_wrapper" class="dataTables_wrapper no-footer">
                                <div id="user-tbl_filter" class="dataTables_filter">
                                    <label> <i class="fa-solid fa-magnifying-glass" id="searchButton"></i>
                                        <input type="search"
                                               placeholder="Поиск..."
                                               id="searchInput"
                                               aria-controls="user-tbl"></label>
                                </div>
                                <table class="table table-responsive-md">
                                    <thead>
                                    <tr>
                                        <th><strong>Название</strong></th>
                                        <th><strong>Количество попыток</strong></th>
                                        <th><strong>Количество ответов</strong></th>
                                        <th><strong>Количество правильных(%)</strong></th>
                                        <th><strong>Количество ошибок(%)</strong></th>
                                    </tr>
                                    </thead>
                                    <tbody id="list_items">

                                    </tbody>
                                </table>
                                <div class="row ">
                                    <div class="col-12 ps-3">
                                        <div class="table-pagenation">
                                            <nav>
                                                <ul class="pagination pagination-sm" id="list_pagination">

                                                </ul>
                                            </nav>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script>
    let urlParams = {}
    let currentUser = {}

    getListItems(urlParams);

    function clearTable() {
        $('#list_items tr').remove()
        $('#list_pagination li').remove()
        $('#button_add').empty()
        currentUser = {}
    }

    function getListItems(params) {
        let paramsString = $.param(params);
        let apiUrl = '/api/analytics/lessons?';
        if (paramsString) {
            apiUrl += paramsString
        }

        $.ajax({
            type: 'GET',
            dataType: 'json',
            url: apiUrl,
            success: function (d) {
                if (d['_success'] === true) {
                    clearTable();

                    $.each(d['lessons'], function (index, item) {
                        showDataItem(item);
                    });

                    showPagination(d['pager']);

                } else {
                    alertShow('error', d['message']);
                }
            },
            error: function (d) {
                alertShow('waring');
            }
        })
    }

    function showDataItem(item) {
        let newElementTr = $('<tr>');

        let newElementTdTitle = $('<td>').text(item.title);
        newElementTr.append(newElementTdTitle);

        let newElementTdCountResult = $('<td>').text(item.count_result);
        newElementTr.append(newElementTdCountResult);

        let newElementTdSumTotal = $('<td>').text(item.sum_total);
        newElementTr.append(newElementTdSumTotal);

        let newElementTdSumCurrect = $('<td>').text(item.sum_currect + '(' + item.sum_currect_percent + ')');
        newElementTr.append(newElementTdSumCurrect);

        let newElementTdSumWrong = $('<td>').text(item.sum_wrong + '(' + item.sum_wrong_percent + ')');
        newElementTr.append(newElementTdSumWrong);

        $("#list_items").append(newElementTr);
    }

    function showPagination(pager) {

        // ADD LEFT BUTTON PAGINATION
        let newElementLiLeft = $('<li>').addClass('page-item page-indicator');
        let newElementALeft = $('<a>').addClass('page-link')
        if (pager.prev_page) {
            $(newElementLiLeft).on("click", function () {
                urlParams.limit = pager.limit.toString()
                urlParams.page = pager.prev_page.toString()
                getListItems(urlParams);
            });
            newElementALeft.append($('<i>').addClass('fa-solid fa-angle-left'))
            newElementLiLeft.append(newElementALeft)
        }

        $("#list_pagination").append(newElementLiLeft);

        // ADD CURRENT
        let newElementLiCurrent = $('<li>').addClass('page-item');
        newElementLiCurrent.append($('<a>').addClass('page-link').text(pager.page))
        $("#list_pagination").append(newElementLiCurrent);

        // ADD RIGHT BUTTON PAGINATION
        let newElementLiRight = $('<li>').addClass('page-item page-indicator');
        let newElementARight = $('<a>').addClass('page-link')
        if (pager.next_page) {
            $(newElementLiRight).on("click", function () {
                urlParams.limit = pager.limit.toString()
                urlParams.page = pager.next_page.toString()
                getListItems(urlParams);
            });
            newElementARight.append($('<i>').addClass('fa-solid fa-angle-right'));
            newElementLiRight.append(newElementARight);
        }
        $("#list_pagination").append(newElementLiRight);
    }

    $('#searchInput').on('change', function () {
        urlParams.query = $('#searchInput').val();
        getListItems(urlParams);
    })

</script>
{% endblock %}