{% extends 'admin/base.html' %}
{% block container %}
<div class="components-preview">
    <div class="col-lg-12" id="div-filter" style="display: none;">
        <div class="nk-block-head">
            <div class="nk-block-head-content"><h5 class="nk-block-title title">Фильтр</h5></div>
        </div>
        <div class="card card-bordered">
            <div class="card-inner">
                <div class="row gy-4" id="filter-data">
                    <div class="col-xxl-4 col-sm-6">
                        <div class="form-group">
                            <div class="form-control-wrap">
                                <label class="form-label">Дата принятия (C)</label>
                                <div class="form-icon form-icon-right"><em class="icon ni ni-calendar"></em></div>
                                <input value="{{request.args.get('start_arrived_at') or ''}}" type="text"
                                       class="form-control date-picker" data-date-format="yyyy-mm-dd"
                                       name="start_arrived_at" placeholder="С"></div>
                        </div>
                    </div>
                    <div class="col-xxl-4 col-sm-6">
                        <div class="form-group">
                            <div class="form-control-wrap">
                                <label class="form-label">Дата принятия (По)</label>
                                <div class="form-icon form-icon-right"><em class="icon ni ni-calendar"></em></div>
                                <input type="text" value="{{request.args.get('stop_arrived_at') or ''}}"
                                       class="form-control date-picker" data-date-format="yyyy-mm-dd"
                                       name="stop_arrived_at" placeholder="ПО"></div>
                        </div>
                    </div>

                    <div class="col-xxl-4 col-sm-6">
                        <div class="form-group">
                            <label class="form-label">Номер вагон</label>
                            <input type="text" class="form-control" name="track_id"
                                   value="{{request.args.get('track_id') or ''}}">
                        </div>
                    </div>
                    <div class="col-xxl-4 col-sm-6">
                        <div class="form-group">
                            <div class="form-control-wrap">
                                <label class="form-label">Дата выставление (C)</label>
                                <div class="form-icon form-icon-right"><em class="icon ni ni-calendar"></em></div>
                                <input value="{{request.args.get('start_billed_at') or ''}}" type="text"
                                       class="form-control date-picker" data-date-format="yyyy-mm-dd"
                                       name="start_billed_at" placeholder="С"></div>
                        </div>
                    </div>
                    <div class="col-xxl-4 col-sm-6">
                        <div class="form-group">
                            <div class="form-control-wrap">
                                <label class="form-label">Дата выставление (По)</label>
                                <div class="form-icon form-icon-right"><em class="icon ni ni-calendar"></em></div>
                                <input type="text" value="{{request.args.get('stop_billed_at') or ''}}"
                                       class="form-control date-picker" data-date-format="yyyy-mm-dd"
                                       name="stop_billed_at" placeholder="ПО"></div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <ul class="align-center flex-wrap flex-sm-nowrap gx-4 gy-2">
                                <li>
                                    <button onclick="searchFilter()" type="submit" class="btn btn-primary">Поиск
                                    </button>
                                </li>
                                <li>
                                    <button onclick="clearFilters()" data-bs-dismiss="modal" class="btn btn-danger">
                                        Очистить
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="nk-block-head nk-block-head-sm">
        <div class="nk-block-between">
            <div class="nk-block-head-content">
                <h3 class="nk-block-title page-title"></h3>
            </div>

        </div>
    </div>
    <div class="nk-block">
        <div class="card card-stretch">
            <div class="card-inner">
                <div class="card-title-group">
                    <div class="card-title"><h5 class="title"></h5></div>
                    <div class="nk-block-head-content">
                        <div class="toggle-wrap nk-block-tools-toggle">
                            <a class="btn btn-icon btn-trigger toggle-expand me-n1">
                                <em class="icon ni ni-more-v"></em>
                            </a>
                            <div class="toggle-expand-content" data-content="pageMenu">
                                <ul class="nk-block-tools g-3">
                                    <li class="nk-block-tools-opt">
                                        <a class="btn btn-trigger btn-icon dropdown-toggle" onclick="toggleFilter()">
                                            <em class="icon ni ni-filter-alt"></em>
                                        </a>
                                    </li>
                                    <li class="nk-block-tools-opt">
                                        <a data-target="addProduct"
                                           class="toggle btn btn-icon btn-primary d-md-none">
                                            <em class="icon ni ni-plus"></em>
                                        </a>
                                        <a data-target="addProduct"
                                           class="toggle btn btn-primary d-none d-md-inline-flex">
                                            <em class="icon ni ni-plus"></em>
                                            <span>Добавить</span>
                                        </a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-inner p-0">
                {% if receipts %}
                <div class="nk-block">
                    <div class="card">
                        <div class="nk-tb-list nk-tb-ulist is-compact">
                            <div class="nk-tb-item nk-tb-head">
                                <div class="nk-tb-col"><span>Дата принятия</span></div>
                                <div class="nk-tb-col"><span>№ Вагонов</span></div>
                                <div class="nk-tb-col"><span class="sub-text">Состаяние</span><span>Вид</span></div>
                                <div class="nk-tb-col"><span>Компания</span></div>
                                <div class="nk-tb-col"><span>Дата выставление</span></div>
                                <div class="nk-tb-col tb-col-sm"><span>Tonna</span></div>
                                <div class="nk-tb-col tb-col-sm"><span>Tara</span></div>
                                <div class="nk-tb-col"><span class="sub-text">ПП</span><span>Состаяние/Компания</span>
                                </div>
                                <div class="nk-tb-col tb-col-sm"><span>Путь</span></div>
                                <div class="nk-tb-col nk-tb-col-tools text-end"></div>
                            </div>
                            {% for item in receipts %}
                            <div class="nk-tb-item js-cont" data-id="{{ item._id }}">
                                <div class="nk-tb-col">
                                    <input type="text" class="form-control date-picker-alt date-picker"
                                           data-date-format="dd.mm.yyyy" value="{{item.arrived_at or ''}}"
                                           name="arrived_at">
                                </div>

                                <div class="nk-tb-col">
                                    <input type="text" class="form-control"
                                           name="track_id" value="{{item.track_id}}">
                                    <span></span>
                                </div>


                                <div class="nk-tb-col">
                                    <div class="user-card">
                                        <div class="user-info">
                                            <span class="tb-lead">
                                                <select class="form-control" name="state_id">
                                                    <option value="">Выберите</option>
                                                    {% if states %}
                                                    {% for state in states.values() %}
                                                    <option {% if item.state_id== state._id %}selected{% endif %}
                                                            value="{{state._id}}">{{state.title}}</option>
                                                    {% endfor %}
                                                    {% endif %}
                                                </select>
                                            </span>
                                            <span>
                                                <select class="form-control" name="type_id">
                                                    <option value="">Выберите</option>
                                                    {% if types %}
                                                    {% for type in types.values() %}
                                                    <option {% if item.type_id== type._id %}selected{% endif %}
                                                            value="{{type._id}}">{{type.title}}</option>
                                                    {% endfor %}
                                                    {% endif %}
                                                </select>
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="nk-tb-col">
                                    <select class="form-control" name="company_id">
                                        <option value="">Выберите</option>
                                        {% if companies %}
                                        {% for company in companies.values() %}
                                        <option {% if item.company_id== company._id %}selected{% endif %}
                                                value="{{company._id}}">{{company.title}}
                                        </option>
                                        {% endfor %}
                                        {% endif %}
                                    </select>
                                </div>

                                <div class="nk-tb-col">
                                    <input type="text" class="form-control date-picker-alt date-picker"
                                           data-date-format="dd.mm.yyyy"
                                           name="billed_at" value="{{item.billed_at or ''}}">

                                </div>

                                <div class="nk-tb-col tb-col-sm">
                                    <input type="number" min="0.0" value="{{item.before_weight or ''}}"
                                           class="form-control" name="before_weight">

                                </div>
                                <div class="nk-tb-col tb-col-sm">
                                    <input type="number" min="0.0" value="{{item.after_weight or ''}}"
                                           class="form-control" name="after_weight">

                                </div>

                                <div class="nk-tb-col">
                                    <div class="user-card">
                                        <div class="user-info">
                                            <span class="tb-lead">
                                                <select class="form-control" name="pp_state_id">
                                                    <option value="">Выберите</option>
                                                    {% if states %}
                                                    {% for state in states.values() %}
                                                    <option {% if item.pp_state_id== state._id %}selected{% endif %}
                                                            value="{{state._id}}">{{state.title}}</option>
                                                    {% endfor %}
                                                    {% endif %}
                                                </select>
                                            </span>
                                            <span>
                                                <select class="form-control" name="pp_company_id">
                                                    <option value="">Выберите</option>
                                                    {% if companies %}
                                                    {% for company in companies.values() %}
                                                    <option {% if item.pp_company_id== company._id %}selected{% endif %}
                                                            value="{{company._id}}">{{company.title}}</option>
                                                    {% endfor %}
                                                    {% endif %}
                                                </select>
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="nk-tb-col tb-col-sm">
                                    <select class="form-control" name="road_id">
                                        <option value="">Выберите</option>
                                        {% if roads %}
                                        {% for road in roads.values() %}
                                        <option {% if road._id== item.road_id %}selected{% endif %}
                                                value="{{road._id}}">{{road.title}}
                                        </option>
                                        {% endfor %}
                                        {% endif %}
                                    </select>
                                </div>


                                <div class="nk-tb-col nk-tb-col-tools">
                                    <ul data-id="{{ item._id }}" class="nk-tb-actions gx-1">
                                        <li class="nk-tb-action">
                                            <a class="js-remove">
                                                <span class="tb-status text-danger">
                                                    <em class="icon ni ni-trash"></em>
                                                </span>
                                            </a>
                                        </li>
                                        <li class="nk-tb-action">
                                            <a class="js-update">
                                                <span class="tb-status text-success">
                                                <em class="icon ni ni-check"></em>
                                                </span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>

                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% if pager %}
                <div class="card-inner">
                    <ul class="pagination justify-content-center justify-content-md-start">
                        <li class="page-item">
                            <a class="page-link"
                               {% if pager.prev_page %}
                               href="/api/receipts?page={{pager.prev_page}}"
                               {% endif %}
                            >{% if pager.prev_page %}Prev{% else %}&nbsp;{% endif %}</a>
                        </li>
                        <li class="page-item"><a class="page-link">{{pager.page}}</a></li>
                        <li class="page-item">
                            <a class="page-link"
                               {% if pager.next_page %}
                               href="/api/receipts?page={{pager.next_page}}"
                               {% endif %}
                            >{% if pager.next_page %}Prev{% else %}&nbsp;{% endif %}</a>
                        </li>
                    </ul>
                </div>
                {% endif %}
                {% else %}
                <div class="card-inner">
                    <figure class="text-center">
                        <blockquote class="blockquote"><h3>
                            Cписок расписка
                        </h3></blockquote>
                    </figure>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="nk-add-product toggle-slide toggle-slide-right" data-content="addProduct"
         data-toggle-screen="any" data-toggle-overlay="true" data-toggle-body="true" data-simplebar id="new-data-item">
        <div class="nk-block">
            <div class="row g-3">
                <div class="col-12">
                    <div class="form-group">
                        <label class="form-label"
                               for="cf-arrived-at">Дата принятия
                        </label>
                        <input type="text" class="form-control date-picker-alt date-picker"
                               data-date-format="dd.mm.yyyy"
                               name="arrived_at"
                               id="cf-arrived-at">
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <label class="form-label"
                               for="cf-track-id">№ Вагонов
                        </label>
                        <input type="text" class="form-control"
                               name="track_id"
                               id="cf-track-id">
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <label class="form-label"
                               for="cf-state">Состаяние вагона
                        </label>
                        <select class="form-control" id="cf-state" name="state_id">
                            <option value="">Выберите</option>
                            {% for state in states.values() %}
                            <option value="{{state._id}}">{{state.title}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <label class="form-label"
                               for="cf-type">Вид вагона
                        </label>
                        <select class="form-control" id="cf-type" name="type_id">
                            <option value="">Выберите</option>
                            {% if types %}
                            {% for type in types.values() %}
                            <option value="{{type._id}}">{{type.title}}</option>
                            {% endfor %}
                            {% endif %}
                        </select>
                    </div>
                </div>

                <div class="col-12">
                    <div class="form-group">
                        <label class="form-label"
                               for="cf-company">Выберите компанию
                        </label>
                        <select id="cf-company" class="form-control" name="company_id">
                            <option value="">Выберите</option>
                            {% if companies %}
                            {% for company in companies.values() %}
                            <option value="{{company._id}}">{{company.title}}</option>
                            {% endfor %}
                            {% endif %}
                        </select>
                    </div>
                </div>

                <div class="col-12">
                    <div class="form-group">
                        <label class="form-label"
                               for="cf-billed-at">Дата выставление
                        </label>
                        <input type="text" class="form-control date-picker-alt date-picker"
                               data-date-format="dd.mm.yyyy"
                               name="billed_at"
                               id="cf-billed-at">
                    </div>
                </div>

                <div class="col-12">
                    <div class="form-group">
                        <label class="form-label"
                               for="cf-pp-state">п/п состаяние вагона
                        </label>
                        <select class="form-control" id="cf-pp-state" name="pp_state_id">
                            <option value="">Выберите</option>
                            {% if states %}
                            {% for state in states.values() %}
                            <option value="{{state._id}}">{{state.title}}</option>
                            {% endfor %}
                            {% endif %}
                        </select>
                    </div>
                </div>

                <div class="col-12">
                    <div class="form-group">
                        <label class="form-label"
                               for="cf-pp-company">п/п выберите компанию
                        </label>
                        <select id="cf-pp-company" class="form-control" name="pp_company_id">
                            <option value="">Выберите</option>
                            {% if companies %}
                            {% for company in companies.values() %}
                            <option value="{{company._id}}">{{company.title}}</option>
                            {% endfor %}
                            {% endif %}
                        </select>
                    </div>
                </div>

                <div class="col-12">
                    <div class="form-group">
                        <label class="form-label"
                               for="cf-before-weight">Tonna
                        </label>
                        <input type="number" min="0.0" class="form-control" name="before_weight" id="cf-before-weight">
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <label class="form-label"
                               for="cf-after-weight">Tara
                        </label>
                        <input type="number" min="0.0" class="form-control" name="after_weight" id="cf-after-weight">
                    </div>
                </div>

                <div class="col-12">
                    <div class="form-group">
                        <label class="form-label"
                               for="cf-road">Путь
                        </label>
                        <select class="form-control" id="cf-road" name="road_id">
                            <option value="">Выберите</option>
                            {% if roads %}
                            {% for road in roads.values() %}
                            <option value="{{road._id}}">{{road.title}}</option>
                            {% endfor %}
                            {% endif %}
                        </select>
                    </div>
                </div>

                <div class="col-12">
                    <div class="form-group">
                        <label class="form-label"
                               for="cf-rent">Аренда м/кв
                        </label>
                        <input class="form-control" id="cf-rent" name="rent" type="number" min="0">
                    </div>
                </div>

                <div class="col-12">
                    <div class="form-group">
                        <label class="form-label"
                               for="cf-description">Описание
                        </label>
                        <textarea class="form-control" name="description" id="cf-description"></textarea>
                    </div>
                </div>

                <div class="col-12">
                    <button id="createItemButton" onclick="createItem()" class="btn btn-primary"><em
                            class="icon ni ni-plus"></em><span>Добавить</span></button>
                </div>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.1.0-beta.1/js/select2.min.js"></script>

<script>
    $('li[data-li="control"]').addClass('active');
    $('li[data-li="control-receipts"]').addClass('active');

    let divFilter = $('#div-filter');
    let isDivFilter = false;

    function toggleFilter() {
        if (isDivFilter) {
            divFilter.hide();
            isDivFilter = false;
        } else {
            divFilter.show();
            isDivFilter = true;
        }
    }


    $('.js-remove').click(async function () {
        if (confirm('Действительно хотите удалить?')) {
            var itemId = $(this).parents('ul').data('id');
            try {
                let response = await fetch('/api/receipts/' + itemId, {
                    method: 'DELETE'
                });
                response = await response.json();
                if (response._success === true) {
                    window.location.href = '/api/receipts/';
                } else {
                    alert(response.message);
                }
            } catch (error) {
                alertShow('waring', `${error.message}`);
            }
        }
    })

    async function createItem() {
        alertShow('waring', 'Загрузка...')
        $('#createItemButton').prop('disabled', true);
        try {
            let response = await fetch('/api/receipts/', {
                method: 'POST',
                body: JSON.stringify({
                    ...getValues('#new-data-item')
                })
            });

            response = await response.json();
            if (response._success === true) {
                window.location.href = '/api/receipts/';
            } else {
                alert(response.message);
                $('#createItemButton').prop('disabled', false);
            }

        } catch (error) {
            alertShow('waring', `${error.message}`);
            $('#createItemButton').prop('disabled', false);
        }
    }

    $('.js-update').click(async function () {
        alertShow('waring', 'Загрузка...')
        var itemId = $(this).parents('ul').data('id');
        try {
            let data = getValues('.js-cont[data-id="' + itemId + '"]')
            let response = await fetch(`/api/receipts/${itemId}`, {
                method: 'PUT',
                body: JSON.stringify({
                    ...data
                })
            });
            response = await response.json();
            if (response._success === true) {
                alertShow('success', 'Обнавлено');
            } else {
                alert(response.message);
            }

        } catch (error) {
            alertShow('waring', `${error.message}`);
        }

        return false;
    })

    function paramsToQueryString(params) {
        return Object.keys(params)
            .map(key => `${encodeURIComponent(key)}=${encodeURIComponent(params[key])}`)
            .join("&");
    }

    function clearFilters() {
        window.location.href = '/api/receipts/'
    }

    function searchFilter() {
        let params = getValues('#filter-data')
        let updatedQueryString = paramsToQueryString(params);
        window.location.href = `/api/receipts?${updatedQueryString}`
    }

</script>
{% endblock %}