{% extends 'admin/base.html' %}
{% block container %}
<div class="components-preview">
    <div class="col-lg-12" id="div-filter">
        <div class="nk-block-head">
            <div class="nk-block-head-content"><h5 class="nk-block-title title">Отчет по распискам</h5></div>
        </div>
        <div class="card card-bordered">
            <div class="card-inner">
                <div class="row gy-4" id="filter-data">
                    <div class="col-xxl-4 col-sm-6">
                        <div class="form-group">
                            <div class="form-control-wrap">
                                <label class="form-label">Дата принятия (C)</label>
                                <div class="form-icon form-icon-right"><em class="icon ni ni-calendar"></em></div>
                                <input value="{{request.args.get('start_arrived_at') or ''}}" type="text"
                                       class="form-control date-picker" data-date-format="yyyy-mm-dd"
                                       name="start_arrived_at" placeholder="С"></div>
                        </div>
                    </div>
                    <div class="col-xxl-4 col-sm-6">
                        <div class="form-group">
                            <div class="form-control-wrap">
                                <label class="form-label">Дата принятия (По)</label>
                                <div class="form-icon form-icon-right"><em class="icon ni ni-calendar"></em></div>
                                <input type="text" value="{{request.args.get('stop_arrived_at') or ''}}"
                                       class="form-control date-picker" data-date-format="yyyy-mm-dd"
                                       name="stop_arrived_at" placeholder="ПО"></div>
                        </div>
                    </div>

                    <div class="col-xxl-4 col-sm-6">
                        <div class="form-group">
                            <label class="form-label">Номер вагон</label>
                            <input type="text" class="form-control" name="track_id"
                                   value="{{request.args.get('track_id') or ''}}">
                        </div>
                    </div>
                    <div class="col-xxl-4 col-sm-6">
                        <div class="form-group">
                            <div class="form-control-wrap">
                                <label class="form-label">Дата выставление (C)</label>
                                <div class="form-icon form-icon-right"><em class="icon ni ni-calendar"></em></div>
                                <input value="{{request.args.get('start_billed_at') or ''}}" type="text"
                                       class="form-control date-picker" data-date-format="yyyy-mm-dd"
                                       name="start_billed_at" placeholder="С"></div>
                        </div>
                    </div>
                    <div class="col-xxl-4 col-sm-6">
                        <div class="form-group">
                            <div class="form-control-wrap">
                                <label class="form-label">Дата выставление (По)</label>
                                <div class="form-icon form-icon-right"><em class="icon ni ni-calendar"></em></div>
                                <input type="text" value="{{request.args.get('stop_billed_at') or ''}}"
                                       class="form-control date-picker" data-date-format="yyyy-mm-dd"
                                       name="stop_billed_at" placeholder="ПО"></div>
                        </div>
                    </div>
                    <div class="col-xxl-4 col-sm-6">
                        <div class="form-group">
                            <div class="form-control-wrap">
                                <label class="form-label"
                                       for="f-company">Выберите компанию
                                </label>
                                <select class="form-control" id="f-company" name="company_id"></select>
                            </div>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="form-group">
                            <ul class="align-center flex-wrap flex-sm-nowrap gx-4 gy-2">
                                <li>
                                    <button onclick="genReports()" data-bs-dismiss="modal" class="btn btn-success">
                                        Отчет
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="nk-block-head nk-block-head-sm">
        <div class="nk-block-between">
            <div class="nk-block-head-content">
                <h3 class="nk-block-title page-title"></h3>
            </div>

        </div>
    </div>
</div>
<div class="components-preview">
    <div class="col-lg-12">
        <div class="nk-block-head">
            <div class="nk-block-head-content"><h5 class="nk-block-title title">Сводка по движению и отстою вагонов</h5>
            </div>
        </div>
        <div class="card card-bordered">
            <div class="card-inner">
                <div class="row gy-4" id="filter-stayed-data">
                    <div class="col-xxl-4 col-sm-6">
                        <div class="form-group">
                            <div class="form-control-wrap">
                                <div class="form-icon form-icon-right"><em class="icon ni ni-calendar"></em></div>
                                <input value="{{first_day}}" type="text"
                                       class="form-control date-picker" data-date-format="yyyy-mm-dd"
                                       name="started_at" placeholder="С"></div>
                        </div>
                    </div>
                    <div class="col-xxl-4 col-sm-6">
                        <div class="form-group">
                            <div class="form-control-wrap">
                                <div class="form-icon form-icon-right"><em class="icon ni ni-calendar"></em></div>
                                <input type="text" value="{{last_day}}"
                                       class="form-control date-picker" data-date-format="yyyy-mm-dd"
                                       name="stopped_at" placeholder="ПО"></div>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="form-group">
                            <ul class="align-center flex-wrap flex-sm-nowrap gx-4 gy-2">
                                <li>
                                    <button onclick="genStayedReports()" data-bs-dismiss="modal"
                                            class="btn btn-success">
                                        Отчет
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="nk-block-head nk-block-head-sm">
        <div class="nk-block-between">
            <div class="nk-block-head-content">
                <h3 class="nk-block-title page-title"></h3>
            </div>

        </div>
    </div>
</div>
<div class="components-preview">
    <div class="col-lg-12">
        <div class="nk-block-head">
            <div class="nk-block-head-content"><h5 class="nk-block-title title">Справка о железнодорожных услугах</h5>
            </div>
        </div>
        <div class="card card-bordered">
            <div class="card-inner">
                <div class="row gy-4" id="filter-services-reference-data">
                    <div class="col-xxl-4 col-sm-6">
                        <div class="form-group">
                            <div class="form-control-wrap">
                                <label class="form-label"
                                       for="r-month">Выберите месяц
                                </label>
                                <select class="form-control" id="r-month" name="r-month">
                                    <option {% if month and month== 1 %}selected{% endif %} value="1">Январь</option>
                                    <option {% if month and month== 2 %}selected{% endif %} value="2">Февраль</option>
                                    <option {% if month and month== 3 %}selected{% endif %} value="3">Март</option>
                                    <option {% if month and month== 4 %}selected{% endif %} value="4">Апрель</option>
                                    <option {% if month and month== 5 %}selected{% endif %} value="5">Май</option>
                                    <option {% if month and month== 6 %}selected{% endif %} value="6">Июнь</option>
                                    <option {% if month and month== 7 %}selected{% endif %} value="7">Июль</option>
                                    <option {% if month and month== 8 %}selected{% endif %} value="8">Август</option>
                                    <option {% if month and month== 9 %}selected{% endif %} value="9">Сентябрь</option>
                                    <option {% if month and month== 10 %}selected{% endif %} value="10">Октябрь</option>
                                    <option {% if month and month== 11 %}selected{% endif %} value="11">Ноябрь</option>
                                    <option {% if month and month== 12 %}selected{% endif %} value="12">Декабрь</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-xxl-4 col-sm-6">
                        <div class="form-group">
                            <div class="form-control-wrap">
                                <label class="form-label"
                                       for="r-year">Выберите год
                                </label>
                                <select class="form-control" id="r-year" name="r-year">
                                    <option {% if year and year== 2025 %}selected{% endif %} value="2025">2025</option>
                                    <option {% if year and year== 2026 %}selected{% endif %} value="2026">2026</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="form-group">
                            <ul class="align-center flex-wrap flex-sm-nowrap gx-4 gy-2">
                                <li>
                                    <button onclick="genServicesReferenceReports()" data-bs-dismiss="modal"
                                            class="btn btn-success">
                                        Отчет
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="nk-block-head nk-block-head-sm">
        <div class="nk-block-between">
            <div class="nk-block-head-content">
                <h3 class="nk-block-title page-title"></h3>
            </div>

        </div>
    </div>
</div>
<div class="components-preview">
    <div class="col-lg-12">
        <div class="nk-block-head">
            <div class="nk-block-head-content"><h5 class="nk-block-title title">Справка учета принятия и выставления
                вагонов</h5>
            </div>
        </div>
        <div class="card card-bordered">
            <div class="card-inner">
                <div class="row gy-4" id="filter-record-acceptance-data">
                    <div class="col-xxl-4 col-sm-6">
                        <div class="form-group">
                            <div class="form-control-wrap">
                                <label class="form-label" for="r-a-number">Лист №</label>
                                <input type="text" id="r-a-number" name="r-a-number" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-4 col-sm-6">
                        <div class="form-group">
                            <div class="form-control-wrap">
                                <label class="form-label"
                                       for="r-a-company-id">Выберите компания
                                </label>
                                <select class="form-control" id="r-a-company-id" name="r-a-company-id">
                                    <option value="">Выберите</option>
                                    {% if companies %}
                                    {% for company in companies.values() %}
                                    <option value="{{company._id}}">{{company.title}}</option>
                                    {% endfor %}
                                    {% endif %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-4 col-sm-6">
                        <div class="form-group">
                            <div class="form-control-wrap">
                                <label class="form-label"
                                       for="r-month">Выберите месяц
                                </label>
                                <select class="form-control" id="r-a-month" name="r-a-month">
                                    <option {% if month and month== 1 %}selected{% endif %} value="1">Январь</option>
                                    <option {% if month and month== 2 %}selected{% endif %} value="2">Февраль</option>
                                    <option {% if month and month== 3 %}selected{% endif %} value="3">Март</option>
                                    <option {% if month and month== 4 %}selected{% endif %} value="4">Апрель</option>
                                    <option {% if month and month== 5 %}selected{% endif %} value="5">Май</option>
                                    <option {% if month and month== 6 %}selected{% endif %} value="6">Июнь</option>
                                    <option {% if month and month== 7 %}selected{% endif %} value="7">Июль</option>
                                    <option {% if month and month== 8 %}selected{% endif %} value="8">Август</option>
                                    <option {% if month and month== 9 %}selected{% endif %} value="9">Сентябрь</option>
                                    <option {% if month and month== 10 %}selected{% endif %} value="10">Октябрь</option>
                                    <option {% if month and month== 11 %}selected{% endif %} value="11">Ноябрь</option>
                                    <option {% if month and month== 12 %}selected{% endif %} value="12">Декабрь</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-xxl-4 col-sm-6">
                        <div class="form-group">
                            <div class="form-control-wrap">
                                <label class="form-label"
                                       for="r-year">Выберите год
                                </label>
                                <select class="form-control" id="r-a-year" name="r-a-year">
                                    <option {% if year and year== 2025 %}selected{% endif %} value="2025">2025</option>
                                    <option {% if year and year== 2026 %}selected{% endif %} value="2026">2026</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="form-group">
                            <ul class="align-center flex-wrap flex-sm-nowrap gx-4 gy-2">
                                <li>
                                    <button onclick="genRecordAcceptanceReports()" data-bs-dismiss="modal"
                                            class="btn btn-success">
                                        Отчет
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="nk-block-head nk-block-head-sm">
        <div class="nk-block-between">
            <div class="nk-block-head-content">
                <h3 class="nk-block-title page-title"></h3>
            </div>

        </div>
    </div>
</div>
<div class="components-preview">
    <div class="col-lg-12">
        <div class="nk-block-head">
            <div class="nk-block-head-content"><h5 class="nk-block-title title">Счет фактура
                вагонов</h5>
            </div>
        </div>
        <div class="card card-bordered">
            <div class="card-inner">
                <div class="row gy-4" id="filter-invoice-company-data">
                    <div class="col-xxl-4 col-sm-6">
                        <div class="form-group">
                            <div class="form-control-wrap">
                                <label class="form-label"
                                       for="ic-company">Выберите компанию
                                </label>
                                <select class="form-control" id="ic-company" name="ic-company-id">
                                    <option>Выберите</option>
                                    {% if companies %}
                                    {% for company in companies.values() %}
                                    <option value="{{company._id}}">{{company.title}}</option>
                                    {% endfor %}
                                    {% endif %}
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-xxl-4 col-sm-6">
                        <div class="form-group">
                            <div class="form-control-wrap">
                                <label class="form-label">Дата подписание</label>
                                <div class="form-icon form-icon-right"><em class="icon ni ni-calendar"></em></div>
                                <input type="text"
                                       class="form-control date-picker" data-date-format="dd.mm.yyyy"
                                       name="ic-write-dtn" placeholder="Дата"></div>
                        </div>
                    </div>

                    <div class="col-xxl-4 col-sm-6">
                        <div class="form-group">
                            <div class="form-control-wrap">
                                <label class="form-label">Дата договора</label>
                                <div class="form-icon form-icon-right"><em class="icon ni ni-calendar"></em></div>
                                <input type="text"
                                       class="form-control date-picker" data-date-format="dd.mm.yyyy"
                                       name="ic-contract-dtn" placeholder="Дата"></div>
                        </div>
                    </div>

                    <div class="col-xxl-4 col-sm-6">
                        <div class="form-group">
                            <div class="form-control-wrap">
                                <label class="form-label"
                                       for="r-month">Выберите месяц
                                </label>
                                <select class="form-control" id="ic-month" name="r-a-month">
                                    <option {% if month and month== 1 %}selected{% endif %} value="1">Январь</option>
                                    <option {% if month and month== 2 %}selected{% endif %} value="2">Февраль</option>
                                    <option {% if month and month== 3 %}selected{% endif %} value="3">Март</option>
                                    <option {% if month and month== 4 %}selected{% endif %} value="4">Апрель</option>
                                    <option {% if month and month== 5 %}selected{% endif %} value="5">Май</option>
                                    <option {% if month and month== 6 %}selected{% endif %} value="6">Июнь</option>
                                    <option {% if month and month== 7 %}selected{% endif %} value="7">Июль</option>
                                    <option {% if month and month== 8 %}selected{% endif %} value="8">Август</option>
                                    <option {% if month and month== 9 %}selected{% endif %} value="9">Сентябрь</option>
                                    <option {% if month and month== 10 %}selected{% endif %} value="10">Октябрь</option>
                                    <option {% if month and month== 11 %}selected{% endif %} value="11">Ноябрь</option>
                                    <option {% if month and month== 12 %}selected{% endif %} value="12">Декабрь</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-xxl-4 col-sm-6">
                        <div class="form-group">
                            <div class="form-control-wrap">
                                <label class="form-label"
                                       for="r-year">Выберите год
                                </label>
                                <select class="form-control" id="ic-year" name="r-a-year">
                                    <option {% if year and year== 2025 %}selected{% endif %} value="2025">2025</option>
                                    <option {% if year and year== 2026 %}selected{% endif %} value="2026">2026</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-xxl-4 col-sm-6">
                        <div class="form-group">
                            <div class="form-control-wrap">
                                <label class="form-label"
                                       for="ic-a-metr">км проезда подвижного состава
                                </label>
                                <input id="ic-a-metr" type="number" class="form-control" name="ic-a-metr" min="0">
                            </div>
                        </div>
                    </div>

                    <div class="col-xxl-4 col-sm-6">
                        <div class="form-group">
                            <div class="form-control-wrap">
                                <label class="form-label"
                                       for="ic-a-chas">в/км проезда подвижного состава
                                </label>
                                <input id="ic-a-chas" type="number" class="form-control" name="ic-a-chas" min="0">
                            </div>
                        </div>
                    </div>

                    <div class="col-xxl-4 col-sm-6">
                        <div class="form-group">
                            <div class="form-control-wrap">
                                <label class="form-label"
                                       for="ic-b-chas">час для маневровых работ
                                </label>
                                <input id="ic-b-chas" type="number" class="form-control" name="ic-b-chas" min="0">
                            </div>
                        </div>
                    </div>

                    <div class="col-xxl-4 col-sm-6">
                        <div class="form-group">
                            <div class="form-control-wrap">
                                <label class="form-label"
                                       for="ic-b-v">в/час для маневровых работ
                                </label>
                                <input id="ic-b-v" type="number" class="form-control" name="ic-b-v" min="0">
                            </div>
                        </div>
                    </div>

                    <div class="col-xxl-4 col-sm-6">
                        <div class="form-group">
                            <div class="form-control-wrap">
                                <label class="form-label"
                                       for="ic-b-chas">час локомотивной тяги
                                </label>
                                <input id="ic-c-chas" type="number" class="form-control" name="ic-c-chas" min="0">
                            </div>
                        </div>
                    </div>

                    <div class="col-xxl-4 col-sm-6">
                        <div class="form-group">
                            <div class="form-control-wrap">
                                <label class="form-label"
                                       for="ic-b-v">тенге локомотивной тяги
                                </label>
                                <input id="ic-c-v" type="number" class="form-control" name="ic-c-v" min="0">
                            </div>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="form-group">
                            <ul class="align-center flex-wrap flex-sm-nowrap gx-4 gy-2">
                                <li>
                                    <button onclick="genInvoiceCompanyReports()" data-bs-dismiss="modal"
                                            class="btn btn-success">
                                        Отчет
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="nk-block-head nk-block-head-sm">
        <div class="nk-block-between">
            <div class="nk-block-head-content">
                <h3 class="nk-block-title page-title"></h3>
            </div>

        </div>
    </div>
</div>
<div class="components-preview">
    <div class="col-lg-12">
        <div class="nk-block-head">
            <div class="nk-block-head-content"><h5 class="nk-block-title title">Путь</h5>
            </div>
        </div>
        <div class="card card-bordered">
            <div class="card-inner">
                <div class="row gy-4" id="filter-roads-data">
                    <div class="col-xxl-4 col-sm-6">
                        <div class="form-group">
                            <div class="form-control-wrap">
                                <div class="form-icon form-icon-right"><em class="icon ni ni-calendar"></em></div>
                                <input value="{{first_day}}" type="text"
                                       class="form-control date-picker" data-date-format="yyyy-mm-dd"
                                       name="rd-started-at" placeholder="С"></div>
                        </div>
                    </div>
                    <div class="col-xxl-4 col-sm-6">
                        <div class="form-group">
                            <div class="form-control-wrap">
                                <div class="form-icon form-icon-right"><em class="icon ni ni-calendar"></em></div>
                                <input type="text" value="{{last_day}}"
                                       class="form-control date-picker" data-date-format="yyyy-mm-dd"
                                       name="rd-stopped-at" placeholder="ПО"></div>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="form-group">
                            <ul class="align-center flex-wrap flex-sm-nowrap gx-4 gy-2">
                                <li>
                                    <button onclick="genRoadsReports()" data-bs-dismiss="modal"
                                            class="btn btn-success">
                                        Отчет
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="nk-block-head nk-block-head-sm">
        <div class="nk-block-between">
            <div class="nk-block-head-content">
                <h3 class="nk-block-title page-title"></h3>
            </div>

        </div>
    </div>
</div>
<!--<div class="components-preview">-->
<!--    <div class="col-lg-12">-->
<!--        <div class="nk-block-head">-->
<!--            <div class="nk-block-head-content"><h5 class="nk-block-title title">Расходы</h5>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="card card-bordered">-->
<!--            <div class="card-inner">-->
<!--                <div class="row gy-4" id="filter-expenses-data">-->
<!--                    <div class="col-xxl-4 col-sm-6">-->
<!--                        <div class="form-group">-->
<!--                            <div class="form-control-wrap">-->
<!--                                <div class="form-icon form-icon-right"><em class="icon ni ni-calendar"></em></div>-->
<!--                                <input value="{{first_day}}" type="text"-->
<!--                                       class="form-control date-picker" data-date-format="yyyy-mm-dd"-->
<!--                                       name="ex-started-at" placeholder="С"></div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="col-xxl-4 col-sm-6">-->
<!--                        <div class="form-group">-->
<!--                            <div class="form-control-wrap">-->
<!--                                <div class="form-icon form-icon-right"><em class="icon ni ni-calendar"></em></div>-->
<!--                                <input type="text" value="{{last_day}}"-->
<!--                                       class="form-control date-picker" data-date-format="yyyy-mm-dd"-->
<!--                                       name="ex-stopped-at" placeholder="ПО"></div>-->
<!--                        </div>-->
<!--                    </div>-->

<!--                    <div class="col-12">-->
<!--                        <div class="form-group">-->
<!--                            <ul class="align-center flex-wrap flex-sm-nowrap gx-4 gy-2">-->
<!--                                <li>-->
<!--                                    <button onclick="genExpensesReports()" data-bs-dismiss="modal"-->
<!--                                            class="btn btn-success">-->
<!--                                        Отчет-->
<!--                                    </button>-->
<!--                                </li>-->
<!--                            </ul>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="nk-block-head nk-block-head-sm">-->
<!--        <div class="nk-block-between">-->
<!--            <div class="nk-block-head-content">-->
<!--                <h3 class="nk-block-title page-title"></h3>-->
<!--            </div>-->

<!--        </div>-->
<!--    </div>-->
<!--</div>-->


{% endblock %}
{% block js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.1.0-beta.1/js/select2.min.js"></script>

<script>
    $('li[data-li="control"]').addClass('active');
    $('li[data-li="control-reports"]').addClass('active');

    $('#f-company').select2({
        placeholder: 'Выберите',
        language: {
            noResults: function () {
                return "Компания не найден";
            }
        },
        ajax: {
            transport: async function (params, success, failure) {
                try {
                    const query = params.data.q || '';
                    const response = await fetch(`/api/controls/companies?response_type=json&query=${encodeURIComponent(query)}`);

                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }

                    const data = await response.json();
                    const results = data.companies.map(company => ({
                        id: company._id,
                        text: `${company.title}`,
                        value: company._id
                    }));

                    success({results});
                } catch (error) {
                    failure(error);
                }
            },
            processResults: function (data) {
                return data;
            }
        }
    });

    function paramsToQueryString(params) {
        return Object.keys(params)
            .map(key => `${encodeURIComponent(key)}=${encodeURIComponent(params[key])}`)
            .join("&");
    }

    function genReports() {
        let params = getValues('#filter-data')
        let updatedQueryString = paramsToQueryString(params);
        window.location.href = `/api/reports/receipts/?${updatedQueryString}`
    }

    function genStayedReports() {
        let params = getValues('#filter-stayed-data')
        let updatedQueryString = paramsToQueryString(params);
        window.location.href = `/api/reports/stayed?${updatedQueryString}`
    }

    function genServicesReferenceReports() {
        let params = getValues('#filter-services-reference-data')
        let updatedQueryString = paramsToQueryString(params);
        window.location.href = `/api/reports/services-reference?${updatedQueryString}`
    }

    function genRecordAcceptanceReports() {
        let params = getValues('#filter-record-acceptance-data')
        let updatedQueryString = paramsToQueryString(params);
        window.location.href = `/api/reports/record-acceptance?${updatedQueryString}`
    }

    function genRoadsReports() {
        let params = getValues('#filter-roads-data')
        let updatedQueryString = paramsToQueryString(params);
        window.location.href = `/api/reports/roads?${updatedQueryString}`
    }

    function genExpensesReports() {
        let params = getValues('#filter-expenses-data')
        let updatedQueryString = paramsToQueryString(params);
        window.location.href = `/api/reports/expenses?${updatedQueryString}`
    }

    function genInvoiceCompanyReports() {
        let params = getValues('#filter-invoice-company-data')
        let updatedQueryString = paramsToQueryString(params);
        window.location.href = `/api/reports/invoice-company?${updatedQueryString}`
    }

</script>
{% endblock %}