{% extends 'admin/base.html' %}
{% block container %}
<div class="components-preview">
    <div class="col-lg-12">
        <div class="nk-block-head">
            <div class="nk-block-head-content"><h5 class="nk-block-title title">Фильтр</h5></div>
        </div>
        <div class="card card-bordered">
            <div class="card-inner">
                <div class="row gy-4" id="filter-data">
                    <div class="col-xxl-4 col-sm-6">
                        <div class="form-group">
                            <div class="form-control-wrap">
                                <div class="form-icon form-icon-right"><em class="icon ni ni-calendar"></em></div>
                                <input value="{{request.args.get('started_at') or ''}}" type="text"
                                       class="form-control date-picker" data-date-format="yyyy-mm-dd"
                                       name="started_at" placeholder="С"></div>
                        </div>
                    </div>
                    <div class="col-xxl-4 col-sm-6">
                        <div class="form-group">
                            <div class="form-control-wrap">
                                <div class="form-icon form-icon-right"><em class="icon ni ni-calendar"></em></div>
                                <input type="text" value="{{request.args.get('stopped_at') or ''}}"
                                       class="form-control date-picker" data-date-format="yyyy-mm-dd"
                                       name="stopped_at" placeholder="ПО"></div>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="form-group">
                            <ul class="align-center flex-wrap flex-sm-nowrap gx-4 gy-2">
                                <li>
                                    <button onclick="clearFilters()" data-bs-dismiss="modal" class="btn btn-danger">
                                        Очистить
                                    </button>
                                </li>
                                <li>
                                    <button onclick="genStayedReports()" data-bs-dismiss="modal"
                                            class="btn btn-success">
                                        Отчет по отстою вагонов
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="nk-block-head nk-block-head-sm">
        <div class="nk-block-between">
            <div class="nk-block-head-content">
                <h3 class="nk-block-title page-title"></h3>
            </div>

        </div>
    </div>
</div>
{% endblock %}
{% block js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.1.0-beta.1/js/select2.min.js"></script>

<script>
    $('li[data-li="control"]').addClass('active')
    $('li[data-li="control-stayed"]').addClass('active')


    function paramsToQueryString(params) {
        return Object.keys(params)
            .map(key => `${encodeURIComponent(key)}=${encodeURIComponent(params[key])}`)
            .join("&");
    }

    function clearFilters() {
        window.location.href = '/api/reports/stayed/'
    }


    function genStayedReports() {
        let params = getValues('#filter-data')
        let updatedQueryString = paramsToQueryString(params);
        window.location.href = `/api/reports/stayed?${updatedQueryString}&action=generate`
    }

</script>
{% endblock %}