{% extends 'admin/base.html' %}
{% block container %}
<div class="nk-content-body">
    <div class="components-preview wide-md mx-auto">
        <div class="nk-block nk-block-lg">
            <div class="row g-gs">
                <div class="col-lg-12">
                    <div class="card card-bordered h-100">
                        <div class="card-inner" id="data-item">
                            <div class="card-head"><h5 class="card-title"></h5></div>
                            <div>
                                <div class="form-group">
                                    <div class="form-group">
                                        <label class="form-label"
                                               for="cf-title">Название
                                        </label>
                                        <input type="text" class="form-control"
                                               name="title"
                                               value="{{item.title}}"
                                               id="cf-title">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="form-label"
                                           for="cf-started-at">Дата изготовление
                                    </label>
                                    <input type="text" class="form-control date-picker-alt"
                                           data-date-format="yyyy-mm-dd"
                                           name="started_at"
                                           value="{{item.started_at}}"
                                           id="cf-started-at">
                                </div>
                                <div class="form-group">
                                    <label class="form-label"
                                           for="cf-stopped-at">Дата срок
                                    </label>
                                    <input type="text" class="form-control date-picker-alt"
                                           data-date-format="yyyy-mm-dd"
                                           name="stopped_at"
                                           value="{{item.stopped_at}}"
                                           id="cf-stopped-at">
                                </div>
                                <div class="form-group">
                                    <label class="form-label"
                                           for="cf-cost">Цена покупки
                                    </label>
                                    <input type="number" class="form-control"
                                           min="0"
                                           name="cost"
                                           value="{{item.cost}}"
                                           id="cf-cost">
                                </div>
                                <div class="form-group">
                                    <label class="form-label"
                                           for="cf-discount">Скидка
                                    </label>
                                    <input type="number" class="form-control"
                                           min="0"
                                           value="{{item.discount}}"
                                           name="discount"
                                           id="cf-discount">
                                </div>
                                <div class="form-group">
                                    <label class="form-label"
                                           for="cf-amount">Количество
                                    </label>
                                    <input type="number" class="form-control"
                                           min="0"
                                           value="{{item.amount}}"
                                           name="amount"
                                           id="cf-amount">
                                </div>

                                <div class="form-group">
                                    <label class="form-label" for="customFile" data-name="photo">Фото</label>
                                    <div class="card-preview">
                                        <div class="card-inner">
                                            <div class="row">
                                                <div class="col-lg-8">
                                                    <div class="card card-bordered photo-place" data-name="photo">
                                                        <img class="card-img-top"
                                                             {% if item.photo %}
                                                             src="/static/uploads/{{item.photo}}/"
                                                             {% endif %}
                                                             alt="">
                                                        <div class="card-inner">
                                                            <div class="form-control-wrap">
                                                                <div class="form-file">
                                                                    <input type="hidden" name="photo"
                                                                           value="{{item.photo}}">
                                                                    <input type="file" multiple=""
                                                                           class="form-file-input"
                                                                           id="customFile" accept="image/*">
                                                                    <label class="form-file-label"
                                                                           for="customFile">Choose file
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="form-group">
                                    <button onclick="saveItem()" type="submit" class="btn btn-lg btn-primary">
                                        Сохранить
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script>
    $('li[data-li="sales"]').addClass('active')
    $('li[data-li="sales-goods"]').addClass('active')

    $('[type="file"]').change(function () {
        var trigger_name = $(this).parents('.photo-place').data('name');
        var input_name = $(this).closest('.photo-place').find('[name="' + trigger_name + '"]');
        let image = $(this).closest('.photo-place').find('img')
        uploadImage($(this).attr('id')).then(function (data) {
            input_name.val(String(data['file_name']));
            image.attr('src', '/static/uploads/' + String(data['file_name']));
        }, function (data) {
            alert('error');
        });
    })

    let currUrl = window.location.href.split('/')
    let itemId = currUrl[currUrl.length - 1] || currUrl[currUrl.length - 2]

    async function saveItem() {
        try {
            let response = await fetch('/api/sales/goods/' + itemId, {
                method: 'POST',
                body: JSON.stringify(getValues('#data-item'))
            });

            response = await response.json();
            if (response._success === true) {
                alert('success');
                window.location.href = '/api/sales/goods/'
            } else {
                alert(response.message);
            }

        } catch (error) {
            alertShow('waring', `${error.message}`);
        }
    }

</script>

{% endblock %}