{% extends 'admin/base.html' %}
{% block container %}
<div class="nk-content-body">
    <div class="nk-block nk-block-lg">
        <div class="card">
            <div class="card-aside-wrap">
                <div class="card-content">
                    <ul class="nav nav-tabs nav-tabs-mb-icon nav-tabs-card">
                        <li class="nav-item"><a class="nav-link active" data-bs-toggle="tab"
                                                href="#tabItem1"><em
                                class="icon ni ni-user-circle-fill"></em><span>Инфо</span></a>
                        </li>
                        <li class="nav-item"><a class="nav-link" data-bs-toggle="tab"
                                                href="#tabItem2"><em
                                class="icon ni ni-property"></em><span>Товары</span></a></li>
                    </ul>
                    <div class="card-inner">
                        <div class="tab-content">
                            <div class="tab-pane active" id="tabItem1">
                                <div class="nk-block nk-block-lg">
                                    <div class="row g-gs">
                                        <div class="col-lg-12">
                                            <div class="card card-bordered h-100">
                                                <div class="card-inner" id="data-item">
                                                    <div>
                                                        <div class="form-group">
                                                            <div class="form-group">
                                                                <label class="form-label"
                                                                       for="cf-title">Название
                                                                </label>
                                                                <input type="text" class="form-control"
                                                                       name="title"
                                                                       value="{{item.title}}"
                                                                       id="cf-title">
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <div class="form-group">
                                                                <label class="form-label"
                                                                       for="cf-description">Описание
                                                                </label>
                                                                <input type="text" class="form-control"
                                                                       name="description"
                                                                       value="{{item.description}}"
                                                                       id="cf-description">
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <div class="form-group">
                                                                <label class="form-label"
                                                                       for="cf-document_number">Номер документа
                                                                </label>
                                                                <input type="text" class="form-control"
                                                                       name="document_number"
                                                                       value="{{item.document_number}}"
                                                                       id="cf-document_number">
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="form-label"
                                                                   for="cf-compiled_at">Время составления
                                                            </label>
                                                            <input type="text" class="form-control date-picker-alt"
                                                                   data-date-format="yyyy-mm-dd"
                                                                   name="compiled_at"
                                                                   value="{{item.compiled_at}}"
                                                                   id="cf-compiled_at">
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="form-label"
                                                                   for="cf-amount_goods">Количества товаров
                                                            </label>
                                                            <input type="number" class="form-control"
                                                                   min="0"
                                                                   name="amount_goods"
                                                                   value="{{item.amount_goods}}"
                                                                   id="cf-amount_goods">
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="form-label"
                                                                   for="cf-whole">Весь
                                                            </label>
                                                            <input type="number" class="form-control"
                                                                   min="0"
                                                                   name="whole"
                                                                   value="{{item.whole}}"
                                                                   id="cf-whole">
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="form-label"
                                                                   for="cf-paid_summ">Сумма к оплате
                                                            </label>
                                                            <input type="number" class="form-control"
                                                                   min="0"
                                                                   name="paid_summ"
                                                                   value="{{item.paid_summ}}"
                                                                   id="cf-paid_summ">
                                                        </div>

                                                        <div class="form-group">
                                                            <label class="form-label" for="customFile"
                                                                   data-name="photo">Фото</label>
                                                            <div class="card-preview">
                                                                <div class="card-inner">
                                                                    <div class="row">
                                                                        <div class="col-lg-8">
                                                                            <div class="card card-bordered photo-place"
                                                                                 data-name="photo">
                                                                                <img class="card-img-top"
                                                                                     {% if item.photo %}
                                                                                     src="/static/uploads/{{item.photo}}/"
                                                                                     {% endif %}
                                                                                     alt="">
                                                                                <div class="card-inner">
                                                                                    <div class="form-control-wrap">
                                                                                        <div class="form-file">
                                                                                            <input type="hidden"
                                                                                                   name="photo"
                                                                                                   value="{{item.photo}}">
                                                                                            <input type="file"
                                                                                                   multiple=""
                                                                                                   class="form-file-input"
                                                                                                   id="customFile"
                                                                                                   accept="image/*">
                                                                                            <label class="form-file-label"
                                                                                                   for="customFile">Choose
                                                                                                file
                                                                                            </label>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>

                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>

                                                        <div class="form-group">
                                                            <button onclick="saveItem()" type="submit"
                                                                    class="btn btn-lg btn-primary">
                                                                Сохранить
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="tabItem2">
                                <div class="nk-block nk-block-between">
                                    <div class="nk-block-head"></div>
                                    <div class="nk-block"><a class="btn btn-icon btn-primary"
                                                             data-bs-toggle="modal"
                                                             href="#addGoods"><em
                                            class="icon ni ni-plus"></em></a></div>
                                </div>
                                <div class="nk-block">
                                    <div class="card">
                                        <div class="nk-tb-list nk-tb-ulist is-compact" id="list-goods">
                                            <div class="nk-tb-item nk-tb-head">
                                                <div class="nk-tb-col">
                                                    <span class="sub-text">Наименования</span>
                                                </div>
                                                <div class="nk-tb-col">
                                                    <span class="sub-text">Количества</span>
                                                </div>
                                                <div class="nk-tb-col">
                                                    <span class="sub-text">Статус</span>
                                                </div>
                                                <div class="nk-tb-col nk-tb-col-tools text-end"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" tabindex="-1" role="dialog" id="addGoods">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content"><a href="#" class="close" data-bs-dismiss="modal"><em
                class="icon ni ni-cross-sm"></em></a>
            <div class="modal-body modal-body-md"><h5 class="modal-title">Diagnosis Info</h5>
                <form action="#" class="mt-4">
                    <div class="row g-gs">
                        <div class="col-12">
                            <div class="form-group">
                                <label class="form-label"
                                       for="cf-goods-title">Название
                                </label>
                                <input type="text" class="form-control"
                                       name="title"
                                       id="cf-goods-title">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label class="form-label"
                                   for="cf-goods-started-at">Дата изготовление
                            </label>
                            <input type="text" class="form-control date-picker-alt"
                                   data-date-format="yyyy-mm-dd"
                                   name="started_at"
                                   id="cf-goods-started-at">
                        </div>
                        <div class="col-md-6">
                            <label class="form-label"
                                   for="cf-goods-stopped-at">Дата срок
                            </label>
                            <input type="text" class="form-control date-picker-alt"
                                   data-date-format="yyyy-mm-dd"
                                   name="stopped_at"
                                   id="cf-goods-stopped-at">
                        </div>
                        <div class="col-md-6">
                            <label class="form-label"
                                   for="cf-goods-cost">Цена покупки
                            </label>
                            <input type="number" class="form-control"
                                   min="0"
                                   name="cost"
                                   id="cf-goods-cost">
                        </div>
                        <div class="col-md-6">
                            <label class="form-label"
                                   for="cf-goods-discount">Скидка
                            </label>
                            <input type="number" class="form-control"
                                   min="0"
                                   name="discount"
                                   id="cf-goods-discount">
                        </div>
                        <div class="col-md-6">
                            <label class="form-label"
                                   for="cf-goods-amount">Количество
                            </label>
                            <input type="number" class="form-control"
                                   min="0"
                                   name="amount"
                                   id="cf-goods-amount">
                        </div>
                        <div class="col-12">
                            <label class="form-label" for="customFileNewGoods" data-name="photo">Фото</label>
                            <div class="card-preview">
                                <div class="card-inner">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="card card-bordered photo-place" data-name="photo">
                                                <img class="card-img-top" alt="">
                                                <div class="card-inner">
                                                    <div class="form-control-wrap">
                                                        <div class="form-file">
                                                            <input type="hidden" name="photo"
                                                                   value="{{photo}}">
                                                            <input type="file" multiple=""
                                                                   class="form-file-input"
                                                                   id="customFileNewGoods" accept="image/*">
                                                            <label class="form-file-label"
                                                                   for="customFileNewGoods">Choose file
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <ul class="align-center flex-wrap flex-sm-nowrap gx-4 gy-2">
                                <li>
                                    <a data-bs-dismiss="modal" onclick="createGoodsItem()" class="btn btn-primary">
                                        add
                                    </a>
                                </li>
                                <li><a href="#" class="link link-light" data-bs-dismiss="modal">Cancel</a></li>
                            </ul>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script>
    $('li[data-li="sales"]').addClass('active')
    $('li[data-li="sales-overheads"]').addClass('active')

    $('[type="file"]').change(function () {
        var trigger_name = $(this).parents('.photo-place').data('name');
        var input_name = $(this).closest('.photo-place').find('[name="' + trigger_name + '"]');
        let image = $(this).closest('.photo-place').find('img')
        uploadImage($(this).attr('id')).then(function (data) {
            input_name.val(String(data['file_name']));
            image.attr('src', '/static/uploads/' + String(data['file_name']));
        }, function (data) {
            alert('error');
        });
    })

    let currUrl = window.location.href.split('/')
    let itemId = currUrl[currUrl.length - 1] || currUrl[currUrl.length - 2]

    async function saveItem() {
        try {
            let response = await fetch('/api/sales/overheads/' + itemId, {
                method: 'POST',
                body: JSON.stringify(getValues('#data-item'))
            });

            response = await response.json();
            if (response._success === true) {
                alert('success');
                window.location.href = '/api/sales/overheads/'
            } else {
                alert(response.message);
            }

        } catch (error) {
            alertShow('waring', `${error.message}`);
        }
    }

    getGoods()

    function clearTable() {
        $('#addGoods :input').val('');

        $('#list-goods').empty()
        $('#list-goods').append(
            $('<div>').addClass('nk-tb-item nk-tb-head').append(
                $('<div>').addClass('nk-tb-col').append(
                    $('<span>').addClass('sub-text').text('Наименования')
                )
            ).append(
                $('<div>').addClass('nk-tb-col').append(
                    $('<span>').addClass('sub-text').text('Количества')
                )
            ).append(
                $('<div>').addClass('nk-tb-col').append(
                    $('<span>').addClass('sub-text').text('Статус')
                )
            ).append(
                $('<div>').addClass('nk-tb-col nk-tb-col-tools text-end')
            )
        )
    }

    async function getGoods() {
        clearTable();

        let paramsString = $.param({
            'response_type': 'json',
            'overhead_id': itemId.toString(),
            'limit': 1000
        });
        let apiUrl = '/api/sales/goods?';
        if (paramsString) {
            apiUrl += paramsString
        }

        try {
            let response = await fetch(apiUrl);

            response = await response.json();
            if (response._success === true) {
                $.each(response.goods, function (index, item) {
                    showGoodsItem(index, item);
                });
            } else {
                alert(response.message);
            }

        } catch (error) {
            alertShow('waring', `${error.message}`);
        }
    }

    function showGoodsItem(index, item) {
        let newElementTr = $('<div>').attr({
            'class': 'nk-tb-item'
        });

        // Title
        let trTitle = $('<div>').attr({
            class: 'nk-tb-col'
        })
        trTitle.append(
            $('<span>').text(item.title)
        )
        newElementTr.append(trTitle)
        $(trTitle).click(function () {
            window.location.href = '/api/sales/goods/' + item._id.toString()
        })

        // Amount
        let trAmount = $('<div>').attr({
            class: 'nk-tb-col'
        })
        trAmount.append(
            $('<span>').text(item.amount)
        )
        newElementTr.append(trAmount)

        // Status
        let trStatus = $('<div>').attr({
            class: 'nk-tb-col tb-col-sm'
        })
        trStatus.append(
            $('<span>').text(item.status)
        )
        newElementTr.append(trStatus)


        // Status
        let trAction = $('<div>').attr({
            class: 'nk-tb-col nk-tb-col-tools'
        })

        let trActionEdit = $('<li>').addClass('nk-tb-action-hidden').append(
            $('<a>').attr({
                class: 'btn btn-sm btn-icon btn-trigger',
                'data-bs-toggle': 'tooltip',
                'data-bs-placement': 'top',
                'title': 'Edit'
            }).append(
                $('<em>').addClass('icon ni ni-edit-fill')
            )
        )
        $(trActionEdit).click(function () {
            window.location.href = '/api/sales/goods/' + item._id.toString()
        })

        let trActionDel = $('<li>').addClass('nk-tb-action-hidden').append(
            $('<a>').attr({
                class: 'btn btn-sm btn-icon btn-trigger',
                'data-bs-toggle': 'tooltip',
                'data-bs-placement': 'top',
                'title': 'Delete'
            }).append(
                $('<em>').addClass('icon ni ni-trash-fill')
            )
        )
        $(trActionDel).click(async function () {
            await deleteGoodsItem(item)
        })

        trAction.append(
            $('<ul>').addClass('nk-tb-actions gx-2').append(trActionEdit).append(trActionDel)
        )
        newElementTr.append(trAction)

        $("#list-goods").append(newElementTr);

    }

    async function deleteGoodsItem(item) {
        try {
            let response = await fetch('/api/sales/goods/' + item._id.toString(), {
                method: 'DELETE',
            });

            response = await response.json();
            if (response._success === true) {
                await getGoods();
            } else {
                alert(response.message);
                // alertShow('error', response.message);
            }

        } catch (error) {
            alertShow('waring', `${error.message}`);
        }
    }

    async function createGoodsItem() {
        try {
            let response = await fetch('/api/sales/goods/create/', {
                method: 'POST',
                body: JSON.stringify({
                    'overhead_id': itemId.toString(),
                    ...getValues('#addGoods')
                })
            });

            response = await response.json();
            if (response._success === true) {
                await getGoods()
            } else {
                alert(response.message);
            }

        } catch (error) {
            alertShow('waring', `${error.message}`);
        }
    }
</script>

{% endblock %}