{% extends 'admin/base.html' %}
{% block container %}
<div class="components-preview wide-md mx-auto">
    <div class="col-lg-12">
        <div class="nk-block-head">
            <div class="nk-block-head-content"><h5 class="nk-block-title title">Фильтр</h5></div>
        </div>
        <div class="card card-bordered">
            <div class="card-inner">
                <div class="row gy-4" id="filter-data">
                    <div class="col-xxl-4 col-sm-6">
                        <div class="form-group">
                            <div class="form-control-wrap">
                                <div class="form-icon form-icon-right"><em class="icon ni ni-calendar"></em></div>
                                <input value="{{request.args.get('start_date') or ''}}" type="text"
                                       class="form-control date-picker" data-date-format="yyyy-mm-dd"
                                       name="start_date" placeholder="С"></div>
                        </div>
                    </div>
                    <div class="col-xxl-4 col-sm-6">
                        <div class="form-group">
                            <div class="form-control-wrap">
                                <div class="form-icon form-icon-right"><em class="icon ni ni-calendar"></em></div>
                                <input type="text" value="{{request.args.get('stop_date') or ''}}"
                                       class="form-control date-picker" data-date-format="yyyy-mm-dd"
                                       name="stop_date" placeholder="ПО"></div>
                        </div>
                    </div>

                    <div class="col-xxl-4 col-sm-6">
                        <div class="form-group">
                            <label class="form-label">Статус оплаты</label>
                            <select class="form-select" name="is_paid">
                                <option value="">Выберите</option>
                                <option {% if request.args.get(
                                'is_paid') == 'false' %} selected {% endif %} value="false">В ожидании</option>
                                <option {% if request.args.get(
                                'is_paid') == 'true' %} selected {% endif %} value="true">Оплачен</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xxl-4 col-sm-6">
                        <div class="form-group">
                            <label class="form-label">Вид оплаты</label>
                            <select class="form-select" name="paid_type">
                                <option value="">Виберите</option>
                                <option {% if request.args.get(
                                'paid_type') == 'CASH' %} selected {% endif %} value="CASH">Наличный</option>
                                <option {% if request.args.get(
                                'paid_type') == 'KASPI' %} selected {% endif %} value="KASPI">Каспи</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="form-group">
                            <ul class="align-center flex-wrap flex-sm-nowrap gx-4 gy-2">
                                <li>
                                    <button onclick="searchFilter()" type="submit" class="btn btn-primary">Поиск
                                    </button>
                                </li>
                                <li>
                                    <button onclick="clearFilters()" data-bs-dismiss="modal" class="btn btn-danger">
                                        Очистить
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="nk-block-head nk-block-head-sm">
        <div class="nk-block-between">
            <div class="nk-block-head-content">
                <h3 class="nk-block-title page-title"></h3>
            </div>

        </div>
    </div>
    <div class="nk-block">
        <div class="card card-stretch">
            <div class="card-inner">
                <div class="card-title-group">
                    <div class="card-title"><h5 class="title">Заказы</h5></div>
                </div>
            </div>
            <div class="card-inner p-0">
                {% if items %}
                <div class="nk-block">
                    <div class="card">
                        <div class="nk-tb-list nk-tb-ulist is-compact">
                            <div class="nk-tb-item nk-tb-head">
                                <div class="nk-tb-col"><span>#</span></div>
                                <div class="nk-tb-col"><span>Сумма</span></div>
                                <div class="nk-tb-col"><span>Скидка (%)</span></div>
                                <div class="nk-tb-col"><span>Итоговая сумма</span></div>
                                <div class="nk-tb-col"><span>Оплата</span></div>
                                <div class="nk-tb-col"><span>Заклад</span></div>
                                <div class="nk-tb-col"><span>Вид оплаты</span></div>
                                <div class="nk-tb-col"><span>Дата</span></div>
                                <div class="nk-tb-col nk-tb-col-tools text-end"></div>
                            </div>
                            {% for item in items %}
                            <div class="nk-tb-item">
                                <div class="nk-tb-col">
                                    {{item.id}}
                                </div>
                                <div class="nk-tb-col">
                                    <span>{{item.sum or ''}}</span>
                                </div>
                                <div class="nk-tb-col">
                                    <span>{{item.discount or ''}}</span>
                                </div>
                                <div class="nk-tb-col">
                                    <span>{{item.total_sum or ''}}</span>
                                </div>

                                <div class="nk-tb-col">
                                    {% if item.is_paid %}
                                    <span class="badge badge-dim bg-success">Оплачен</span>
                                    {% else %}
                                    <span class="badge badge-dim bg-warning">Ожидание</span>
                                    {% endif %}
                                </div>
                                <div class="nk-tb-col">
                                    <span>{{item.pledge or ''}}</span>
                                </div>
                                <div class="nk-tb-col">
                                    {% if item.paid_type == 'KASPI' %}
                                    <span class="badge badge-dot bg-danger">Каспи</span>
                                    {% elif item.paid_type == 'CASH' %}
                                    <span class="badge badge-dot bg-dark">Наличный</span>
                                    {% endif %}
                                </div>
                                <div class="nk-tb-col">
                                    <span>{{item.created_at and item.created_at.strftime('%Y-%m-%d %H:%M') or ''}}</span>
                                </div>

                                <div class="nk-tb-col nk-tb-col-tools">
                                    <ul class="nk-tb-actions gx-1 my-n1">
                                        <li class="me-n1">
                                            <div class="dropdown"><a href="#"
                                                                     class="dropdown-toggle btn btn-icon btn-trigger"
                                                                     data-bs-toggle="dropdown"><em
                                                    class="icon ni ni-more-h"></em></a>
                                                <div class="dropdown-menu dropdown-menu-end">
                                                    <ul class="link-list-opt no-bdr">
                                                        <li><a onclick="openItem({{item.id}})">
                                                            <em class="icon ni ni-eye"></em>
                                                            <span>Просмотр</span>
                                                        </a></li>
                                                        {% if not item.is_paid %}
                                                        <li><a onclick="paidItem({{item.id}})">
                                                            <em class="icon ni ni-money"></em>
                                                            <span>Оплатить</span>
                                                        </a></li>
                                                        {% endif %}
                                                    </ul>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% if pager %}
                <div class="card-inner">
                    <ul class="pagination justify-content-center justify-content-md-start">
                        <li class="page-item">
                            <a class="page-link"
                               {% if pager.prev_page %}
                               href="/api/sales/orders?page={{pager.prev_page}}"
                               {% endif %}
                            >{% if pager.prev_page %}Prev{% else %}&nbsp;{% endif %}</a>
                        </li>
                        <li class="page-item"><a class="page-link">{{pager.page}}</a></li>
                        <li class="page-item">
                            <a class="page-link"
                               {% if pager.next_page %}
                               href="/api/sales/orders?page={{pager.next_page}}"
                               {% endif %}
                            >{% if pager.next_page %}Prev{% else %}&nbsp;{% endif %}</a>
                        </li>
                    </ul>
                </div>
                {% endif %}
                {% else %}
                <div class="card-inner">
                    <figure class="text-center">
                        <blockquote class="blockquote"><h3>
                            Cписок услуг
                        </h3></blockquote>
                    </figure>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.1.0-beta.1/js/select2.min.js"></script>

<script>
    $('li[data-li="sales"]').addClass('active')
    $('li[data-li="sales-orders"]').addClass('active')

    async function paidItem(itemId) {
        try {
            let response = await fetch(`/api/sales/orders/`, {
                method: 'POST',
                body: JSON.stringify({
                    action: 'paid',
                    order_id: itemId,
                })
            });

            response = await response.json();
            if (response._success === true) {
                window.location.reload();
            } else {
                alert(response.message);
            }

        } catch (error) {
            alertShow('waring', `${error.message}`);
        }
    }

    async function openItem(itemId) {
        if (itemId) {
            window.location.href = `/api/sales/orders/${itemId}/items`
        }
    }

    function clearFilters() {
        window.location.href = '/api/sales/orders/'
    }

    function paramsToQueryString(params) {
        return Object.keys(params)
            .map(key => `${encodeURIComponent(key)}=${encodeURIComponent(params[key])}`)
            .join("&");
    }

    function searchFilter() {
        let params = getValues('#filter-data')
        let updatedQueryString = paramsToQueryString(params);
        window.location.href = `/api/sales/orders?${updatedQueryString}`

    }

</script>
{% endblock %}