{% extends 'admin/base.html' %}
{% block container %}
<div class="components-preview wide-md mx-auto">
    <div class="nk-block-head nk-block-head-sm">
        <div class="nk-block-between">
            <div class="nk-block-head-content">
                <h3 class="nk-block-title page-title"></h3>
            </div>

        </div>
    </div>
    <div class="nk-block">
        <div class="card card-stretch">
            <div class="card-inner">
                <div class="card-title-group">
                    <div class="card-title"><h5 class="title">Продукты</h5></div>
                    <div class="nk-block-head-content">
                        <div class="toggle-wrap nk-block-tools-toggle">
                            <a href="#"
                               class="btn btn-icon btn-trigger toggle-expand me-n1"
                               data-target="pageMenu">
                                <em class="icon ni ni-more-v"></em>
                            </a>
                            <div class="toggle-expand-content" data-content="pageMenu">
                                <ul class="nk-block-tools g-3">
                                    <li>
                                        <div class="form-control-wrap">
                                            <div class="form-icon form-icon-right"><em
                                                    class="icon ni ni-search"></em></div>
                                            <input type="text" class="form-control" id="filter-query"
                                                   value="{{request.args.get('query', '')}}"
                                                   placeholder="Поиск"></div>
                                    </li>
                                    <li class="nk-block-tools-opt">
                                        <a href="#" data-target="addProduct"
                                           class="toggle btn btn-icon btn-primary d-md-none">
                                            <em class="icon ni ni-plus"></em>
                                        </a>
                                        <a href="#"
                                           data-target="addProduct"
                                           class="toggle btn btn-primary d-none d-md-inline-flex">
                                            <em class="icon ni ni-plus"></em>
                                            <span>добавить</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-inner p-0">
                <table class="table table-tranx">
                    <thead>
                    <tr class="tb-tnx-head">
                        <th class="tb-tnx-id"><span class="">Название</span></th>
                        <th class="tb-tnx-action"><span>&nbsp;</span></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in products %}
                    <tr class="tb-tnx-item" data-id="{{item._id}}">
                        <td class="tb-tnx-id">
                            <div class="tb-tnx-desc">
                                <span class="title">{{item.title}}</span>
                            </div>
                        </td>
                        <td class="tb-tnx-action">
                            <div class="dropdown"><a
                                    class="text-soft dropdown-toggle btn btn-icon btn-trigger"
                                    data-bs-toggle="dropdown"><em
                                    class="icon ni ni-more-h"></em></a>
                                <div class="dropdown-menu dropdown-menu-end dropdown-menu-xs">
                                    <ul class="link-list-plain">
                                        <li><a href="/api/sales/products/{{item._id}}/">Edit</a></li>
                                        <li><a class="js-remove">Remove</a></li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            {% if pager %}
            <div class="card-inner">
                <ul class="pagination justify-content-center justify-content-md-start">
                    <li class="page-item">
                        <a class="page-link"
                           {% if pager.prev_page %}
                           href="/api/users/?limit={{pager.limit}}&page={{pager.prev_page}}"
                           {% endif %}
                        >Prev</a>
                    </li>
                    <li class="page-item"><a class="page-link">{{pager.page}}</a></li>
                    <li class="page-item">
                        <a class="page-link"
                           {% if pager.next_page %}
                           href="/api/users/?limit={{pager.limit}}&page={{pager.next_page}}"
                           {% endif %}
                        >Next</a>
                    </li>
                </ul>
            </div>
            {% endif %}
        </div>
    </div>
    <div class="nk-add-product toggle-slide toggle-slide-right" data-content="addProduct"
         data-toggle-screen="any" data-toggle-overlay="true" data-toggle-body="true" data-simplebar id="new-data-item">
        <div class="nk-block">
            <div class="row g-3">
                <div class="col-12">
                    <div class="form-group">
                        <label class="form-label"
                               for="cf-title">Название
                        </label>
                        <input type="text" class="form-control"
                               name="title"
                               id="cf-title">
                    </div>
                </div>
                <div class="col-12">
                    <label class="form-label" for="customFileNew" data-name="photo">Фото</label>
                    <div class="card-preview">
                        <div class="card-inner">
                            <div class="row">
                                <div class="col-12">
                                    <div class="card card-bordered photo-place" data-name="photo">
                                        <img class="card-img-top" alt="">
                                        <div class="card-inner">
                                            <div class="form-control-wrap">
                                                <div class="form-file">
                                                    <input type="hidden" name="photo"
                                                           value="{{photo}}">
                                                    <input type="file" multiple=""
                                                           class="form-file-input"
                                                           id="customFileNew" accept="image/*">
                                                    <label class="form-file-label"
                                                           for="customFileNew">Choose file
                                                    </label>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <a onclick="createItem()" class="btn btn-primary"><em
                            class="icon ni ni-plus"></em><span>Add New</span></a>
                </div>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
<script>
    $('li[data-li="sales"]').addClass('active')
    $('li[data-li="sales-products"]').addClass('active')

    $('.js-remove').click(async function () {
        let new_id = $(this).parents('tr').data('id').toString();
        try {
            let response = await fetch('/api/sales/products/' + new_id, {
                method: 'DELETE',
            });

            response = await response.json();
            if (response._success === true) {
                // alertShow('success')
                alert('success');
                window.location.href = '/api/sales/products/';
            } else {
                alert(response.message);
                // alertShow('error', response.message);
            }

        } catch (error) {
            alertShow('waring', `${error.message}`);
        }
    });

    $('[type="file"]').change(function () {
        var trigger_name = $(this).parents('.photo-place').data('name');
        var input_name = $(this).closest('.photo-place').find('[name="' + trigger_name + '"]');
        let image = $(this).closest('.photo-place').find('img')
        uploadImage($(this).attr('id')).then(function (data) {
            if (data._success) {
                input_name.val(String(data.file_name));
                image.attr('src', '/static/uploads/' + String(data.file_name));
            } else {
                alert(data.message)
            }
        }, function (data) {
            alert('error');
        });
    })

    async function createItem() {
        try {
            let response = await fetch('/api/sales/products/create/', {
                method: 'POST',
                body: JSON.stringify(getValues('#new-data-item'))
            });

            response = await response.json();
            if (response._success === true) {
                alert('success');
                window.location.href = '/api/sales/products/';
            } else {
                alert(response.message);
            }

        } catch (error) {
            alertShow('waring', `${error.message}`);
        }
    }

    let urlParams = new URLSearchParams(window.location.search);

    $('#filter-query').change(function () {
        if (urlParams.has('query')) {
            urlParams.delete('query')
        }

        urlParams.append('query', $(this).val())
        window.location.href = window.location.protocol + '//' + window.location.host + window.location.pathname + '?' + urlParams.toString()
    })

</script>
{% endblock %}