{% extends 'admin/base.html' %}
{% block container %}

<div class="components-preview wide-md mx-auto">
    {% if parent %}
    <div class="nk-block-head nk-block-head-sm">
        <div class="nk-block-between g-3">
            <div class="nk-block-head-content">
                <a href="/api/store/categories/" class="btn btn-outline-light bg-white d-none d-sm-inline-flex">
                    <em class="icon ni ni-arrow-left"></em>
                    <span>Назад</span>
                </a>
                <a href="/api/store/categories/"
                   class="btn btn-icon btn-outline-light bg-white d-inline-flex d-sm-none">
                    <em class="icon ni ni-arrow-left"></em>
                </a>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="nk-block-head nk-block-head-sm">
        <div class="nk-block-between">
            <div class="nk-block-head-content">
                <h3 class="nk-block-title page-title"></h3>
            </div>
        </div>
    </div>
    <div class="nk-block">
        <div class="card card-stretch">
            <div class="card-inner">
                <div class="card-title-group">
                    <div class="card-title">
                        <h5 class="title">
                            Категории {% if parent %} ({{parent.title or ''}}){% endif %}
                        </h5>
                    </div>
                    <div class="nk-block-head-content">
                        <div class="toggle-wrap nk-block-tools-toggle">
                            <a href="#"
                               class="btn btn-icon btn-trigger toggle-expand me-n1"
                               data-target="pageMenu">
                                <em class="icon ni ni-more-v"></em>
                            </a>
                            <div class="toggle-expand-content" data-content="pageMenu">
                                <ul class="nk-block-tools g-3">
                                    <li class="nk-block-tools-opt">
                                        <a href="#" data-target="addProduct"
                                           class="toggle btn btn-icon btn-primary d-md-none">
                                            <em class="icon ni ni-plus"></em>
                                        </a>
                                        <a href="#"
                                           data-target="addProduct"
                                           class="toggle btn btn-primary d-none d-md-inline-flex">
                                            <em class="icon ni ni-plus"></em>
                                            <span>Добавить</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="nk-block">
                <div class="card">
                    <div class="nk-tb-list nk-tb-ulist is-compact">
                        <div class="nk-tb-item nk-tb-head">
                            <div class="nk-tb-col"><span>Название</span></div>
                            <div class="nk-tb-col"><span>Ед. изм.</span></div>
                            <div class="nk-tb-col nk-tb-col-tools text-end"></div>
                        </div>
                        {% for item in categories %}
                        <div class="nk-tb-item">
                            <div class="nk-tb-col" onclick="openChildrenItems({{item.id}})">
                                {{item.title or ''}}
                            </div>
                            <div class="nk-tb-col">
                                {% if item.unit == 'metric' %}
                                м.
                                {% elif item.unit == 'square' %}
                                кв.
                                {% else %}
                                шт.
                                {% endif %}
                            </div>
                            <div class="nk-tb-col nk-tb-col-tools">
                                <ul class="nk-tb-actions gx-1 my-n1">
                                    <li class="me-n1">
                                        <div class="dropdown"><a href="#"
                                                                 class="dropdown-toggle btn btn-icon btn-trigger"
                                                                 data-bs-toggle="dropdown"><em
                                                class="icon ni ni-more-h"></em></a>
                                            <div class="dropdown-menu dropdown-menu-end">
                                                <ul class="link-list-opt no-bdr">
                                                    <li><a onclick="navigateToGood({{item.id}})">
                                                        <em class="icon ni ni-cc-alt2"></em>
                                                        <span class="tb-status">Товары</span>
                                                    </a>
                                                    </li>
                                                    <li><a data-target="updateProduct" class="toggle"
                                                           onclick="openItem({{item.id}})">
                                                        <em class="icon ni ni-eye text-info"></em>
                                                        <span class="tb-status text-info">Просмотр</span>
                                                    </a>
                                                    </li>
                                                    <li><a onclick="removeItem({{item.id}})"><em
                                                            class="icon ni ni-trash text-danger"></em>
                                                        <span class="tb-status text-danger">Удалить</span></a></li>

                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="nk-add-product toggle-slide toggle-slide-right" data-content="addProduct"
         data-toggle-screen="any" data-toggle-overlay="true" data-toggle-body="true" data-simplebar id="new-data-item">
        <div class="nk-block">
            <div class="row g-3">
                <div class="col-12">
                    <div class="form-group">
                        <label class="form-label"
                               for="cf-title">Название
                        </label>
                        <input class="form-control" type="text" name="title" id="cf-title">
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <label class="form-label"
                               for="cf-description">Описание
                        </label>
                        <textarea class="form-control" name="description" id="cf-description"></textarea>
                    </div>
                </div>

                <div class="col-12">
                    <div class="form-group">
                        <select name="unit" class="form-control">
                            <option value="pieces">шт.</option>
                            <option value="square">кв.</option>
                            <option value="metric">м.</option>
                        </select>
                    </div>
                </div>
                <input type="hidden" name="parent_id" value="{{request.args.get('parent_id', '')}}">
                <div class="col-12">
                    <button id="createButton" onclick="createItem()" class="btn btn-primary"><em
                            class="icon ni ni-plus"></em><span>Добавить</span></button>
                </div>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
            </div>
        </div>
    </div>
    <div class="nk-add-product toggle-slide toggle-slide-right" data-content="updateProduct"
         data-toggle-screen="any" data-toggle-overlay="true" data-toggle-body="true" data-simplebar
         id="update-data-item">
        <div class="nk-block">
            <div class="row g-3">
                <input type="hidden" id="up-id" name="id">
                <div class="col-12">
                    <div class="form-group">
                        <label class="form-label"
                               for="up-title">Название
                        </label>
                        <input class="form-control" type="text" name="title" id="up-title">
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <label class="form-label"
                               for="up-description">Описание
                        </label>
                        <textarea class="form-control" name="description" id="up-description"></textarea>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <select name="unit" class="form-control" id="up-unit">
                            <option value="pieces">шт.</option>
                            <option value="square">кв.</option>
                            <option value="metric">м.</option>
                        </select>
                    </div>
                </div>
                <div class="col-12">
                    <a onclick="updateItem()" class="btn btn-primary"><em
                            class="icon ni ni-plus"></em><span>Изменить</span></a>
                </div>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
<script>
    $('li[data-li="store"]').addClass('active')
    $('li[data-li="store-categories"]').addClass('active')

    async function removeItem(itemId) {
        try {
            let response = await fetch('/api/store/categories/' + itemId, {
                method: 'DELETE'
            });

            response = await response.json();
            if (response._success === true) {
                window.location.reload();
            } else {
                alert(response.message);
            }

        } catch (error) {
            alertShow('waring', `${error.message}`);
        }
    };

    function navigateToGood(categoryId) {
        window.location.href = `/api/store/goods?category_id=${categoryId}`
    }

    async function createItem() {
        $('#createButton').prop('disabled', true)
        try {
            let response = await fetch('/api/store/categories/', {
                method: 'POST',
                body: JSON.stringify(getValues('#new-data-item'))
            });

            response = await response.json();
            if (response._success === true) {
                window.location.reload();
            } else {
                $('#createButton').prop('disabled', false)
                alert(response.message);
            }

        } catch (error) {
            $('#createButton').prop('disabled', false)
            alertShow('waring', `${error.message}`);
        }
    }

    async function updateItem() {
        try {
            let data = getValues('#update-data-item')
            let response = await fetch(`/api/store/categories/${data.id}`, {
                method: 'PUT',
                body: JSON.stringify(data)
            });

            response = await response.json();
            if (response._success === true) {
                window.location.reload();
            } else {
                alert(response.message);
            }

        } catch (error) {
            alertShow('waring', `${error.message}`);
        }
    }

    async function openItem(itemId) {
        try {
            let response = await fetch(`/api/store/categories/${itemId}?response_type=json`, {
                method: 'GET'
            });

            response = await response.json();
            console.log(response)
            if (response._success === true) {
                $('#up-title').val(response.category.title)
                $('#up-description').text(response.category.description)

                if (response.category.unit === 'square') {
                    $('#up-unit option[value="square"]').prop('selected', true);
                    $('#up-unit').val('square');
                } else if (response.category.unit === 'pieces') {
                    $('#up-unit option[value="pieces"]').prop('selected', true);
                    $('#up-unit').val('pieces');
                } else {
                    $('#up-unit option[value="metric"]').prop('selected', true);
                    $('#up-unit').val('metric');
                }
                $('#up-id').val(itemId)

            } else {
                alert(response.message);
            }

        } catch (error) {
            alertShow('waring', `${error.message}`);
        }
    }

    function openChildrenItems(itemId) {
        window.location.href = `/api/store/categories?parent_id=${itemId}`
    }

</script>
{% endblock %}