{% extends 'admin/base.html' %}
{% block container %}
<div class="components-preview wide-md mx-auto">
    {% if request.args.get('parent_id') %}
    <div class="nk-block-head nk-block-head-sm">
        <div class="nk-block-between g-3">
            <div class="nk-block-head-content">
                <a href="/api/store/reasons/" class="btn btn-outline-light bg-white d-none d-sm-inline-flex">
                    <em class="icon ni ni-arrow-left"></em>
                    <span>Назад</span>
                </a>
                <a href="/api/store/reasons/"
                   class="btn btn-icon btn-outline-light bg-white d-inline-flex d-sm-none">
                    <em class="icon ni ni-arrow-left"></em>
                </a>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="nk-block">
        <div class="card card-stretch">
            <div class="card-inner">
                <div class="card-title-group">
                    <div class="card-title"><h5 class="title">Виды услиги</h5></div>
                    <div class="nk-block-head-content">
                        <div class="toggle-wrap nk-block-tools-toggle">
                            <a href="#"
                               class="btn btn-icon btn-trigger toggle-expand me-n1"
                               data-target="pageMenu">
                                <em class="icon ni ni-more-v"></em>
                            </a>
                            <div class="toggle-expand-content" data-content="pageMenu">
                                <ul class="nk-block-tools g-3">
                                    <li class="nk-block-tools-opt">
                                        <a href="#" data-target="addProduct"
                                           class="toggle btn btn-icon btn-primary d-md-none">
                                            <em class="icon ni ni-plus"></em>
                                        </a>
                                        <a href="#"
                                           data-target="addProduct"
                                           class="toggle btn btn-primary d-none d-md-inline-flex">
                                            <em class="icon ni ni-plus"></em>
                                            <span>Добавить</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-inner p-0">
                {% if reasons %}
                <div class="nk-block">
                    <div class="card">
                        <div class="nk-tb-list nk-tb-ulist is-compact">
                            <div class="nk-tb-item nk-tb-head">
                                <div class="nk-tb-col"><span>Название</span></div>
                                <div class="nk-tb-col"><span>Цена</span></div>
                                <div class="nk-tb-col nk-tb-col-tools text-end"></div>
                            </div>
                            {% for item in reasons %}
                            <div class="nk-tb-item">
                                <div class="nk-tb-col" onclick="openChildrenItems({{item.id}})">
                                    <div class="user-card">
                                        <div class="user-info">
                                        <span class="tb-lead">
                                            {{item.title or ''}}
                                        </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="nk-tb-col">
                                    <span>{{item.price or ''}}</span>
                                </div>

                                <div class="nk-tb-col nk-tb-col-tools">
                                    <ul class="nk-tb-actions gx-1 my-n1">
                                        <li class="me-n1">
                                            <div class="dropdown"><a href="#"
                                                                     class="dropdown-toggle btn btn-icon btn-trigger"
                                                                     data-bs-toggle="dropdown"><em
                                                    class="icon ni ni-more-h"></em></a>
                                                <div class="dropdown-menu dropdown-menu-end">
                                                    <ul class="link-list-opt no-bdr">
                                                        <li><a data-target="updateProduct" class="toggle"
                                                               onclick="openItem({{item.id}})">
                                                            <em class="icon ni ni-edit-fill"></em>
                                                            <span>Изменить</span>
                                                        </a>
                                                        </li>
                                                        <li onclick="removeItem({{item.id}})">
                                                            <a>
                                                                <em class="icon ni ni-trash text-danger"></em>
                                                                <span class="tb-status text-danger">Удалить</span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% else %}
                <div class="card-inner">
                    <figure class="text-center">
                        <blockquote class="blockquote"><h3>
                            Cписок вид услуг
                        </h3></blockquote>
                    </figure>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="nk-add-product toggle-slide toggle-slide-right" data-content="addProduct"
         data-toggle-screen="any" data-toggle-overlay="true" data-toggle-body="true" data-simplebar id="new-data-item">
        <div class="nk-block">
            <div class="row g-3">
                <div class="col-12">
                    <div class="form-group">
                        <label class="form-label"
                               for="cf-title">Название
                        </label>
                        <input class="form-control" type="text" name="title" id="cf-title">
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <label class="form-label"
                               for="cf-description">Описание
                        </label>
                        <textarea class="form-control" name="description" id="cf-description"></textarea>
                    </div>
                </div>

                <div class="col-12">
                    <div class="form-group">
                        <label class="form-label"
                               for="cf-price">Цена
                        </label>
                        <input class="form-control" type="number" name="price" id="cf-price" min="0.0">
                    </div>
                </div>

                <input class="form-control" type="hidden" name="parent_id"
                       value="{{request.args.get('parent_id', '')}}">
                <div class="col-12">
                    <a onclick="createItem()" class="btn btn-primary"><em
                            class="icon ni ni-plus"></em><span>Добавить</span></a>
                </div>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
            </div>
        </div>
    </div>
    <div class="nk-add-product toggle-slide toggle-slide-right" data-content="updateProduct"
         data-toggle-screen="any" data-toggle-overlay="true" data-toggle-body="true" data-simplebar
         id="update-data-item">
        <div class="nk-block">
            <div class="row g-3">
                <input type="hidden" id="up-id" name="id">
                <div class="col-12">
                    <div class="form-group">
                        <label class="form-label"
                               for="up-title">Название
                        </label>
                        <input class="form-control" type="text" name="title" id="up-title">
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <label class="form-label"
                               for="up-description">Описание
                        </label>
                        <textarea class="form-control" name="description" id="up-description"></textarea>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <label class="form-label"
                               for="up-price">Описание
                        </label>
                        <input class="form-control" type="text" name="price" id="up-price">
                    </div>
                </div>
                <div class="col-12">
                    <a onclick="updateItem()" class="btn btn-primary"><em
                            class="icon ni ni-plus"></em><span>Изменить</span></a>
                </div>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
<script>
    $('li[data-li="store"]').addClass('active')
    $('li[data-li="store-reasons"]').addClass('active')

    async function removeItem(itemId) {
        try {
            let response = await fetch('/api/store/reasons/' + itemId, {
                method: 'DELETE'
            });

            response = await response.json();
            if (response._success === true) {
                window.location.reload();
            } else {
                alert(response.message);
            }

        } catch (error) {
            alertShow('waring', `${error.message}`);
        }
    };

    async function createItem() {
        try {
            let response = await fetch('/api/store/reasons/', {
                method: 'POST',
                body: JSON.stringify(getValues('#new-data-item'))
            });

            response = await response.json();
            if (response._success === true) {
                window.location.reload();
            } else {
                alert(response.message);
            }

        } catch (error) {
            alertShow('waring', `${error.message}`);
        }
    }

    async function updateItem() {
        try {
            let data = getValues('#update-data-item')
            let response = await fetch(`/api/store/reasons/${data.id}`, {
                method: 'PUT',
                body: JSON.stringify(data)
            });

            response = await response.json();
            if (response._success === true) {
                window.location.reload();
            } else {
                alert(response.message);
            }

        } catch (error) {
            alertShow('waring', `${error.message}`);
        }
    }

    async function openItem(itemId) {
        try {
            let response = await fetch(`/api/store/reasons/${itemId}?response_type=json`, {
                method: 'GET'
            });

            response = await response.json();
            console.log(response)
            if (response._success === true) {
                $('#up-title').val(response.reason.title)
                $('#up-description').text(response.reason.description)
                $('#up-price').val(response.reason.price)
                $('#up-id').val(itemId)
            } else {
                alert(response.message);
            }

        } catch (error) {
            alertShow('waring', `${error.message}`);
        }
    }

    function openChildrenItems(itemId) {
        if (itemId) {
            window.location.href = `/api/store/reasons?parent_id=${itemId}`
        }
    }

</script>
{% endblock %}