{% extends 'admin/base.html' %}
{% block container %}
<div class="components-preview wide-md mx-auto">
    <div class="nk-block-head nk-block-head-lg wide-sm">
        <div class="nk-block-head-content">
            <div class="nk-block-head-sub"><a class="back-to"
                                              href="../../components.html"><em
                    class="icon ni ni-arrow-left"></em><span>Components</span></a></div>
            <h2 class="nk-block-title fw-normal">Exclusive & Special Table</h2>
            <div class="nk-block-des"><p class="lead"><strong>Softnio Team</strong>
                understand the value of <strong>real case-use</strong>, so our team designed
                some large content base table which is <strong>well optimized</strong> and
                fit on every screen. It gives you extra ease on your project and surely you
                loved it. </p></div>
        </div>
    </div>
    <div class="nk-block nk-block-lg">
        <div class="nk-block-head">
            <div class="nk-block-head-content"><h4 class="nk-block-title">Transaction List -
                With Action</h4>
                <p>The following table can be use for <strong class="text-primary">invoice,
                    payment history</strong> related transaction.</p></div>
        </div>
        <div class="card card-bordered card-preview">
            <table class="table table-tranx">
                <thead>
                <tr class="tb-tnx-head">
                    <th class="tb-tnx-id"><span class="">#</span></th>
                    <th class="tb-tnx-info"><span
                            class="tb-tnx-desc d-none d-sm-inline-block"><span>Bill For</span></span><span
                            class="tb-tnx-date d-md-inline-block d-none"><span
                            class="d-md-none">Date</span><span
                            class="d-none d-md-block"><span>Issue Date</span><span>Due Date</span></span></span>
                    </th>
                    <th class="tb-tnx-amount is-alt"><span class="tb-tnx-total">Total</span><span
                            class="tb-tnx-status d-none d-md-inline-block">Status</span>
                    </th>
                    <th class="tb-tnx-action"><span>&nbsp;</span></th>
                </tr>
                </thead>
                <tbody>
                <tr class="tb-tnx-item">
                    <td class="tb-tnx-id"><a href="#"><span>4947</span></a></td>
                    <td class="tb-tnx-info">
                        <div class="tb-tnx-desc"><span class="title">Enterprize Year Subscription</span>
                        </div>
                        <div class="tb-tnx-date"><span class="date">10-05-2019</span><span
                                class="date">10-13-2019</span></div>
                    </td>
                    <td class="tb-tnx-amount is-alt">
                        <div class="tb-tnx-total"><span class="amount">$599.00</span></div>
                        <div class="tb-tnx-status"><span class="badge badge-dot bg-warning">Due</span>
                        </div>
                    </td>
                    <td class="tb-tnx-action">
                        <div class="dropdown"><a
                                class="text-soft dropdown-toggle btn btn-icon btn-trigger"
                                data-bs-toggle="dropdown"><em
                                class="icon ni ni-more-h"></em></a>
                            <div class="dropdown-menu dropdown-menu-end dropdown-menu-xs">
                                <ul class="link-list-plain">
                                    <li><a href="#">View</a></li>
                                    <li><a href="#">Edit</a></li>
                                    <li><a href="#">Remove</a></li>
                                </ul>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr class="tb-tnx-item">
                    <td class="tb-tnx-id"><a href="#"><span>4904</span></a></td>
                    <td class="tb-tnx-info">
                        <div class="tb-tnx-desc"><span class="title">Maintenance Year Subscription</span>
                        </div>
                        <div class="tb-tnx-date"><span class="date">06-19-2019</span><span
                                class="date">06-26-2019</span></div>
                    </td>
                    <td class="tb-tnx-amount is-alt">
                        <div class="tb-tnx-total"><span class="amount">$99.00</span></div>
                        <div class="tb-tnx-status"><span class="badge badge-dot bg-success">Paid</span>
                        </div>
                    </td>
                    <td class="tb-tnx-action">
                        <div class="dropdown"><a
                                class="text-soft dropdown-toggle btn btn-icon btn-trigger"
                                data-bs-toggle="dropdown"><em
                                class="icon ni ni-more-h"></em></a>
                            <div class="dropdown-menu dropdown-menu-end dropdown-menu-xs">
                                <ul class="link-list-plain">
                                    <li><a href="#">View</a></li>
                                    <li><a href="#">Edit</a></li>
                                    <li><a href="#">Remove</a></li>
                                </ul>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr class="tb-tnx-item">
                    <td class="tb-tnx-id"><a href="#"><span>4829</span></a></td>
                    <td class="tb-tnx-info">
                        <div class="tb-tnx-desc"><span class="title">Enterprize Year Subscription</span>
                        </div>
                        <div class="tb-tnx-date"><span class="date">10-04-2018</span><span
                                class="date">10-12-2018</span></div>
                    </td>
                    <td class="tb-tnx-amount is-alt">
                        <div class="tb-tnx-total"><span class="amount">$599.00</span></div>
                        <div class="tb-tnx-status"><span class="badge badge-dot bg-success">Paid</span>
                        </div>
                    </td>
                    <td class="tb-tnx-action">
                        <div class="dropdown"><a
                                class="text-soft dropdown-toggle btn btn-icon btn-trigger"
                                data-bs-toggle="dropdown"><em
                                class="icon ni ni-more-h"></em></a>
                            <div class="dropdown-menu dropdown-menu-end dropdown-menu-xs">
                                <ul class="link-list-plain">
                                    <li><a href="#">View</a></li>
                                    <li><a href="#">Edit</a></li>
                                    <li><a href="#">Remove</a></li>
                                </ul>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr class="tb-tnx-item">
                    <td class="tb-tnx-id"><a href="#"><span>4830</span></a></td>
                    <td class="tb-tnx-info">
                        <div class="tb-tnx-desc"><span class="title">Enterprize Anniversary Subscription</span>
                        </div>
                        <div class="tb-tnx-date"><span class="date">12-04-2018</span><span
                                class="date">14-12-2018</span></div>
                    </td>
                    <td class="tb-tnx-amount is-alt">
                        <div class="tb-tnx-total"><span class="amount">$399.00</span></div>
                        <div class="tb-tnx-status"><span class="badge badge-dot bg-success">Paid</span>
                        </div>
                    </td>
                    <td class="tb-tnx-action">
                        <div class="dropdown"><a
                                class="text-soft dropdown-toggle btn btn-icon btn-trigger"
                                data-bs-toggle="dropdown"><em
                                class="icon ni ni-more-h"></em></a>
                            <div class="dropdown-menu dropdown-menu-end dropdown-menu-xs">
                                <ul class="link-list-plain">
                                    <li><a href="#">View</a></li>
                                    <li><a href="#">Edit</a></li>
                                    <li><a href="#">Remove</a></li>
                                </ul>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr class="tb-tnx-item">
                    <td class="tb-tnx-id"><a href="#"><span>4840</span></a></td>
                    <td class="tb-tnx-info">
                        <div class="tb-tnx-desc"><span class="title">Enterprize Coverage Subscription</span>
                        </div>
                        <div class="tb-tnx-date"><span class="date">12-08-2018</span><span
                                class="date">13-22-2018</span></div>
                    </td>
                    <td class="tb-tnx-amount is-alt">
                        <div class="tb-tnx-total"><span class="amount">$99.00</span></div>
                        <div class="tb-tnx-status"><span class="badge badge-dot bg-danger">Cancel</span>
                        </div>
                    </td>
                    <td class="tb-tnx-action">
                        <div class="dropdown"><a
                                class="text-soft dropdown-toggle btn btn-icon btn-trigger"
                                data-bs-toggle="dropdown"><em
                                class="icon ni ni-more-h"></em></a>
                            <div class="dropdown-menu dropdown-menu-end dropdown-menu-xs">
                                <ul class="link-list-plain">
                                    <li><a href="#">View</a></li>
                                    <li><a href="#">Edit</a></li>
                                    <li><a href="#">Remove</a></li>
                                </ul>
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>

{% endblock %}