{% extends 'admin/base.html' %}
{% block container %}
<div class="nk-content-body">
    <div class="nk-block nk-block-lg">
        <div class="card">
            <div class="card-aside-wrap">
                <div class="card-content">
                    <ul class="nav nav-tabs nav-tabs-mb-icon nav-tabs-card" role="tablist">
                        <li class="nav-item" role="presentation"><a class="nav-link" data-bs-toggle="tab"
                                                                    href="#tabItem1" aria-selected="true" role="tab"><em
                                class="icon ni ni-user-circle-fill"></em><span>Инфо</span></a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link active" data-bs-toggle="tab"
                                                                    href="#tabItem2" aria-selected="false" role="tab"
                                                                    tabindex="-1"><em
                                class="icon ni ni-property"></em><span>Уроки</span></a></li>
                    </ul>
                    <div class="card-inner">
                        <div class="tab-content">
                            <div class="tab-pane" id="tabItem1" role="tabpanel">
                                <div class="row g-gs">
                                    <div class="col-lg-12">
                                        <div class="card card-bordered h-100">
                                            <div class="card-inner" id="data-item">
                                                <div class="card-head"><h5 class="card-title"></h5></div>
                                                <div>
                                                    <div class="form-group">
                                                        <label class="form-label"
                                                               for="cf-reason">Причина
                                                        </label>
                                                        <input type="text" class="form-control"
                                                               name="reason"
                                                               value="{{visit.reason}}"
                                                               id="cf-reason">
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="form-label"
                                                               for="cf-time">Дата
                                                        </label>
                                                        <input type="text" class="form-control date-picker-alt"
                                                               data-date-format="yyyy-mm-dd"
                                                               value="{% if visit.time %}{{visit.time}}{% endif %}"
                                                               name="time"
                                                               id="cf-time">
                                                    </div>
                                                    <div class="form-group"><label class="form-label">Статус</label>
                                                        <div class="form-control-wrap" id="VisitStates">

                                                        </div>
                                                    </div>
                                                    <div class="form-group"><label class="form-label">Описание</label>
                                                        <div class="form-control-wrap">
                                                            <textarea class="form-control"
                                                                      name="description">{{visit.description}}</textarea>
                                                        </div>
                                                    </div>


                                                    <div class="form-group">
                                                        <button onclick="saveItem()" type="submit"
                                                                class="btn btn-lg btn-primary">
                                                            Сохранить
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane show active" id="tabItem2" role="tabpanel">
                                <div class="nk-block nk-block-between">
                                    <div class="nk-block-head"><h6 class="title"></h6>
                                        <p></p></div>
                                    <div class="nk-block"><a class="btn btn-icon btn-primary" data-bs-toggle="modal"
                                                             href="#addDiagnosis"><em class="icon ni ni-plus"></em></a>
                                    </div>
                                </div>
                                <div class="nk-block">
                                    <div class="card">
                                        <div class="nk-tb-list nk-tb-ulist is-compact">
                                            <div class="nk-tb-item nk-tb-head">
                                                <div class="nk-tb-col"><span class="sub-text"> # ID </span></div>
                                                <div class="nk-tb-col tb-col-sm"><span class="sub-text">Описание</span>
                                                </div>
                                                <div class="nk-tb-col tb-col-md"><span
                                                        class="sub-text">Дата</span></div>
                                                <div class="nk-tb-col nk-tb-col-tools text-end"></div>
                                            </div>
                                            {% for lesson in lessons %}
                                            <div class="nk-tb-item">
                                                <div class="nk-tb-col"><span>{{lesson.id}}</span></div>
                                                <div class="nk-tb-col tb-col-md">
                                                    <span>{{lesson.description or ''}}</span>
                                                </div>
                                                <div class="nk-tb-col tb-col-sm"><span>
                                                    {% if lesson.time %}
                                                    {{lesson.time}}
                                                    {% endif %}
                                                </span></div>
                                                <div class="nk-tb-col nk-tb-col-tools">
                                                    <ul class="nk-tb-actions gx-2">
                                                        <li class="nk-tb-action-hidden"><a
                                                                href="/api/visits/{{visit.id}}/lessons/{{lesson.id}}/"
                                                                class="btn btn-sm btn-icon btn-trigger"
                                                                data-bs-toggle="tooltip"
                                                                data-bs-placement="top"
                                                                aria-label="Edit"
                                                                data-bs-original-title="Edit"><em
                                                                class="icon ni ni-edit-fill"></em></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" tabindex="-1" role="dialog" id="addDiagnosis">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content"><a href="#" class="close" data-bs-dismiss="modal"><em
                class="icon ni ni-cross-sm"></em></a>
            <div class="modal-body modal-body-md" id="new-data-item">
                <div class="row g-gs">
                    <div class="col-md-6">
                        <div class="form-group"><label class="form-label">Ответственный</label>
                            <div class="form-control-wrap" id="VisitUsers">

                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group"><label class="form-label">Описание</label>
                            <div class="form-control-wrap">
                                <textarea class="form-control" name="description"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group"><label class="form-label">Дата</label>
                            <div class="form-control-wrap">
                                <input type="datetime-local" class="form-control" name="time">
                            </div>
                        </div>
                    </div>

                    <div class="col-12">
                        <ul class="align-center flex-wrap flex-sm-nowrap gx-4 gy-2">
                            <li>
                                <a onclick="createItem()" data-bs-dismiss="modal"
                                   class="btn btn-primary">Добавить</a>
                            </li>
                            <li><a href="#" class="link link-light" data-bs-dismiss="modal">Cancel</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block js %}
<script>
    $('li[data-li="visits"]').addClass('active')
    $('li[data-li="visits-list"]').addClass('active')

    async function createItem() {
        try {
            let response = await fetch(`/api/visits/${itemId}/lessons/`, {
                method: 'POST',
                body: JSON.stringify(getValues('#new-data-item'))
            });

            response = await response.json();
            if (response._success === true) {
                window.location.href = `/api/visits/${itemId}`;
            } else {
                alert(response.message);
            }

        } catch (error) {
            alertShow('waring', `${error.message}`);
        }
    }

    $('[type="file"]').change(function () {
        var trigger_name = $(this).parents('.photo-place').data('name');
        var input_name = $(this).closest('.photo-place').find('[name="' + trigger_name + '"]');
        let image = $(this).closest('.photo-place').find('img')
        uploadImage($(this).attr('id')).then(function (data) {
            input_name.val(String(data['file_name']));
            image.attr('src', '/static/uploads/' + String(data['file_name']));
        }, function (data) {
            alert('error');
        });
    })

    let currUrl = window.location.href.split('/')
    let itemId = currUrl[currUrl.length - 1] || currUrl[currUrl.length - 2]

    function saveItem() {
        let data = getValues('#data-item')
        $.ajax({
            type: 'PUT',
            dataType: 'json',
            url: '/api/visits/' + itemId,
            data: JSON.stringify(data),
            success: function (d) {
                console.log(d)
                if (d['_success'] === true) {
                    window.location.href = '/api/visits/' + itemId
                } else {
                    alertShow('error', d['message'])
                }
            },
            error: function (d) {
                alertShow('waring')
            }
        });
    }

    async function showStates() {
        try {
            let response = await fetch('/api/visits/states?response_type=json', {
                method: 'GET',
            });

            response = await response.json()
            let states = $('<select>')
                .addClass('form-control')
                .attr("name", "state_id")
            ;

            $.each(response.states, function (index, item) {
                states.append($('<option>').attr("value", item.id).text(item.title));
            });

            $('#VisitStates').append(states);


        } catch (error) {
            alertShow('waring', `${error.message}`);
        }

    }

    showStates()
    showUsers()

    async function showUsers() {
        try {
            let response = await fetch('/api/users?response_type=json', {
                method: 'GET',
            });

            response = await response.json()
            let users = $('<select>')
                .addClass('form-control')
                .attr("name", "user_id")
            ;

            $.each(response.users, function (index, item) {
                users.append($('<option>').attr("value", item.id).text(item.last_name + ' ' + item.first_name));
            });

            $('#VisitUsers').append(users);


        } catch (error) {
            alertShow('waring', `${error.message}`);
        }

    }

</script>

{% endblock %}