<html lang="zxx" class="js">
<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Main</title>
    <link rel="stylesheet" href="/static/css/dashlite55a0.css?ver=3.2.0">
    <link id="skin-default" rel="stylesheet" href="/static/css/theme55a0.css?ver=3.2.0">
</head>
<body class="nk-body ui-rounder has-sidebar ui-light no-touch nk-nio-theme">
<div class="nk-app-root">
    <div class="nk-main ">
        <div class="nk-sidebar is-light nk-sidebar-fixed" data-content="sidebarMenu">
            <div class="nk-sidebar-element nk-sidebar-head">
                <div class="nk-sidebar-brand">
                    <a href="/api/" class="logo-link nk-sidebar-logo">
                        <h3 class="ff-base fw-medium"> manage <small class="text-soft">ment</small></h3>
                    </a></div>
                <div class="nk-menu-trigger me-n2">
                    <a href="#" class="nk-nav-toggle nk-quick-nav-icon d-xl-none" data-target="sidebarMenu"><em
                            class="icon ni ni-arrow-left"></em>
                    </a>
                </div>
            </div>
            <div class="nk-sidebar-element">
                <div class="nk-sidebar-content">
                    <div class="nk-sidebar-menu" data-simplebar="init">
                        <div class="simplebar-wrapper" style="margin: -16px 0px -40px;">
                            <div class="simplebar-height-auto-observer-wrapper">
                                <div class="simplebar-height-auto-observer"></div>
                            </div>
                            <div class="simplebar-mask">
                                <div class="simplebar-offset" style="right: 0px; bottom: 0px;">
                                    <div class="simplebar-content-wrapper" tabindex="0" role="region"
                                         aria-label="scrollable content" style="height: 100%; overflow: hidden;">
                                        <div class="simplebar-content" style="padding: 16px 0px 40px;">
                                            <ul class="nk-menu">
                                                <li data-li="home" class="nk-menu-item">
                                                    <a href="/" class="nk-menu-link"><span class="nk-menu-icon"><em
                                                            class="icon ni ni-view-col"></em></span><span
                                                            class="nk-menu-text">Главная</span>
                                                    </a>
                                                </li>

                                                <li data-li="organization" class="nk-menu-item has-sub">
                                                    <a class="nk-menu-link nk-menu-toggle">
                                    <span class="nk-menu-icon">
                                        <em class="icon ni ni-tile-thumb"></em>
                                    </span>
                                                        <span class="nk-menu-text">Компании</span>
                                                    </a>
                                                    <ul class="nk-menu-sub">
                                                        <li data-li="organization-list" class="nk-menu-item">
                                                            <a href="/api/organizations/" class="nk-menu-link">
                                                                <span class="nk-menu-text">Список</span>
                                                            </a>
                                                        </li>
                                                        <li data-li="organization-field" class="nk-menu-item">
                                                            <a href="/api/organizations/fields/" class="nk-menu-link">
                                                                <span class="nk-menu-text">Поля</span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li data-li="users" class="nk-menu-item">
                                                    <a href="/api/users/" class="nk-menu-link">
                                    <span class="nk-menu-icon">
                                        <em class="icon ni ni-users"></em>
                                    </span>
                                                        <span class="nk-menu-text">Сотрудники</span>
                                                    </a>
                                                </li>
                                                <li data-li="sales" class="nk-menu-item has-sub active">
                                                    <a class="nk-menu-link nk-menu-toggle">
                                    <span class="nk-menu-icon">
                                        <em class="icon ni ni-amazon"></em>
                                    </span>
                                                        <span class="nk-menu-text">Продажа</span>
                                                    </a>
                                                    <ul class="nk-menu-sub">
                                                        <li data-li="sales-overheads" class="nk-menu-item active">
                                                            <a href="/api/sales/overheads/" class="nk-menu-link">
                                                                <span class="nk-menu-text">Накладные</span>
                                                            </a>
                                                        </li>
                                                        <li data-li="sales-products" class="nk-menu-item">
                                                            <a href="/api/sales/products/" class="nk-menu-link">
                                                                <span class="nk-menu-text">Продукты</span>
                                                            </a>
                                                        </li>
                                                        <li data-li="sales-goods" class="nk-menu-item">
                                                            <a href="/api/sales/goods/" class="nk-menu-link">
                                                                <span class="nk-menu-text">Товары</span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="simplebar-placeholder" style="width: auto; height: 398px;"></div>
                        </div>
                        <div class="simplebar-track simplebar-horizontal" style="visibility: hidden;">
                            <div class="simplebar-scrollbar" style="width: 0px; display: none;"></div>
                        </div>
                        <div class="simplebar-track simplebar-vertical" style="visibility: hidden;">
                            <div class="simplebar-scrollbar"
                                 style="height: 0px; display: none; transform: translate3d(0px, 0px, 0px);"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="nk-wrap ">
            <div class="nk-header is-light nk-header-fixed">
                <div class="container-xl wide-xl">
                    <div class="nk-header-wrap">
                        <div class="nk-menu-trigger d-xl-none ms-n1 me-3">
                            <a href="#" class="nk-nav-toggle nk-quick-nav-icon" data-target="sidebarMenu">
                                <em class="icon ni ni-menu"></em>
                            </a>
                        </div>

                        <div class="nk-header-tools">
                            <ul class="nk-quick-nav">
                                <li class="dropdown notification-dropdown"><a href="#"
                                                                              class="dropdown-toggle nk-quick-nav-icon"
                                                                              data-bs-toggle="dropdown">
                                    <div class="icon-status icon-status-info"><em class="icon ni ni-bell"></em></div>
                                </a>
                                    <div class="dropdown-menu dropdown-menu-xl dropdown-menu-end">
                                        <div class="dropdown-head"><span class="sub-title nk-dropdown-title">Notifications</span><a
                                                href="#">Mark All as Read</a></div>
                                        <div class="dropdown-body">
                                            <div class="nk-notification">

                                            </div>
                                        </div>
                                        <div class="dropdown-foot center"><a href="#">View All</a></div>
                                    </div>
                                </li>

                                <li class="dropdown user-dropdown"><a href="#" class="dropdown-toggle"
                                                                      data-bs-toggle="dropdown">
                                    <div class="user-toggle">
                                        <div class="user-avatar sm"><em class="icon ni ni-user-alt"></em></div>
                                    </div>
                                </a>
                                    <div class="dropdown-menu dropdown-menu-md dropdown-menu-end">
                                        <div class="dropdown-inner user-card-wrap bg-lighter">
                                            <div class="user-card">
                                                <div class="user-avatar">
                                                    <span>

                                                            BM

                                                    </span>
                                                </div>
                                                <div class="user-info">
                                                    <span class="lead-text">

                                                            Balatayev2 Mirzafar2

                                                    </span>
                                                    <span class="sub-text">



                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="dropdown-inner">
                                            <ul class="link-list">
                                                <li><a href="/api/profile/"><em class="icon ni ni-user-alt"></em><span>View Profile</span></a>
                                                </li>
                                                <li><a href="#"><em class="icon ni ni-setting-alt"></em><span>Account Setting</span></a>
                                                </li>
                                                <li><a href="#"><em class="icon ni ni-activity-alt"></em><span>Login Activity</span></a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="dropdown-inner">
                                            <ul class="link-list">
                                                <li>
                                                    <a href="/admin/logout/">
                                                        <em class="icon ni ni-signout"></em>
                                                        <span>Sign out</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="nk-content nk-content-fluid">
                <div class="container-xl wide-xl">
                    <div class="nk-content-body">
                        <div id="alert-block" style="display: none" class="nk-header nk-header-fixed is-light">
                            <div style="z-index: 100000" class="container-xl wide-xl">
                                <div style="display: none" id="alert-success" class="alert alert-success alert-icon"
                                     role="alert">
                                    <em class="icon ni ni-check-circle"></em> <strong>Success! </strong>.
                                    <span></span>
                                </div>
                                <div style="display: none" id="alert-info"
                                     class="alert alert-fill alert-info alert-icon">
                                    <em class="icon ni ni-alert-circle"></em> <strong>Info! </strong>.
                                    <span></span>
                                </div>
                                <div style="display: none" id="alert-warning"
                                     class="alert alert-fill alert-warning alert-icon"><em
                                        class="icon ni ni-alert-circle"></em>
                                    <strong>Warning! </strong><span>Something went wrong. Please check.</span>
                                </div>
                                <div style="display: none" id="alert-error"
                                     class="alert alert-fill alert-danger alert-icon"><em
                                        class="icon ni ni-cross-circle"></em>
                                    <strong>Error! </strong><span></span>
                                </div>
                            </div>
                        </div>


                        <div class="components-preview wide-md mx-auto">
                            <div class="nk-block-head nk-block-head-sm">
                                <div class="nk-block-between">
                                    <div class="nk-block-head-content">
                                        <h3 class="nk-block-title page-title"></h3>
                                    </div>

                                </div>
                            </div>
                            <div class="nk-block">
                                <div class="card card-stretch">
                                    <div class="card-inner">
                                        <div class="card-title-group">
                                            <div class="card-title"><h5 class="title" id="pageTitle">Накладные</h5>
                                            </div>
                                            <div class="nk-block-head-content">
                                                <div class="toggle-wrap nk-block-tools-toggle">
                                                    <a href="#" class="btn btn-icon btn-trigger toggle-expand me-n1"
                                                       data-target="pageMenu">
                                                        <em class="icon ni ni-more-v"></em>
                                                    </a>
                                                    <div class="toggle-expand-content" data-content="pageMenu">
                                                        <ul class="nk-block-tools g-3">
                                                            <li>
                                                                <div class="form-control-wrap">
                                                                    <div class="form-icon form-icon-right"><em
                                                                            class="icon ni ni-search"></em></div>
                                                                    <input type="text" class="form-control"
                                                                           id="filter-document-number" value=""
                                                                           placeholder="Поиск по номер док"></div>
                                                            </li>
                                                            <li>
                                                                <div class="form-control-wrap">
                                                                    <div class="form-icon form-icon-right"><em
                                                                            class="icon ni ni-search"></em></div>
                                                                    <input type="text" class="form-control"
                                                                           id="filter-query" value=""
                                                                           placeholder="Поиск по название"></div>
                                                            </li>
                                                            <li class="nk-block-tools-opt">
                                                                <a href="#" data-target="addOverhead"
                                                                   class="toggle btn btn-icon btn-primary d-md-none">
                                                                    <em class="icon ni ni-plus"></em>
                                                                </a>
                                                                <a href="#" data-target="addOverhead"
                                                                   class="toggle btn btn-primary d-none d-md-inline-flex">
                                                                    <em class="icon ni ni-plus"></em>
                                                                    <span>добавить</span>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-inner p-0">
                                        <table class="table table-tranx">
                                            <thead>
                                            <tr class="tb-tnx-head">
                                                <th class="tb-tnx-id"><span class="">Название</span></th>
                                                <th class="tb-tnx-info"><span class="">Номер документа</span></th>
                                                <th class="tb-tnx-amount"><span class="">Сумма(оплечено)</span></th>
                                                <th class="tb-tnx-action"><span>&nbsp;</span></th>
                                            </tr>
                                            </thead>
                                            <tbody id="list_items">
                                            <tr class="tb-tnx-item">
                                                <td class="tb-tnx-id">
                                                    <div class="tb-tnx-id"><span class="title">daddw</span></div>
                                                </td>
                                                <td class="tb-tnx-info">
                                                    <div class="tb-tnx-info"><span class="title"></span></div>
                                                </td>
                                                <td class="tb-tnx-amount">
                                                    <div class="tb-tnx-amount"><span>0</span></div>
                                                </td>
                                                <td class="tb-col-action"><a class="link-cross me-sm-n1"><em
                                                        class="icon ni ni-trash"></em></a></td>
                                            </tr>
                                            <tr class="tb-tnx-item">
                                                <td class="tb-tnx-id">
                                                    <div class="tb-tnx-id"><span class="title">daddw</span></div>
                                                </td>
                                                <td class="tb-tnx-info">
                                                    <div class="tb-tnx-info"><span class="title"></span></div>
                                                </td>
                                                <td class="tb-tnx-amount">
                                                    <div class="tb-tnx-amount"><span>0</span></div>
                                                </td>
                                                <td class="tb-col-action"><a class="link-cross me-sm-n1"><em
                                                        class="icon ni ni-trash"></em></a></td>
                                            </tr>
                                            <tr class="tb-tnx-item">
                                                <td class="tb-tnx-id">
                                                    <div class="tb-tnx-id"><span class="title">test 1123</span></div>
                                                </td>
                                                <td class="tb-tnx-info">
                                                    <div class="tb-tnx-info"><span class="title"></span></div>
                                                </td>
                                                <td class="tb-tnx-amount">
                                                    <div class="tb-tnx-amount"><span>0</span></div>
                                                </td>
                                                <td class="tb-col-action"><a class="link-cross me-sm-n1"><em
                                                        class="icon ni ni-trash"></em></a></td>
                                            </tr>
                                            <tr class="tb-tnx-item">
                                                <td class="tb-tnx-id">
                                                    <div class="tb-tnx-id"><span class="title">tets 1</span></div>
                                                </td>
                                                <td class="tb-tnx-info">
                                                    <div class="tb-tnx-info"><span class="title"></span></div>
                                                </td>
                                                <td class="tb-tnx-amount">
                                                    <div class="tb-tnx-amount"><span>0</span></div>
                                                </td>
                                                <td class="tb-col-action"><a class="link-cross me-sm-n1"><em
                                                        class="icon ni ni-trash"></em></a></td>
                                            </tr>
                                            <tr class="tb-tnx-item">
                                                <td class="tb-tnx-id">
                                                    <div class="tb-tnx-id"><span class="title">rwe</span></div>
                                                </td>
                                                <td class="tb-tnx-info">
                                                    <div class="tb-tnx-info"><span class="title"></span></div>
                                                </td>
                                                <td class="tb-tnx-amount">
                                                    <div class="tb-tnx-amount"><span>0</span></div>
                                                </td>
                                                <td class="tb-col-action"><a class="link-cross me-sm-n1"><em
                                                        class="icon ni ni-trash"></em></a></td>
                                            </tr>
                                            <tr class="tb-tnx-item">
                                                <td class="tb-tnx-id">
                                                    <div class="tb-tnx-id"><span class="title">test 506</span></div>
                                                </td>
                                                <td class="tb-tnx-info">
                                                    <div class="tb-tnx-info"><span class="title"></span></div>
                                                </td>
                                                <td class="tb-tnx-amount">
                                                    <div class="tb-tnx-amount"><span></span></div>
                                                </td>
                                                <td class="tb-col-action"><a class="link-cross me-sm-n1"><em
                                                        class="icon ni ni-trash"></em></a></td>
                                            </tr>
                                            <tr class="tb-tnx-item">
                                                <td class="tb-tnx-id">
                                                    <div class="tb-tnx-id"><span class="title">test 505</span></div>
                                                </td>
                                                <td class="tb-tnx-info">
                                                    <div class="tb-tnx-info"><span class="title"></span></div>
                                                </td>
                                                <td class="tb-tnx-amount">
                                                    <div class="tb-tnx-amount"><span></span></div>
                                                </td>
                                                <td class="tb-col-action"><a class="link-cross me-sm-n1"><em
                                                        class="icon ni ni-trash"></em></a></td>
                                            </tr>
                                            <tr class="tb-tnx-item">
                                                <td class="tb-tnx-id">
                                                    <div class="tb-tnx-id"><span class="title">test 504</span></div>
                                                </td>
                                                <td class="tb-tnx-info">
                                                    <div class="tb-tnx-info"><span class="title"></span></div>
                                                </td>
                                                <td class="tb-tnx-amount">
                                                    <div class="tb-tnx-amount"><span></span></div>
                                                </td>
                                                <td class="tb-col-action"><a class="link-cross me-sm-n1"><em
                                                        class="icon ni ni-trash"></em></a></td>
                                            </tr>
                                            <tr class="tb-tnx-item">
                                                <td class="tb-tnx-id">
                                                    <div class="tb-tnx-id"><span class="title">test 503</span></div>
                                                </td>
                                                <td class="tb-tnx-info">
                                                    <div class="tb-tnx-info"><span class="title"></span></div>
                                                </td>
                                                <td class="tb-tnx-amount">
                                                    <div class="tb-tnx-amount"><span></span></div>
                                                </td>
                                                <td class="tb-col-action"><a class="link-cross me-sm-n1"><em
                                                        class="icon ni ni-trash"></em></a></td>
                                            </tr>
                                            <tr class="tb-tnx-item">
                                                <td class="tb-tnx-id">
                                                    <div class="tb-tnx-id"><span class="title">test 502</span></div>
                                                </td>
                                                <td class="tb-tnx-info">
                                                    <div class="tb-tnx-info"><span class="title"></span></div>
                                                </td>
                                                <td class="tb-tnx-amount">
                                                    <div class="tb-tnx-amount"><span></span></div>
                                                </td>
                                                <td class="tb-col-action"><a class="link-cross me-sm-n1"><em
                                                        class="icon ni ni-trash"></em></a></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                            </div>
                            <div class="nk-add-product toggle-slide toggle-slide-right toggle-screen-any"
                                 data-content="addOverhead" data-toggle-screen="any" data-toggle-overlay="true"
                                 data-toggle-body="true" data-simplebar="init" id="new-data-item">
                                <div class="simplebar-wrapper" style="margin: -24px;">
                                    <div class="simplebar-height-auto-observer-wrapper">
                                        <div class="simplebar-height-auto-observer"></div>
                                    </div>
                                    <div class="simplebar-mask">
                                        <div class="simplebar-offset" style="right: 0px; bottom: 0px;">
                                            <div class="simplebar-content-wrapper" tabindex="0" role="region"
                                                 aria-label="scrollable content"
                                                 style="height: 100%; overflow: hidden scroll;">
                                                <div class="simplebar-content" style="padding: 24px;">
                                                    <div class="nk-block">
                                                        <div class="row g-3">
                                                            <div class="col-12">
                                                                <div class="form-group">
                                                                    <label class="form-label" for="cf-title">Название
                                                                    </label>
                                                                    <input type="text" class="form-control" name="title"
                                                                           id="cf-title">
                                                                </div>
                                                            </div>
                                                            <div class="col-12">
                                                                <div class="form-group">
                                                                    <label class="form-label" for="cf-description">Описание
                                                                    </label>
                                                                    <input type="text" class="form-control"
                                                                           name="description" id="cf-description">
                                                                </div>
                                                            </div>
                                                            <div class="col-12">
                                                                <div class="form-group">
                                                                    <label class="form-label" for="cf-document_number">Номер
                                                                        документа
                                                                    </label>
                                                                    <input type="text" class="form-control"
                                                                           name="document_number"
                                                                           id="cf-document_number">
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <label class="form-label" for="cf-compiled_at">Время
                                                                    составления
                                                                </label>
                                                                <input type="text" class="form-control date-picker-alt"
                                                                       data-date-format="yyyy-mm-dd" name="compiled_at"
                                                                       id="cf-compiled_at">
                                                            </div>
                                                            <div class="col-md-6">
                                                                <label class="form-label" for="cf-amount_goods">Количества
                                                                    товаров
                                                                </label>
                                                                <input type="number" class="form-control" min="0"
                                                                       name="amount_goods" id="cf-amount_goods">
                                                            </div>
                                                            <div class="col-md-6">
                                                                <label class="form-label" for="cf-whole">Весь
                                                                </label>
                                                                <input type="number" class="form-control" min="0"
                                                                       name="whole" id="cf-whole">
                                                            </div>
                                                            <div class="col-md-6">
                                                                <label class="form-label" for="cf-paid_summ">Сумма к
                                                                    оплате
                                                                </label>
                                                                <input type="number" class="form-control" min="0"
                                                                       name="paid_summ" id="cf-paid_summ">
                                                            </div>
                                                            <div class="col-12">
                                                                <label class="form-label" for="customFileNew"
                                                                       data-name="photo">Фото</label>
                                                                <div class="card-preview">
                                                                    <div class="card-inner">
                                                                        <div class="row">
                                                                            <div class="col-12">
                                                                                <div class="card card-bordered photo-place"
                                                                                     data-name="photo">
                                                                                    <img class="card-img-top" alt="">
                                                                                    <div class="card-inner">
                                                                                        <div class="form-control-wrap">
                                                                                            <div class="form-file">
                                                                                                <input type="hidden"
                                                                                                       name="photo"
                                                                                                       value="">
                                                                                                <input type="file"
                                                                                                       multiple=""
                                                                                                       class="form-file-input"
                                                                                                       id="customFileNew"
                                                                                                       accept="image/*">
                                                                                                <label class="form-file-label"
                                                                                                       for="customFileNew">Choose
                                                                                                    file
                                                                                                </label>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>

                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-12">
                                                                <a onclick="createItem()" class="btn btn-primary"><em
                                                                        class="icon ni ni-plus"></em><span>Add New</span></a>
                                                            </div>
                                                            <br>
                                                            <br>
                                                            <br>
                                                            <br>
                                                            <br>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="simplebar-placeholder" style="width: auto; height: 736px;"></div>
                                </div>
                                <div class="simplebar-track simplebar-horizontal" style="visibility: hidden;">
                                    <div class="simplebar-scrollbar" style="width: 0px; display: none;"></div>
                                </div>
                                <div class="simplebar-track simplebar-vertical" style="visibility: visible;">
                                    <div class="simplebar-scrollbar"
                                         style="height: 349px; display: block; transform: translate3d(0px, 158px, 0px);"></div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/static/js/bundle55a0.js?ver=3.2.0"></script>
<script src="/static/js/scripts55a0.js?ver=3.2.0"></script>
<script src="/static/js/charts/gd-campaign55a0.js?ver=3.2.0"></script>
<script src="/static/js/jquery-3.7.1.min.js"></script>
<script src="/static/js/manage.js"></script>
<script src="/static/js/uploder.js"></script>
<script src="/static/js/alerts.js"></script>

<script>
    $('li[data-li="sales"]').addClass('active')
    $('li[data-li="sales-overheads"]').addClass('active')

    let urlParams = {
        'response_type': 'json'
    }
    let currentUser = {}

    getListItems(urlParams);

    function clearTable() {
        $('.toggle-shown').removeClass('toggle-shown')
        $('.content-active').removeClass('content-active')
        $('#list_items tr').remove()
        $('#list_pagination li').remove()
        $('#button_add').empty()
        currentUser = {}
    }

    async function getListItems(params) {
        let paramsString = $.param(params);
        let apiUrl = '/api/sales/overheads?';
        if (paramsString) {
            apiUrl += paramsString
        }

        try {
            let response = await fetch(apiUrl);

            response = await response.json();
            if (response._success === true) {
                clearTable();
                $.each(response.items, function (index, item) {
                    showDataItem(index, item);
                });

                // showPagination(d['pager']);
            } else {
                alert(response.message);
            }

        } catch (error) {
            alert(`${error.message}`);
        }
    }

    function showDataItem(index, item) {
        let newElementTr = $('<tr>').attr({
            'class': 'tb-tnx-item'
        });

        // Title
        let trTitle = $('<td>').attr({
            class: 'tb-tnx-id'
        })
        trTitle.append(
            $('<div>').attr({class: 'tb-tnx-id'}).append(
                $('<span>').attr({class: 'title'}).text(item.title)
            )
        )
        newElementTr.append(trTitle)
        $(trTitle).click(function () {
            window.location.href = '/api/sales/overheads/' + item._id.toString()
        })

        // document_number
        let trDocNum = $('<td>').attr({
            class: 'tb-tnx-info'
        })
        trDocNum.append(
            $('<div>').attr({class: 'tb-tnx-info'}).append(
                $('<span>').attr({class: 'title'}).text(item.document_number)
            )
        )
        newElementTr.append(trDocNum)

        // paid_summ
        let trPaidSumm = $('<td>').attr({
            class: 'tb-tnx-amount'
        })
        trPaidSumm.append(
            $('<div>').attr({class: 'tb-tnx-amount'}).append(
                $('<span>').attr({}).text(item.paid_summ)
            )
        )
        newElementTr.append(trPaidSumm)

        // action
        let trAction = $('<td>').attr({
            class: 'tb-col-action'
        })
        let trActionDel = $('<a>').addClass('link-cross me-sm-n1').append(
            $('<em>').addClass('icon ni ni-trash')
        )
        trAction.append(
            trActionDel
        )
        newElementTr.append(trAction)
        $(trAction).click(async function () {
            await deleteItem(item)
        })

        $("#list_items").append(newElementTr);

    }

    async function deleteItem(item) {
        try {
            let response = await fetch('/api/sales/overheads/' + item._id.toString(), {
                method: 'DELETE',
            });

            response = await response.json();
            if (response._success === true) {
                await getListItems(urlParams);
            } else {
                alert(response.message);
                // alertShow('error', response.message);
            }

        } catch (error) {
            alertShow('waring', `${error.message}`);
        }
    }

    $('[type="file"]').change(function () {
        var trigger_name = $(this).parents('.photo-place').data('name');
        var input_name = $(this).closest('.photo-place').find('[name="' + trigger_name + '"]');
        let image = $(this).closest('.photo-place').find('img')
        uploadImage($(this).attr('id')).then(function (data) {
            if (data._success) {
                input_name.val(String(data.file_name));
                image.attr('src', '/static/uploads/' + String(data.file_name));
            } else {
                alert(data.message)
            }
        }, function (data) {
            alert('error');
        });
    })

    async function createItem() {
        try {
            let response = await fetch('/api/sales/overheads/create/', {
                method: 'POST',
                body: JSON.stringify(getValues('#new-data-item'))
            });

            response = await response.json();
            if (response._success === true) {
                await getListItems(urlParams)
            } else {
                alert(response.message);
            }

        } catch (error) {
            alertShow('waring', `${error.message}`);
        }
    }

</script>


</body>
</html>