{% extends 'shop/base.html' %}
{% block title %}
Магазин
{% endblock %}
{% block main %}
<!--breadcrumbs area start-->
<div class="breadcrumbs_area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <ul>
                        <li><a href="/">Главная</a></li>
                        <li>Магазин</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--breadcrumbs area end-->

<!--shop  area start-->
<div class="shop_area shop_reverse">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-12">
                <!--sidebar widget start-->
                <aside class="sidebar_widget">
                    <div class="widget_inner js-filter-params">
                        <div class="widget_list widget_categories">
                            <h2>Цена</h2>
                            <input type="number" class="form-control js-start-price"
                                   value="{% if start_price %}{{start_price}}{% else %}0{% endif %}" min="0">
                            <p>От</p>
                            <input type="number" class="form-control js-stop-price"
                                   value="{% if end_price %}{{end_price}}{% else %}0{% endif %}" min="0">
                            <p>До</p>
                        </div>
                        <div class="widget_list widget_categories">
                            <h2>Категории</h2>
                            <ul>
                                {% for ct in category %}
                                <li>
                                    <input {% if ct._id|string in category_ids %} checked {% endif %} type="checkbox"
                                           class="js-category-checkout" name="category_id"
                                           value="{{ct._id}}">
                                    <a href="#">{{ct.title}} ({{ct.count}})</a>
                                    <span class="checkmark"></span>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>

                        <div class="widget_list widget_categories">
                            <h2>Брэнды</h2>
                            <ul>
                                {% for brand in brands %}
                                <li>
                                    <input {% if brand._id|string in brand_ids %} checked {% endif %} type="checkbox"
                                           class="js-brand-checkout" name="brand_id"
                                           value="{{brand._id}}">
                                    <a href="#">{{brand.title}}</a>
                                    <span class="checkmark"></span>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="widget_list widget_categories">
                            <h2>Размеры</h2>
                            <ul>
                                {% for size in sizes %}
                                <li>
                                    <input {% if size._id|string in size_ids %} checked {% endif %} type="checkbox"
                                           name="size_id" value="{{size._id}}" class="js-size-checkout">
                                    <a href="#">{{size.title}}</a>
                                    <span class="checkmark"></span>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="widget_list widget_categories">
                            <a class="js-filter-button btn btn-warning">Найти</a>
                            <a class="btn btn-danger" onclick="reset_url()">Очистить</a>
                        </div>
                    </div>
                </aside>
                <!--sidebar widget end-->
            </div>
            <div class="col-lg-9 col-md-12">
                <!--shop wrapper start-->
                <!--shop toolbar start-->
                <div class="shop_toolbar_wrapper">
                    <div class="shop_toolbar_btn">

                        <button data-role="grid_3" type="button" class="active btn-grid-3" data-toggle="tooltip"
                                title="3"></button>

                        <button data-role="grid_4" type="button" class=" btn-grid-4" data-toggle="tooltip"
                                title="4"></button>

                        <button data-role="grid_list" type="button" class="btn-list" data-toggle="tooltip"
                                title="List"></button>
                    </div>
                    <div>
                        <select class="sort form-control" name="sort">
                            <option selected value="_id:-1">По новизне</option>
                            <option {% if sort and sort == "price:1" %} selected {% endif %} value="price:1">Сначала дешевле</option>
                            <option {% if sort and sort == "price:-1" %} selected {% endif %} value="price:-1">Сначала дороже</option>
                        </select>
                    </div>
                    <div class="page_amount">
                        <p>Показаны {% if show_start or show_start == 1 %}{{show_start}}{% endif %}–{% if show_end
                            %}{{show_end}}{% endif %} из {% if _total %}{{_total}}{% endif %} </p>
                    </div>
                </div>
                <!--shop toolbar end-->
                <div class="row shop_wrapper">
                    {% for good in goods %}
                    <div class="col-lg-4 col-md-4 col-12">
                        <div class="single_product">
                            <div class="product_name grid_name">
                                <h3><a href="#">{{good.title}}</a></h3>
                                {% if good.category %}
                                <p class="manufacture_product"><a onclick="js_open_good()">{{good.category.title}}</a>
                                </p>
                                {% endif %}
                            </div>
                            <div class="product_thumb">
                                <a class="primary_img" onclick="js_open_good()"><img
                                        src="/static/uploads/{{good.photo}}" alt=""></a>
                                <div class="label_product">
                                    {% if good.discount %}
                                    <span class="label_sale">-{{good.discount}}%</span>
                                    {% endif %}
                                </div>
                                <div class="action_links">
                                    <ul>
                                        <li class="quick_button"><a href="#" data-bs-toggle="modal"
                                                                    data-bs-target="#modal_box" class="js-quick-view"
                                                                    title="быстрый просмотр">
                                            <span class="lnr lnr-magnifier"></span></a></li>
                                        <!--li class="wishlist"><a href="" title="Add to Wishlist"><span
                                                class="lnr lnr-heart"></span></a></li-->
                                    </ul>
                                </div>
                            </div>
                            <div class="product_content grid_content">
                                <div class="content_inner">
                                    <div class="product_ratings">
                                        <ul>
                                            <li><a href="#"><i class="ion-star"></i></a></li>
                                            <li><a href="#"><i class="ion-star"></i></a></li>
                                            <li><a href="#"><i class="ion-star"></i></a></li>
                                            <li><a href="#"><i class="ion-star"></i></a></li>
                                            <li><a href="#"><i class="ion-star"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="product_footer d-flex align-items-center">
                                        <div class="price_box">
                                            <span class="current_price">₸{{good.price}}</span>
                                            {% if good.old_price %}
                                            <span class="old_price">₸{{good.old_price}}</span>
                                            {% endif %}
                                        </div>
                                        <div class="add_to_cart">
                                            <input type="hidden" name="good_id" value="{{good._id}}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>

                <div class="shop_toolbar t_bottom">
                    <div class="pagination">
                        <ul>
                            {% if _prev_page %}
                            <li class="next"><a href="#">prev</a></li>
                            {% endif %}
                            {% for x in range(1, _count_page|int + 1) %}
                            <li class="{% if x == _current_page %}current{% endif %}"><a class="js-page-button"><input
                                    type="hidden" id="js-page" name="page" value="{{x}}">{{x}}
                            </a></li>
                            {% endfor %}
                            {% if _next_page %}
                            <li class="next"><a href="#">next</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
                <!--shop toolbar end-->
                <!--shop wrapper end-->
            </div>
        </div>
    </div>
</div>
<!--shop  area end-->

<!-- modal area start-->
<div class="js-modal modal fade" id="modal_box" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="modal_body">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5 col-md-5 col-sm-12">
                            <div class="modal_tab">
                                <div class="tab-content product-details-large">
                                    <div class="tab-pane fade show active" id="tab1" role="tabpanel">
                                        <div class="modal_tab_img">
                                            <a href="#" class="js-paste-good-photo"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-7 col-md-7 col-sm-12">
                            <div class="modal_right js-data-to-add-cart">
                                <div class="modal_title mb-10">
                                    <h2 class="js-paste-good-title"></h2>
                                </div>
                                <div class="modal_price mb-10">
                                    <span class="new_price js-paste-good-price"></span>
                                    <span class="old_price js-paste-good-old-price"></span>
                                </div>
                                <div class="modal_description mb-15">
                                    <p class="js-paste-good-description"></p>
                                </div>
                                <div class="variants_selects">
                                    <div class="">
                                        <h4>Размер</h4>
                                        <select name="size_id" class="form-control js-paste-good-size">

                                        </select>
                                    </div>
                                    <br>
                                    <div class="">
                                        <h4>Цвет</h4>
                                        <select name="color_id" class="form-control js-paste-good-color">

                                        </select>
                                    </div>
                                    <br>
                                    <div class="modal_add_to_cart">
                                        <form>
                                            <input type="hidden" name="good_id" class="js-paste-good-id">
                                            <input name="amount" min="1" max="100" step="1" value="1" type="number">
                                            <button class="js-add-to-cart" type="submit">Добавить</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- modal area end-->

{%endblock%}
{% block js %}
<script>
    function get_filter_params() {
        let brand_checkouts = $(".js-brand-checkout:checked")
        let brand_ids = []
        for (let i = 0; i < brand_checkouts.length; i = i + 1) {
            brand_ids.push(brand_checkouts[i]['value'])
        }

        let category_checkouts = $(".js-category-checkout:checked")
        let category_ids = []
        for (let i = 0; i < category_checkouts.length; i = i + 1) {
            category_ids.push(category_checkouts[i]['value'])
        }

        let size_checkouts = $(".js-size-checkout:checked")
        let size_ids = []
        for (let i = 0; i < size_checkouts.length; i = i + 1) {
            size_ids.push(size_checkouts[i]['value'])
        }

        let start_price = $(".js-start-price").val()
        let end_price = $(".js-stop-price").val()

        let loc_url = "?category_ids=" + category_ids + "&brand_ids=" + brand_ids + "&size_ids=" + size_ids + "&start_price=" + start_price + "&end_price=" + end_price + "&page=" + $('#js-page').val();

        location.search = loc_url

    }

    $('.js-filter-button').click(get_filter_params)

    function getSearchParams() {
        var p = {};
        location.search.replace(/[?&]+([^=&]+)=([^&]*)/gi, function (s, k, v) {
            p[k] = v
        })
        return p;
    }

    $('.js-page-button').click(function () {
        var web_data = getSearchParams()
        var web_page = $(this).parents('li').find('[name="page"]').val();
        web_data.page = web_page
        var web_url = ""
        var count = 0
        for (const [key, value] of Object.entries(web_data)) {
            var a = ""
            if (count == 0) {
                a = "?" + key + "=" + value
            } else {
                a = "&" + key + "=" + value
            }
            web_url += a
            count += 1
        }
        location.href = '/' + web_url
    })

    $('.js-quick-view').click(function () {
        var good_id = $(this).parents('.single_product').find('[name="good_id"]').val();
        var new_data = {'action': 'get_good', 'good_id': good_id}
        $.ajax({
            type: 'GET',
            dataType: 'json',
            url: '/',
            data: new_data,
            success: function (d) {
                if (d['_success'] && d['item']) {
                    $('.js-paste-good-price').text("₸" + d['item'].price)
                    $('.js-paste-good-old-price').text("₸" + d['item'].old_price)
                    $('.js-paste-good-title').text(d['item'].title)
                    var sizes = d['item'].sizes
                    if (sizes) {
                        for (let i = 0; i < sizes.length; i = i + 1) {
                            $(".js-paste-good-size").append(new Option(sizes[i].title, sizes[i]._id));
                        }
                    }
                    var colors = d['item'].colors
                    if (colors) {
                        for (let i = 0; i < colors.length; i = i + 1) {
                            $(".js-paste-good-color").append(new Option(colors[i].title, colors[i]._id));
                        }
                    }

                    $('.js-paste-good-color').text(d['item'].color)
                    $('.js-paste-good-id').val(d['item']._id)
                    var img_src = d['item'].photo
                    $(".js-paste-good-photo").html('<img src="/static/uploads/' + img_src + '" alt="">');
                    $('.js-paste-good-description').text(d['item'].description)
                } else {
                    alert("errors")
                }
            },
            error: function (d) {
                alert("errors!")
            }
        });
        return false;
    })

    function add_to_cart(new_data) {
        console.log(new_data)
        $.ajax({
            type: 'POST',
            dataType: 'json',
            url: '/api/cart/item/',
            data: JSON.stringify(new_data),
            success: function (d) {
                if (d['_success'] == true) {
                    alert("good")
                    location.reload()
                } else {
                    alert("errors")
                }
            },
            error: function (d) {
                alert("errors!")
            }
        });
        return false;
    }

    $('.js-add-to-cart').click(function () {
        var new_data = getValues('.js-data-to-add-cart')
        new_data.action = 'add_to_cart'
        console.log(new_data)
        add_to_cart(new_data)
        return false
    })

    function reset_url() {
        window.location.href = '/'
    }

    $('.sort').change(function (){
        window.location.href = '/?sort=' + $(this).val()
    })


</script>
{% endblock %}