{% extends 'admin/base.html' %}
{% block css_file %}
<link rel="stylesheet" type="text/css" href="/css/dropzone.css">
{% endblock %}
{% block header %}
{% endblock %}
{% block container %}
<div class="new_data card">
    <div class="card-body">
        <div class="row">
            <div class="col">
                <div class="mb-3 row">
                    <label class="col-sm-3 col-form-label">Название</label>
                    <div class="col-sm-9">
                        <input class="form-control" type="text" name="title">
                    </div>
                </div>
                <div class="mb-3 row g-3">
                    <label class="col-sm-3 col-form-label">Категории</label>
                    <div class="col-xl-5 col-sm-9">
                        <select class="datepicker-here form-control digits" name="category_id">
                            <option value="">Выберите</option>
                            {% for ct in category %}
                            <option value="{{ct._id}}">{{ct.title}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="mb-3 row g-3">
                    <label class="col-sm-3 col-form-label">Бренд</label>
                    <div class="col-xl-5 col-sm-9">
                        <select class="datepicker-here form-control digits" name="brand_id">
                            <option value="">Выберите</option>
                            {% for brand in brands %}
                            <option value="{{brand._id}}">{{brand.title}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="mb-3 row g-3">
                    <label class="col-sm-3 col-form-label">Накладной</label>
                    <div class="col-xl-5 col-sm-9">
                        <select class="datepicker-here form-control digits" name="overhead_id">
                            <option value="">Выберите</option>
                            {% for x in overheads %}
                            <option value="{{x._id}}">{{x.title}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label class="col-sm-3 col-form-label">Описание</label>
                    <div class="col-sm-9">
                        <textarea class="form-control" name="description"></textarea>
                    </div>
                </div>
                <div class="mb-3 row g-3">
                    <label class="col-sm-3 col-form-label">Цвет</label>
                    <div class="col-xl-5 col-sm-9">
                        <select class="datepicker-here form-control digits" name="color_ids" multiple>
                            {% for color in colors %}
                            <option value="{{color._id}}">{{color.title}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="mb-3 row g-3">
                    <label class="col-sm-3 col-form-label">Размер</label>
                    <div class="col-xl-5 col-sm-9">
                        <select class="datepicker-here form-control digits" name="size_ids" multiple>
                            {% for size in sizes %}
                            <option value="{{size._id}}">{{size.title}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label class="col-sm-3 col-form-label">Старая цена</label>
                    <div class="col-sm-9">
                        <input class="form-control" type="number" value="0" name="old_price">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label class="col-sm-3 col-form-label">Цена</label>
                    <div class="col-sm-9">
                        <input class="form-control" type="number" value="0" name="price">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label class="col-sm-3 col-form-label">Цена покупки</label>
                    <div class="col-sm-9">
                        <input class="form-control" type="number" value="0" name="purchase_price">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label class="col-sm-3 col-form-label">Количество</label>
                    <div class="col-sm-9">
                        <input class="form-control" type="number" value="0" name="count">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label class="col-sm-3 col-form-label">Скидка</label>
                    <div class="col-sm-9">
                        <input class="form-control" value="0" type="number" name="discount">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label class="col-sm-3 col-form-label"></label>
                    <div class="col-sm-9">
                        <input type="hidden" name="is_new" id="is_new" value="0">
                        <input class="form-check-input" id="invalidCheck" type="checkbox" onclick="change_is_new()">
                        <label class="form-check-label" for="invalidCheck">Новый</label>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label class="col-sm-3 col-form-label"></label>
                    <div class="col-sm-9">
                        <input type="hidden" name="is_hot" id="is_hot" value="0">
                        <input class="form-check-input" id="isHotCheck" type="checkbox" onclick="change_is_hot()">
                        <label class="form-check-label" for="isHotCheck">В тренде</label>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label class="col-sm-3 col-form-label">Фото</label>
                    <div class="col-sm-9" data-name="photo">
                        <input type="hidden" name="photo">
                        <input class="form-control" type="file" id="new">
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="card-footer text-end">
        <div class="col-sm-9 offset-sm-3">
            <a href="#" class="btn btn-primary add_new">Создать</a>
            <a href="#" class="btn btn-danger" onclick="js_redirect()">Выйти</a>
        </div>
    </div>
</div>
{% endblock %}
{% block js_file %}
<script src="/js/manage.js"></script>
<script src="/js/dropzone.js"></script>
<script src="/js/dropzone-script.js"></script>
<script src="/js/tooltip-init.js"></script>
{% endblock %}
{% block js %}
<script>
    function change_is_new(){
        if (document.getElementById('invalidCheck').checked){
            $('#is_new').val("1")
        }else {
            $('#is_new').val("0")
        }
    }
    function change_is_hot(){
        if (document.getElementById('isHotCheck').checked){
            $('#is_hot').val("1")
        }else {
            $('#is_hot').val("0")
        }
    }

    $('.add_new').click(function () {
        var new_data = getValues('.new_data')
        new_data.action = "create"
        if (new_data.is_new == "0"){
            new_data.is_new = false
        }else if(new_data.is_new == "1"){
            new_data.is_new = true
        }

        if (new_data.is_hot == "0"){
            new_data.is_hot = false
        }else if(new_data.is_hot == "1"){
            new_data.is_hot = true
        }

        $.ajax({
            type: 'POST',
            dataType: 'json',
            url: '/api/goods/',
            data: JSON.stringify(new_data),
            success: function (d) {
                if (d['_success'] == true) {
                    alert("good");
                    location.reload();
                }else {
                    alert(d['message'])
                }
            },
            error: function (d) {
                alert("errors")
            }
        });
        return false;
    });
    $('[type="file"]').change(function () {
        var trigger_name = $(this).parents('.col-sm-9').data('name');
        var input_name = $(this).closest('.col-sm-9').find('[name="' + trigger_name + '"]');
        uploadImage($(this).attr('id')).then(function (data) {
            input_name.val(String(data['file name']));
        }, function (data) {
            alert('error');
        });
    });
    function js_redirect() {
        window.location.href = '/api/goods/'
    }
</script>
{% endblock %}