<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Магазин</title>
    <!-- Google font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&amp;display=swap"
          rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.css">
    <!-- ico-font-->
    <link rel="stylesheet" type="text/css" href="/css/icofont.css">
    <!-- Themify icon-->
    <link rel="stylesheet" type="text/css" href="/css/themify.css">
    <!-- Flag icon-->
    <link rel="stylesheet" type="text/css" href="/css/flag-icon.css">
    <!-- Feather icon-->
    <link rel="stylesheet" type="text/css" href="/css/feather-icon.css">
    <link rel="stylesheet" type="text/css" href="/css/scrollbar.css">
    <link rel="stylesheet" type="text/css" href="/css/select2.css">
    <link rel="stylesheet" type="text/css" href="/css/owlcarousel.css">
    <link rel="stylesheet" type="text/css" href="/css/range-slider.css">
    <!-- Bootstrap css-->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <!-- App css-->
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link id="color" rel="stylesheet" href="/css/color-1.css" media="screen">
    <!-- Responsive css-->
    <link rel="stylesheet" type="text/css" href="/css/responsive.css">
</head>
<body>
<!-- tap on top starts-->
<div class="tap-top"><i data-feather="chevrons-up"></i></div>
<!-- tap on tap ends-->
<!-- Loader starts-->
<div class="loader-wrapper">
    <div class="loader"></div>
</div>
<!-- Loader ends-->
<!-- page-wrapper Start-->
<div class="page-wrapper compact-wrapper" id="pageWrapper">
    <!-- Page Body Start-->
    <div class="page-body-wrapper">
        <!-- Page Sidebar Ends-->
        <div class="">
            <div class="container-fluid">
                <div class="page-title">
                    <div class="row">
                        <div class="col-6">
                            <h3>Продукты</h3>
                        </div>
                        <div class="col-6">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#"> <i data-feather="home"></i></a></li>
                                <li class="breadcrumb-item">Магазин</li>
                                <li class="breadcrumb-item active">Продукты</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Container-fluid starts-->
            <div class="container-fluid product-wrapper">
                <div class="product-grid">
                    <div class="feature-products">
                        <div class="row m-b-10">
                            <div class="col-md-3 col-sm-2 products-total">
                                <div class="square-product-setting d-inline-block"><a class="icon-grid grid-layout-view"
                                                                                      href="javascript:void(0)"
                                                                                      data-original-title title><i
                                        data-feather="grid"></i></a></div>
                                <div class="square-product-setting d-inline-block"><a
                                        class="icon-grid m-0 list-layout-view" href="javascript:void(0)"
                                        data-original-title title><i data-feather="list"></i></a></div>
                                <div class="d-none-productlist filter-toggle">
                                    <h4 class="mb-0">Filters<span class="ms-2"><i class="toggle-data"
                                                                                  data-feather="chevron-down"></i></span>
                                    </h4>
                                </div>
                                <div class="grid-options d-inline-block">
                                    <ul>
                                        <li><a class="product-2-layout-view" href="javascript:void(0)"
                                               data-original-title title><span
                                                class="line-grid line-grid-1 bg-primary"></span><span
                                                class="line-grid line-grid-2 bg-primary"></span></a></li>
                                        <li><a class="product-3-layout-view" href="javascript:void(0)"
                                               data-original-title title><span
                                                class="line-grid line-grid-3 bg-primary"></span><span
                                                class="line-grid line-grid-4 bg-primary"></span><span
                                                class="line-grid line-grid-5 bg-primary"></span></a></li>
                                        <li><a class="product-4-layout-view" href="javascript:void(0)"
                                               data-original-title title><span
                                                class="line-grid line-grid-6 bg-primary"></span><span
                                                class="line-grid line-grid-7 bg-primary"></span><span
                                                class="line-grid line-grid-8 bg-primary"></span><span
                                                class="line-grid line-grid-9 bg-primary"></span></a></li>
                                        <li><a class="product-6-layout-view" href="javascript:void(0)"
                                               data-original-title title><span
                                                class="line-grid line-grid-10 bg-primary"></span><span
                                                class="line-grid line-grid-11 bg-primary"></span><span
                                                class="line-grid line-grid-12 bg-primary"></span><span
                                                class="line-grid line-grid-13 bg-primary"></span><span
                                                class="line-grid line-grid-14 bg-primary"></span><span
                                                class="line-grid line-grid-15 bg-primary"></span></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-9 col-sm-10 text-end"><span class="f-w-600 m-r-5">Showing Products 1 - 24 Of 200 Results</span>
                                <div class="select2-drpdwn-product select-options d-inline-block">
                                    <select class="form-control btn-square" name="select">
                                        <option value="opt1">Lowest Prices</option>
                                        <option value="opt2">Highest Prices</option>
                                        <option value="opt3">Featured</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="pro-filter-sec">
                                    <div class="product-sidebar">
                                        <div class="filter-section">
                                            <div class="card">
                                                <div class="card-header">
                                                    <h4 class="mb-0 f-w-600">Фильтрация<span class="pull-right"><i
                                                            class="fa fa-chevron-down toggle-data"></i></span></h4>
                                                </div>
                                                <div class="left-filter">
                                                    <div class="card-body filter-cards-view animate-chk">
                                                        <div class="product-filter">
                                                            <h6 class="f-w-600">Category</h6>
                                                            <div class="checkbox-animated mt-0">
                                                                {% for ct in category %}
                                                                <label class="d-block" for="edo-ani5">
                                                                    <input class="checkbox_animated" name="category_id" id="edo-ani5"
                                                                           type="checkbox" data-original-title title>{{ct.title}}
                                                                </label>
                                                                {% endfor %}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product-search">
                                        <form>
                                            <div class="form-group m-0">
                                                <input class="form-control" type="search" placeholder="Search.."
                                                       data-original-title title><i class="fa fa-search"></i>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="product-wrapper-grid">
                        <div class="row">
                            {% for good in goods %}
                            <div class="col-xl-3 col-lg-4 col-sm-6 xl-3">
                                <div class="card">
                                    <div class="product-box">
                                        <div class="product-img">
                                            {% if good.is_new %}
                                            <div class="ribbon ribbon-danger">New</div>
                                            {% endif %}
                                            {% if good.discount %}
                                            <div class="ribbon ribbon-success ribbon-right">{{good.discount}}%</div>
                                            {% endif %}
                                            <img class="img-fluid" src="/static/uploads/{{good.photo}}" alt>
                                            <div class="product-hover">
                                                <ul>
                                                    <li><a href="#"><i class="icon-shopping-cart"></i></a></li>
                                                    <li><a data-bs-toggle="modal" data-bs-target="#exampleModalCenter1"><i
                                                            class="icon-eye"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="modal fade" id="exampleModalCenter1">
                                            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <div class="product-box row">
                                                            <div class="product-img col-lg-6"><img class="img-fluid"
                                                                                                   src="/static/uploads/{{good.photo}}"
                                                                                                   alt></div>
                                                            <div class="product-details col-lg-6 text-start"><a
                                                                    href="#">
                                                                <h4>{{good.title}}</h4></a>
                                                                <div class="product-price">${{good.price}}
                                                                    <del>${{good.old_price}}</del>
                                                                </div>
                                                                <div class="product-view">
                                                                    <h6 class="f-w-600">Описание</h6>
                                                                    <p class="mb-0">{{good.description}}</p>
                                                                </div>
                                                                <div class="product-size">
                                                                    <ul>
                                                                        <li>
                                                                            <button class="btn" type="button">M</button>
                                                                        </li>
                                                                        <li>
                                                                            <button class="btn" type="button">L</button>
                                                                        </li>
                                                                        <li>
                                                                            <button class="btn" type="button">Xl
                                                                            </button>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                                <div class="product-qnty">
                                                                    <h6 class="f-w-600">Количества</h6>
                                                                    <fieldset>
                                                                        <div class="input-group">
                                                                            <input class="touchspin text-center"
                                                                                   type="text" value="5">
                                                                        </div>
                                                                    </fieldset>
                                                                    <div class="addcart-btn"><a
                                                                            class="btn btn-primary me-3"
                                                                            href="/cart/">Добавить в корзину</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <button class="btn-close" type="button" data-bs-dismiss="modal"
                                                                aria-label="Close"></button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-details"><a href="product-page.html">
                                            <h4>{{good.title}}</h4></a>
                                            <div class="product-price">${{good.price}}
                                                <del>${{good.old_price}}</del>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <!-- Container-fluid Ends-->
        </div>
    </div>
</div>
<!-- latest jquery-->
<script src="/js/jquery-3.6.0.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>
<!-- feather icon js-->
<script src="/js/feather.min.js"></script>
<script src="/js/feather-icon.js"></script>
<script src="/js/simplebar.js"></script>
<script src="/js/custom.js"></script>
<!-- Sidebar jquery-->
<script src="/js/config.js"></script>
<script src="/js/sidebar-menu.js"></script>
<script src="/js/ion.rangeSlider.min.js"></script>
<script src="/js/rangeslider-script.js"></script>
<script src="/js/vendors.min.js"></script>
<script src="/js/touchspin.js"></script>
<script src="/js/input-groups.min.js"></script>
<script src="/js/owl.carousel.js"></script>
<script src="/js/select2.full.min.js"></script>
<script src="/js/select2-custom.js"></script>
<script src="/js/tooltip-init.js"></script>
<script src="/js/product-tab.js"></script>
<!-- Theme js-->
<script src="/js/script.js"></script>
</body>
</html>