{% extends 'admin/base.html' %}
{% block header %}
<div class="col-6">
    <h3>Пользователи</h3>
</div>
<div class="col-6">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"> <i data-feather="home"></i></a></li>
        <li class="breadcrumb-item active">Пользователи</li>
    </ol>
</div>
{% endblock %}
{% block container %}
<div class="col-sm-12">
    <div class="col-md-12 project-list">
        <div class="card">
            <div class="row">
                <div class="col-md-6 p-0 d-flex">
                </div>
                <div class="col-md-6 p-0">
                    <div class="form-group mb-0 me-0"></div>
                    <a class="btn btn-primary" href="/api/users/create/" data-bs-original-title="" title="">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                             stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                             class="feather feather-plus-square">
                            <rect x="3" y="3" width="18" height="18" rx="2" ry="2"></rect>
                            <line x1="12" y1="8" x2="12" y2="16"></line>
                            <line x1="8" y1="12" x2="16" y2="12"></line>
                        </svg>
                        Создать</a>
                </div>
            </div>
        </div>
    </div>
    <div class="card">


        <div class="card-body">
            <div class="col-sm-12">

                <div class="card">
                    <div class="card-body">

                        <div class="table-responsive">

                            <table class="table table-hover" role="grid">
                                <thead>
                                <tr role="row">
                                    <th>Ф.И</th>
                                    <th>username</th>
                                    <th>email</th>
                                    <th>Роли</th>
                                    <th>Действия</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for dt in data %}
                                <tr role="row" class="js-cont" data-id="{{ dt._id }}">
                                    <td>
                                        <span>{{dt.last_name}} {{dt.first_name}}</span>
                                    </td>
                                    <td>
                                        <span>{{dt.username}}</span>
                                    </td>
                                    <td>
                                        <span>{{ dt.email }}</span>
                                    </td>
                                    <td>
                                        <span>
                                            {% if dt.roles %}
                                            {% for d in dt.scope %}
                                            {{ d }}<br/>
                                            {% endfor %}
                                            {% endif %}
                                        </span>
                                    </td>
                                    <td>
                                        <a class="btn btn-pill btn-warning btn-air-warning btn-air-warning"
                                           href="/api/users/{{dt._id}}"><i
                                                class="bx bx-edit-alt me-1"></i>Edit</a>
                                        <a class="btn btn-pill btn-danger btn-air-danger js-remove" href="#"><i
                                                class="bx bx-trash me-1"></i>Delete</a>
                                    </td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% if _range %}
        <div class="card-body">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-end pagination-primary">
                    {% for i in range(1, (_range + 1)) %}
                    <li class="page-item {% if i == page %} active {% endif %}"><a class="page-link"
                                                                                   href="/api/users/list?page={{i}}&status={{status}}">{{i}}</a>
                    </li>
                    {% endfor %}
                </ul>
            </nav>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
{% block js %}
<script>
    $('.js-remove').click(function () {
        var new_id = $(this).parents('tr').data('id');

        var new_data = getValues('.js-cont[data-id="' + new_id + '"]')
        new_data.action = 'delete'
        $.ajax({
            type: 'POST',
            dataType: 'json',
            url: '/api/users/' + new_id,
            data: JSON.stringify(new_data),
            success: function (d) {
                if (d['_success'] == true) {
                    alert("good")
                    location.reload()
                } else {
                    alert(d['message'])
                }
            },
            error: function (d) {
                alert("errors!")
            }
        });
        return false;
    });
</script>
{% endblock %}