<!DOCTYPE html>
<html lang="zxx" class="js">
<meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Login</title>
    <link rel="stylesheet" href="/static/css/dashlite55a0.css?ver=3.2.0">
    <link id="skin-default" rel="stylesheet" href="/static/css/theme55a0.css?ver=3.2.0">
</head>
<body>
<div class="nk-app-root">
    <div class="nk-main ">
        <div class="nk-wrap nk-wrap-nosidebar">
            <div class="nk-content ">
                <div class="nk-block nk-block-middle nk-auth-body  wide-xs">
                    <div class="card card-bordered">
                        <div class="card-inner card-inner-lg" id="data-items">
                            <div class="nk-block-head">
                                <div class="nk-block-head-content"><h4 class="nk-block-title">Sign-In</h4></div>
                            </div>
                            <div class="form-group">
                                <div class="form-label-group">
                                    <label class="form-label"
                                           for="default-01">username
                                    </label>
                                </div>
                                <div class="form-control-wrap">
                                    <input type="text"
                                           name="username"
                                           class="form-control form-control-lg"
                                           id="default-01"
                                           placeholder="Enter your username">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-label-group">
                                    <label class="form-label"
                                           for="password">password
                                    </label>
                                </div>
                                <div class="form-control-wrap">
                                    <a href="#"
                                       class="form-icon form-icon-right passcode-switch lg"
                                       data-target="password"><em
                                            class="passcode-icon icon-show icon ni ni-eye"></em><em
                                            class="passcode-icon icon-hide icon ni ni-eye-off"></em>
                                    </a>
                                    <input type="password" class="form-control form-control-lg" id="password"
                                           name="password"
                                           placeholder="Enter your password">
                                </div>
                            </div>
                            <div class="form-group">
                                <button onclick="login()" class="btn btn-lg btn-primary btn-block">Sign in</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="nk-footer nk-auth-footer-full">
                    <div class="container wide-lg">
                        <div class="row g-3">
                            <div class="col-lg-12">
                                <div class="nk-block-content text-center text-lg-left">
                                    <p class="text-soft">&copy; 2024 Management. All Rights Reserved.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/static/js/manage.js"></script>
<script src="/static/js/jquery-3.7.1.min.js"></script>
<script src="/static/js/bundle55a0.js?ver=3.2.0"></script>
<script src="/static/js/scripts55a0.js?ver=3.2.0"></script>
<script src="/static/js/demo-settings55a0.js?ver=3.2.0"></script>
<script src="/static/js/admin/auth.js"></script>

</body>
</html>